#cabinet-search-fts {
  padding: 0 15px 0 20px;
}
.cabinet-search-columns {
  width: 100%;
}
.cabinet-main-column {
  float: left;
  width: 62%;
}
.cabinet-side-column {
  float: right;
  width: 37%;
  overflow: hidden;
}
.cabinet-side-searchbar {
  border: solid 1px #E8E8E8;
  margin-bottom: 10px;
}
.cabinet-searchbar-row {
  margin-top: 10px;
}
.cabinet-searchbar-row-label {
  font-size: 12px;
  display: block;
  margin-bottom: 2px;
}
.cabinet-main-content {
  padding: 10px 15px 10px 10px;
}
.cabinet-search-message-container {
  padding: 8px 60px 8px 10px;
  text-align: right;
}
.cabinet-search-message {
  color: #595750;
}
.search-result-item-garoon {
  font-size: 13px;
  padding: 0 0 3px 15px;
  border-bottom: 1px solid #CCC;
}
.search-result-item-garoon h3 {
  margin: 7px 0 5px;
  font-size: 14px;
  font-weight: bold;
}
.search-result-item-garoon p {
  color: #595750;
  margin: 0;
}
.cabinet-searchbar-submit {
  margin-bottom: 10px;
}
#cabinet-search-more-container {
  padding: 8px 60px 8px 10px;
  text-align: right;
}
#cabinet-search-more {
  display: inline-block;
  height: 50px;
  padding-left: 60px;
  background: transparent url(../../../image/cybozu/btn-more.png) no-repeat 0 50%;
  color: #85CC85;
  font-weight: bold;
  line-height: 50px;
}
#cabinet-search-more:hover {
  background: url(../../../image/cybozu/btn-more-hover.png) no-repeat;
  color: #5AB35A;
}
.cabinet-search-radio {
  white-space: nowrap;
}
.cabinet-search-radio input {
  padding-right: 2px;
  vertical-align: middle;
}
.search-input-label {
  font-size: 12px;
  padding-right: 10px;
}
.cabinet-search-checkbox input {
  margin: 2px 5px 1px 0;
  vertical-align: middle;
}
.button-search-submit {
  width: 200px;
  display: inline-block;
  margin: 0;
  padding: 3px 20px;
  border: 1px solid #5FBF4C;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #23BF00 url(../../../image/cybozu/btn-form-black-bg.png) repeat-x scroll 0 50%;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  text-shadow: 0 -1px 0 #0e4000;
}
.search-input-calendar {
  width: 100px;
}
.search-input-calendar:focus {
  outline: solid thin #FC0;
}
.search-result-item-image {
  border: none;
}
.cabinet-search-date-inputs {
  width: 235px;
}
.search-result-info {
  text-align: right;
  font-size: 85%;
}
.search-result-info img {
  margin-right: 3px;
  vertical-align: top;
}
.search-result-info-message {
  margin-right: 5px;
  color: #666;
}
.search-result-info-user {
  margin-right: 10px;
  color: #333;
}
.search-result-info-datetime {
  margin-right: 0;
  color: gray;
}
.search-result-file img {
  float: left;
  width: 48px;
  vertical-align: top;
}
.search-result-file span {
  padding-left: 5px;
}
.search-result-item-text {
  clear: both;
}
.search-result-snippet strong {
  background-color: #E5DCD3;
}
