.goog-date-picker,.goog-date-picker th,.goog-date-picker td{
font:13px Arial,sans-serif
}

.goog-date-picker{
-moz-user-focus:normal;
-moz-user-select:none;
border:1px solid #B6B6B6;
float:left;
padding:2px;
color:#000;
background-color: #FAFAFA;
background-image:-webkit-gradient(radial, center top, 0, center top, 80, from(rgba(255,255,255,1.0)), to(rgba(255,255,255,0)));
background-image:-moz-radial-gradient(center top, circle farthest-side, rgba(255,255,255,1.0), rgba(255,255,255,0));
box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.6),0px 2px 3px rgba(0,0,0,0.1);
border-radius: 5px;
cursor:default
}

.goog-date-picker th{
text-align:center
}

.goog-date-picker td{
text-align:center;
vertical-align:middle;
padding:1px 3px
}

.goog-date-picker-menu{position:absolute;
background:threedface;
border:1px solid gray;
-moz-user-focus:normal;
z-index:1;
outline:none
}

.goog-date-picker-menu ul{list-style:none;
margin:0;
padding:0
}

.goog-date-picker-menu ul li{
cursor:default
}

.goog-date-picker-menu-selected{
background:#ccf
}

.goog-date-picker th{
font-size:.9em
}

.goog-date-picker td div{
float:left
}

.goog-date-picker button{
padding:0;
margin:1px 0;
border:0;
color:#0A62AD;
font-weight:bold;
background:transparent
}

.goog-date-picker-date{
background:#f3f3f3
}

.goog-date-picker-wkend-start {
background: none repeat scroll 0% 0% #DEF1FE;
}

.goog-date-picker-wkend-end{
background: none repeat scroll 0% 0% #FEEBED;
}

.goog-date-picker-week,.goog-date-picker-wday{
padding:1px 3px;
border:0;
border-color:#C9C9C9;
border-style:solid
}

.goog-date-picker-week{
border-right-width:1px
}

.goog-date-picker-wday{
border-bottom-width:1px
}

.goog-date-picker-head td,td.goog-date-picker-today-cont,td.goog-date-picker-none-cont{
text-align:center
}

.goog-date-picker-month{
width:12ex
}

.goog-date-picker-year{
width:6ex
}

.goog-date-picker table{
border-collapse:collapse
}

.goog-date-picker-other-month{
color:#888
}

td.goog-date-picker-selected{
background:#afd6f2
}

.goog-date-picker-today{
background:#faea91;
font-weight:bold!important;
border-color:#FFFFFF;
}

.goog-date-picker{
position:absolute
}