/**
 * Message box style sheet for mobile
 */

.overlay-grn{
    background: black;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
}

.frame-message-grn{
  background-color:#f2f2f3;
  background-image:none;
  margin:15px;
  padding:15px;
  width:250px;
  border-radius: 5px;
  text-align:center;
  -webkit-box-shadow: rgba(40,40,40,1) 2px 5px 5px;
  z-index: 1001;
  position: absolute;
}

.bigicon-error-grn{
  background:url(../../image/cybozu/image-mobile/attention.png) no-repeat 0px 0px;
  display:inline-block;
  height:40px;
  width:40px;
  vertical-align:-12px;
  -webkit-background-size: 40px 40px;
  padding-bottom:10px;
  padding-right:10px;
}

.content-error-grn{
  display:inline-block;
  width:178px;
  padding-bottom:10px;
  text-shadow:none;
}

.button-grn{
  display: inline-block;
}
