div.overlayWindow{
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
    width : 50%;
    top : 25%;
    left : 25%;
    border : 3px solid #606364;
    background-color : white;
    padding : 0;
}

a.overlayCloseButton{
    position:absolute;
    right : 5px;
    top : 5px;
    text-decoration:none;
}

/* overlay */
overlay-grn{
    position:absolute;
    top:0;
    left:0;
    background-color:black;
    -moz-opacity:0.50; /*FF*/
    opacity:0.50;
    z-index : 1001;
}
