.portal_is_open {
    float: left;
    vertical-align: middle;
}

.portal_delete_link_grn {
    float: right;
    vertical-align: middle;
}

.access_list_info_grn img {
    padding-bottom: 2px;
}

.access_info_tooltip_grn {
    display: none;
    margin: 0;
    padding: 10px;
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    min-height: 30px;
    top: 100px;
    left: 20px;
    position: absolute;
    white-space: nowrap;
}

#portal_setting_main_area {
}

.portal_setting_left_area_grn {
    height: 100%;
    width: 170px;
    vertical-align: top;
}

.left_area_handler {
    width: 10px;
}

.portal_setting_right_area_grn {
    height: 100%;
    vertical-align: top;
    padding: 5px;
}

.fixed_portlet_area {
    position: fixed;
    top: 30px;
    z-index: 100;
}

li {
    margin: 0;
    padding: 0;
    outline: 0;
}

.portal_layout_table_grn {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-color: #999;
    list-style: none;
}

.portal_layout_table_grn td {
    height: 100%;
}

.portlet_frame.private {
    background: #e3e3e3;
}

.portlet_frame.droppable .drop_text {
    position: relative;
    top: 25%;
    color: #5588fe;
}

.portlet_row_table_grn {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    min-height: 30px;
    border-collapse: collapse;
}

.portlet_row_table_grn .portlet_frame_head_grn {
    width: 20px;
    vertical-align: middle;
}

.portlet_row_table_grn .portlet_frame_draggable_tab_grn {
    margin: 5px 9px 5px 5px;
    padding: 0;
    height: 80%;
    width: 3px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.portlet_row_table_grn .portlet_frame_portlet_name_grn .sub_title {
    color: #333;
}

.portlet_row_table_grn .portlet_frame_open_button_grn {
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}

.portlet_row_table_grn .portlet_frame_setting_icon_grn {
    width: 25px;
}

.pulldown_menu_grn.portlet_setting_menu {
    display: none;
    z-index: 200;
}

.drop_portlet_div_grn {
    display: block;
    height: 50px;
    background-color: #e1edf9;
    border: 2px dashed #3084c1;
    margin: 5px;
}

.portlet_setting_droppable_area {
    height: 100%;
    padding-bottom:10px;
}

.wrapping_portlet_frame {
    position: absolute;
    z-index: 101;
    background: #000000;
    opacity: 0.07;
    filter: alpha(opacity = 7);
    height: 100%;
}
