#spinner_area {
    position: relative;
}
#spinner_for_ajax {
    position: absolute;
}
#queue_monitor_area {
    width: 90%;
    position: relative;
}
#queue_delete_button {
    position: absolute;
    right: 10px;
    top: -28px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    vertical-align: middle;
    padding: 3px 7px;
    display: block;
    background: #ce4a44;
    border: 1px solid #ce4a44;
    border-bottom-color: #a6504c;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
}
#queue_delete_button:hover {
    background: #f44848;
}
#monitor_table {
    width: 100%;
    border-spacing: 2px;
    border-collapse: collapse;
    display: table;
}
#monitor_table th {
    width: 15%;
    color: #666;
    background-color: #ebebeb;
    font-weight: bold;
    border: #c9c9c9 solid 1px;
    padding: 3px;
}
#monitor_table td {
    width: 85%;
    border: #c9c9c9 solid 1px;
    padding: 3px;
    word-break: break-all;
}
#no_queue_message, #queue_monitor_error_message {
    color: #555;
    font-weight: bold;
}
#remaining_queue_number_div {
    text-align: right;
}
#remaining_queue_number_label {
    font-weight: bold;
    color: #666;
}
#queue_monitor_response_error_text {
    margin: 15px;
}
