body {
background-color: #FFFFFF;
color: #222222;
line-height: 1.2;
}

/* content */
.mainarea {
margin-bottom: 20px;
}
/* content end */

/* menupart */
.relation_subwindow_menupart_grn {
top: 0;
left: 0;
position: fixed;
width: 100%;
z-index: 1000;
padding: 10px;
background-color: #f3f3f3;
border-bottom: 1px solid #d6d6d6;
box-shadow: 0 1px 2px #e3e3e3;
}
.fix_menupart_margin_grn {
height: 50px;
}
/* menupart end */

/* table */
.std_form TH {
padding: 8px 10px 8px 8px;
background: #f9f9f9;
color: #666666;
font-size: 90%;
font-weight: normal;
text-align: right;
}
.std_form TD {
padding: 5px;
}
.wrap_dropdown_menu TD {
padding: 0;
}
/* table end */