/* common */
body {
    background-color:#ffffff;
    background-image:url(../image/cybozu/dragon/bg.gif);
    background-repeat:repeat;
}
/* common end */

/* header */
.cloudHeader-grn {
    background-color:#ac060a;
    background-image:url(../image/cybozu/dragon/hd_bg.png);
    background-position:0 0;
    background-repeat:repeat-x;
}

#headerimage{
    display:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #d68385;
}

.cloudHeader-grnNotification-grn .cloudHeader-grnNotification-count-grn {
    background:#ff2100;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus ,
.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#7b0000;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #7b0000;
}
/* header end */

/* appmenu */
.applicationMenu-grn {
    background-image:url(../image/cybozu/dragon/appmenu_bg.png);
    background-color:#ffffff;
    background-position:0 0;
    background-repeat:repeat-x;
}

.application_menu {
    margin:16px 0 16px 10px;
}

div.appmenuToggleWrapper {
    background-color:rgba(0,0,0,0.1);
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/dragon/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/dragon/gr_appmenu_togglebar_symbol_open.svg);
}

.icon-appMenu-portal{background-image: url(../image/cybozu/image-common/appicon_type05/portal32_type05.png);}
.icon-appMenu-space{background-image: url(../image/cybozu/image-common/appicon_type05/space32_type05.png);}
.icon-appMenu-link{background-image: url(../image/cybozu/image-common/appicon_type05/link32_type05.png);}
.icon-appMenu-schedule{background-image: url(../image/cybozu/image-common/appicon_type05/schedule32_type05.png);}
.icon-appMenu-facility{background-image: url(../image/cybozu/image-common/appicon_type05/facility32_type05.png);}
.icon-appMenu-message{background-image: url(../image/cybozu/image-common/appicon_type05/msg32_type05.png);}
.icon-appMenu-bulletin{background-image: url(../image/cybozu/image-common/appicon_type05/bulletin32_type05.png);}
.icon-appMenu-cabinet{background-image: url(../image/cybozu/image-common/appicon_type05/file32_type05.png);}
.icon-appMenu-memo{background-image: url(../image/cybozu/image-common/appicon_type05/memo32_type05.png);}
.icon-appMenu-phonemessage{background-image: url(../image/cybozu/image-common/appicon_type05/telmemo32_type05.png);}
.icon-appMenu-timecard{background-image: url(../image/cybozu/image-common/appicon_type05/timecard32_type05.png);}
.icon-appMenu-todo{background-image: url(../image/cybozu/image-common/appicon_type05/todolist32_type05.png);}
.icon-appMenu-address{background-image: url(../image/cybozu/image-common/appicon_type05/address32_type05.png);}
.icon-appMenu-mail{background-image: url(../image/cybozu/image-common/appicon_type05/mail32_type05.png);}
.icon-appMenu-workflow{background-image: url(../image/cybozu/image-common/appicon_type05/workflow32_type05.png);}
.icon-appMenu-report{background-image: url(../image/cybozu/image-common/appicon_type05/report32_type05.png);}
.icon-appMenu-rss{background-image: url(../image/cybozu/image-common/appicon_type05/rss32_type05.png);}
.icon-appMenu-star{background-image: url(../image/cybozu/image-common/appicon_type05/star32_type05.png);}
.icon-appMenu-notification{background-image: url(../image/cybozu/image-common/appicon_type05/notify32_type05.png);}
.icon-appMenu-defaultmenu{background-image: url(../image/cybozu/image-common/appicon_type05/defaultmenu32_type05.png);}

.applicationMenu-grn .margin_bottom .appmenu-item a:link ,
.applicationMenu-grn .margin_bottom .appmenu-item a:visited {
    text-shadow:#ffffff 0px 0px 8px;
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#ac060a;
}

.tab_off {
    background-color:#dddddd;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#dddddd;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-color:#e6e6e6;
    background-image:url(../image/cybozu/dragon/portletTitle_bg.png);
    background-repeat:repeat-x;
    border-top:1px solid #c3c3c3;
    border-bottom:1px solid #c3c3c3;
}
/* global navi end */

/* contents */
#content{
    background-image:url(../image/cybozu/dragon/bg_dragon.gif);
    background-repeat:no-repeat;
    background-position:right bottom;
    background-attachment:fixed;
}

.mainarea {
    margin:0;
    padding-top:4px;
}

.mainarea_portal_base_grn {
    margin-top:7px;
}

.mainarea,
.mainarea_full_grn,
.maincontents_list_td,
.std_form,
.mainarea-mail,
.mainarea_full_grn .mainarea-mail #menu_part {
  background: transparent;
}

.mainarea_portal_base_grn {
    background:transparent;
}

.std_form th {
    background:#e6e6e6;
}

.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#e6e6e6;
}

/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#e3e3e3;
}

.naviColumn .hilight {
    background-color:#d3d3d3;
    border:2px solid #d3d3d3;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#eeeeee;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#e6e6e6;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#f0f0f0;
}
/* tree view end */

/* portal */
.portlet_base_grn {
    box-shadow:0 0 0 0 rgba(255,255,255,0) inset, 0 0px 12px rgba(0,0,0,.2);
    border:1px solid #dddddd;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#8d8d8d;
    border:1px solid #8d8d8d;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#8d8d8d;
    border:1px solid #8d8d8d;
}
/* schedule end */

/* mail */
.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#8d8d8d url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#7c7c7c;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#d9d9d9;
    border:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#d9d9d9;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/dragon/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/dragon/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/dragon/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/dragon/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn{
    border-top:1px solid #888888;
    border-bottom:1px solid #c0c0c0;
    background-color:#e2e2e2;
    background-image:url(../image/cybozu/dragon/footer_bg.gif);
    background-repeat:repeat-x;
}

.move_top_grn {
    background:#b9b9b9 url("../image/cybozu/dragon/move_top.png") no-repeat center top;
}
.move_top_grn:hover {
    background:#a6a6a6 url("../image/cybozu/dragon/move_top_hover.png") no-repeat center top;
}

.credit {
    color:#666666;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}