/* common */
body {
    background:#e7d6af url(../image/cybozu/americancomic/bg.png);
}
/* common end */

/* header */
.cloudHeader-grn {
    background-color:#a3752c;
    background-image:url(../image/cybozu/americancomic/hd_bg.png);
    background-repeat:repeat-x;
    box-shadow:0 1px 3px rgba(0,0,0,.8);
}

#headerimage{
    display:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #decbad;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus ,
.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#67491b;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #67491b;
}
/* header end */

/* appmenu */
.application_menu {
    margin-top:0;
}

.applicationMenu-grn .margin_bottom {
    margin-top:0;
    margin-bottom:10px;
}

.applicationMenu-grn {
    background-color:transparent;
    background:url(../image/cybozu/americancomic/appmenu_main.png) , url(../image/cybozu/americancomic/appmenu_bg.png);
    background-position:left 41px , left -22px;
    background-repeat:no-repeat , repeat-x;
    padding-top:110px;
}

.applicationMenu-grn .icon-appMenu-message {background-image: url(../image/cybozu/americancomic/msg_dark32.svg);}
.applicationMenu-grn .icon-appMenu-star {background-image: url(../image/cybozu/americancomic/star_dark32.svg);}

div.appmenuToggleWrapper {
    border-top:1px solid #e7d3a4;
    border-bottom:1px solid #a4997e;
    text-align:center;
    cursor:pointer;
    background:#d5c6a4;
}

div.appmenuToggleWrapper div.appmenuExpand {
    background:url(../image/cybozu/americancomic/gr_appmenu_togglebar_symbol_close.png) no-repeat center;
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background:url(../image/cybozu/americancomic/gr_appmenu_togglebar_symbol_open.png) no-repeat center;
}

.applicationMenu-grn .margin_bottom .appmenu-item a:link ,
.applicationMenu-grn .margin_bottom .appmenu-item a:visited {
    color:#261003;
}

.applicationMenu-grn .margin_bottom .appmenu-item a:hover {
    color:#CC3300;
}

.applicationMenu-grn .margin_bottom .appmenu-item a {
    text-shadow:#ffffff 0px 0px 6px;
}

.applicationMenu-grn .margin_bottom .appmenu-item {
    margin:0;
}

.applicationMenu-grn .margin_bottom .appmenu-item a {
    padding:4px 8px;
    background:rgba(246, 232, 199, 0.82);
    border-radius:3px;
}

.applicationMenu-grn .margin_bottom .appmenu-item a:hover {
    background:rgba(246, 232, 199, 0.9);
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#9d8242;
}

.tab_off {
    background-color:#eee1c2;
}

.portal_tabgroup_grn .tab_off {
    background:rgba(157, 130, 66, 0.42);
}

.portal_tabgroup_grn .tab_off a:link , 
.portal_tabgroup_grn .tab_off a:visited ,
.portal_tabgroup_grn .tab_off a:hover {
    color:#ffffff;
    text-shadow:#8b540a 0px 0px 6px;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background:rgba(55, 34, 20, 0.13);
}

.tab_sub_grn li.active {
  border-bottom: 1px solid #fff7e4;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background:#ecdfc2 url(../image/cybozu/americancomic/global_navi_bg.png) repeat-x;
    border-bottom:1px solid #b3a074;
}
/* global navi end */

/* contents */
.mainarea ,
.mainarea_full_grn {
    background:url(../image/cybozu/americancomic/content_bg.png) no-repeat right 30%;
    background-color:#fff7e4;
}

.mainarea {
    border:1px solid #b8a98b;
}

.maincontents_list_td,
.std_form,
.mainarea-mail,
.mainarea_full_grn .mainarea-mail #menu_part {
  background-color: transparent;
}

.mainarea_portal_base_grn {
    background:transparent;
    margin-bottom:0;
}

.std_form th {
    background:#e9e9e9;
}

.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#eee1c2;
}

.unread_color {
    background:#fef7cf;
    border:1px solid #d5b970;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#dacbaa;
}

.naviColumn .hilight {
    background-color:#ceba84;
    border:2px solid #ceba84;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#f1e6cd;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#ead9b2;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#ead9b2;
}
/* tree view end */

/* portal */
.portlet_base_grn {
    background-image:url(../image/cybozu/americancomic/portletTitle_bg.png);
    background-repeat:repeat-x;
    border:1px solid #b8a98b;
}

table.top_title a:link ,
table.top_title a:visited ,
.list_column td.top_title a:link ,
.list_column td.top_title a:visited {
    color:#1c6ea7;
}

.top_parts .list_column ,
.top_parts .list_column th {
    background-color:transparent;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#9d8242;
    border:1px solid #9d8242;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#9d8242;
    border:1px solid #9d8242;
}
/* schedule end */

/* mail */
.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#9d8242 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#8b7235;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#eee1c2;
    border:1px solid #eee1c2;
    border-bottom:1px solid #eee1c2;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#eee1c2;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/americancomic/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/americancomic/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/americancomic/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/americancomic/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn {
    background:url(../image/cybozu/americancomic/footer_bg.png) repeat-x center;
}

.move_top_grn {
    background:transparent url(../image/cybozu/americancomic/move_top.png) no-repeat center center;
}

.move_top_grn:hover {
    background:transparent url(../image/cybozu/americancomic/move_top_hover.png) no-repeat center center;
}

.credit {
    color:#6a5606;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}