/* common */
body {
    background-color:#fffbf5;
    background-image:url(../image/cybozu/bear/appmenu_bg.png);
    background-position:0 -20px;
}
/* common end */

/* header */
.cloudHeader-grn {
    background-color:#d2b196;
    background:url(../image/cybozu/bear/hd_bg2.png) , url(../image/cybozu/bear/hd_bg.png);
    background-position:center -40px , 0 0;
    background-repeat:no-repeat , repeat-x;
    box-shadow:none;
}

#headerimage{
    display:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #eee2d9;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus ,
.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#b88969;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #b88969;
}
/* header end */

/* appmenu */
.applicationMenu-grn {
    background-color:transparent;
}

.applicationMenu-grn .margin_bottom{
    margin-top:16px;
    margin-bottom:16px;
}

div.appmenuToggleWrapper {
    background-color:#ffffff;
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/bear/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/bear/gr_appmenu_togglebar_symbol_open.svg);
}

.icon-appMenu-portal{background-image: url(../image/cybozu/image-common/appicon_type03/portal32_type03.png);}
.icon-appMenu-space{background-image: url(../image/cybozu/image-common/appicon_type03/space32_type03.png);}
.icon-appMenu-link{background-image: url(../image/cybozu/image-common/appicon_type03/link32_type03.png);}
.icon-appMenu-schedule{background-image: url(../image/cybozu/image-common/appicon_type03/schedule32_type03.png);}
.icon-appMenu-facility{background-image: url(../image/cybozu/image-common/appicon_type03/facility32_type03.png);}
.icon-appMenu-message{background-image: url(../image/cybozu/image-common/appicon_type03/msg32_type03.png);}
.icon-appMenu-bulletin{background-image: url(../image/cybozu/image-common/appicon_type03/bulletin32_type03.png);}
.icon-appMenu-cabinet{background-image: url(../image/cybozu/image-common/appicon_type03/file32_type03.png);}
.icon-appMenu-memo{background-image: url(../image/cybozu/image-common/appicon_type03/memo32_type03.png);}
.icon-appMenu-phonemessage{background-image: url(../image/cybozu/image-common/appicon_type03/telmemo32_type03.png);}
.icon-appMenu-timecard{background-image: url(../image/cybozu/image-common/appicon_type03/timecard32_type03.png);}
.icon-appMenu-todo{background-image: url(../image/cybozu/image-common/appicon_type03/todolist32_type03.png);}
.icon-appMenu-address{background-image: url(../image/cybozu/image-common/appicon_type03/address32_type03.png);}
.icon-appMenu-mail{background-image: url(../image/cybozu/image-common/appicon_type03/mail32_type03.png);}
.icon-appMenu-workflow{background-image: url(../image/cybozu/image-common/appicon_type03/workflow32_type03.png);}
.icon-appMenu-report{background-image: url(../image/cybozu/image-common/appicon_type03/report32_type03.png);}
.icon-appMenu-rss{background-image: url(../image/cybozu/image-common/appicon_type03/rss32_type03.png);}
.icon-appMenu-star{background-image: url(../image/cybozu/image-common/appicon_type03/star32_type03.png);}
.icon-appMenu-notification{background-image: url(../image/cybozu/image-common/appicon_type03/notify32_type03.png);}
.icon-appMenu-defaultmenu{background-image: url(../image/cybozu/image-common/appicon_type03/defaultmenu32_type03.png);}

.applicationMenu-grn .margin_bottom .appmenu-item a {
    text-shadow:#ffffff 0px 0px 8px;
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#b88969;
}

.tab_off {
    background-color:#f7edde;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#ffffff;
}

.portal_tabgroup_grn .tab_off a:link , 
.portal_tabgroup_grn .tab_off a:visited ,
.portal_tabgroup_grn .tab_off a:hover {
    text-shadow:#ffffff 0px 0px 8px;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-color:#fff2dc;
    background-image:url(../image/cybozu/bear/portletTitle_bg.gif);
    background-repeat:repeat-x;
    border-bottom:1px solid #e6d8bc;
}
/* global navi end */

/* contents */
.mainarea {
    border:4px solid #ebded3;
}

.mainarea_portal_base_grn {
    border:0;
}

.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#f7eee1;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#ebe0ce;
}

.naviColumn .hilight {
    background-color:#ded3c0;
    border:2px solid #ded3c0;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#fbf5ed;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#f7edde;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#f4eadd;
}
/* tree view end */

/* portal */
.portlet_base_grn {
    border:4px solid #ebded3;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#f08492;
    border:1px solid #f08492;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#f08492;
    border:1px solid #f08492;
}
/* schedule end */

/* mail */
.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#f08492 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#f07888;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#f7edde;
    border:1px solid #f7edde;
    border-bottom:1px solid #f7edde;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#f7edde;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/bear/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/bear/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/bear/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/bear/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn{
    background:#e5d7c6 url("../image/cybozu/bear/footer_bg.gif") repeat-x 0 center;
}

.move_top_grn {
    width:32px;
    height:32px;
    margin:1px 10px 1px 0;
    background:transparent url("../image/cybozu/bear/move_top.png") no-repeat center center;
}

.move_top_grn:hover {
    background:transparent url("../image/cybozu/bear/move_top_hover.png") no-repeat center center;
}

.credit {
    color:#bd987f;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}