body {
font-size: 95%;
color: #333333;
background-color: #FFFFFF;
background-image: url(../image/cybozu/bg_transparent.png); /* hack IE6 */
background-attachment:fixed; /* hack IE6 */
}

#headerimage {
  display:none;
}

.appmenu-item a:link, .appmenu-item_e a:link, .appmenu-item a:visited, .appmenu-item_e a:visited {
color: #35586E;
text-shadow: #aedefc 0px 1px;
text-decoration: none;
}

.appmenu-item a:hover,.appmenu-item_e a:hover {
color:#CC3300;
text-decoration: none;
text-shadow: none;
}

button.appmenu {
color: #35586E;
text-decoration: none;
}

.applicationMenu-grn {
padding-top: 27px;
background-image: url(../image/cybozu/default/bg-appmenu.jpg);
background-repeat: no-repeat;
background-position: 0px 20px;
background-color: #A6E0EC;
}

div.appmenuToggleWrapper {
border-top: 1px solid #EEEEEE;
border-bottom: 1px solid #BBBBBB;
background-color: #CCCCCC;
background-repeat: repeat-x;
box-shadow: 0px 1px 2px #BBBBBB;
text-align: center;
cursor: pointer;
}

div.appmenuToggleWrapper div.appmenuExpand {
background-image: url(../image/cybozu/default/gr_appmenu_togglebar_symbol_close.jpg);
background-repeat: no-repeat;
background-position: center;
font-size: 1px;
width: 101px;
margin-right: auto;
margin-left: auto;
}

div.appmenuToggleWrapper div.appmenuCollapse {
background-image: url(../image/cybozu/default/gr_appmenu_togglebar_symbol_open.jpg);
background-repeat: no-repeat;
background-position: center;
font-size: 1px;
width: 101px;
margin-right: auto;
margin-left: auto;
}

/* tab */
.tab_on, .tab_on a:link, .tab_on a:visited {
color: #F9F9F9;
text-decoration: none;
font-weight: bold;
}

.tab_on a:hover {
color: #FFD940;
text-decoration: none;
font-weight: bold;
}

.tab_off a:link, .tab_off a:visited {
color: #565656;
text-decoration: none;
text-shadow: #ffffff 0px 1px;
}

.tab_off a:hover {
color: #CC3300;
text-decoration: none;
text-shadow: #ffffff 0px 1px;
}

.tab_left_on {
background-image: url(../image/cybozu/default/tab_left_on.png);
background-repeat: no-repeat;
}

.tab_on {
background-image: url(../image/cybozu/default/tab_back_on.png);
background-repeat: repeat-x;
background-color: #26B8E4;
}

.tab_right_on {
background-image: url(../image/cybozu/default/tab_right_on.png);
background-repeat: no-repeat;
}

.tab_left_off {
background-image: url(../image/cybozu/default/tab_left.png);
background-repeat: no-repeat;
}

.tab_off {
background-image: url(../image/cybozu/default/tab_back.png);
background-repeat: repeat-x;
background-color: #E7E7E8;
}

.tab_right_off {
background-image: url(../image/cybozu/default/tab_right.png);
background-repeat: no-repeat;
}

.tab_menu_end {
clear: both;
height: 6px;
background-color: #26b8e4;
font-size: 1px;
}

/* global_navi */
.global_navi {
color: #565656;
}

.globalNavi-item-grn {
height: 20px;
}

.global_navi, .global_navi_title {
background-color: #dadada;
background-image: url(../image/cybozu/default/pathbar_bg.jpg);
background-repeat: repeat-x;
background-position: 0px 0px;
border-bottom: 1px solid #C6C6C6;
box-shadow:inset 0 1 2px #000000;
box-shadow: 0px 1px 2px #ccc;
margin-bottom: 5px;
}

/* contents */
#main_menu_part,#menu_part,#rare_menu_part {
background-color: #EDEDED;
border-radius: 5px 5px 5px 5px;
padding: 2px 5px 2px 5px;
margin: 5px 0px 5px 0px;
}

.list_menu {
padding: 2px;
margin-top: 5px;
height: 1.5em;
background-color: #EDEDED;
}

div.main_menu_part .list_menu {
}

.list_column TH {
background-color: #D6D6D6;
color: #555555;
}

.lineone {
background-color:#F2F2F2;
}

.linetwo {
background-color:#FFFFFF;
}

.common-border-grn {
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #FFFFFF;
font-size: 0px;
height: 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.follow-border-grn {
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #FFFFFF;
font-size: 0px;
height: 0px;
margin-bottom: 7px;
margin-top: 0px;
}

.hilight,.tree-select-current {
background-color: #96d3e6;
}

.naviColumn {
background:#DDDDDD;
}

.unread_color {
background-color: #FEF6E4;
border: 1px solid #EAC273;
}

/* tree view */
#tree_part {
background-color:#DEE4EB;
}

.tree-unread-num {
font-size: 90%;
}

/* portal */
TABLE.top_title {
background-color: #d5d5d5;
background-image: url(../image/cybozu/default/portletTitle_bg.jpg);
background-repeat: repeat-x;
}

TABLE.top_title a:link,TABLE.top_title a:visited{
color: #497B9E;
}

/* space */
.space-thread-inner-grn,.space-todo-inner-grn {
border-left: 1px solid #D4D4D4;
}

.space-thread-pager-grn {
border-top: 1px solid #CCCCCC;
}

.space-thread-followForm-grn {
background-color: #E9EFF6;
}

.space-thread-follow-grn {
border-top: 1px solid #D4D4D4;
border-bottom: 1px solid FFFFFF;
}

.space-threadRightList-tabCurrent-grn {
background-color: #eeeeee;
border: 1px solid #AAAAAA;
border-bottom: 1px solid #eeeeee;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.space-threadRightList-tab-grn {
border-top: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;
border-bottom: 1px solid #AAAAAA;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.space-threadRightList-body-grn {
background-color: #eeeeee;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
border-top: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;
}

.space-thread-comment-footer-grn a:link,.space-thread-comment-footer-grn a:visited,.space-todo-comment-footer-grn a:link,.space-todo-comment-footer-grn a:visited,.comment-grn a:link,.comment-grn a:visited,.bodytext_footer_grn a:link,.bodytext_footer_grn a:visited{
color: #6F99B6;
}

/* footer */
.footer_grn{
background-color: #dedede;
}

.credit {
color: #666666;
}

/* link-visited-hover summary */
a:link,a:visited,#main_menu_part a:link,#main_menu_part a:visited,#menu_part a:link,#menu_part a:visited,#footer a:link,#footer a:visited,.globalNavi-item-grn a:link, .globalNavi-item-grn a:visited {
color: #056FB8;
text-decoration: none;
}

a:hover,a:active,#main_menu_part a:hover,#menu_part a:hover,#footer a:hover,.globalNavi-item-grn a:hover, .globalNavi-item-grn a:active,.space-thread-comment-footer-grn a:hover,.space-todo-comment-footer-grn a:hover,TABLE.top_title a:hover,.comment-grn a:hover,.bodytext_footer_grn a:hover {
color: #CC3300;
text-decoration: underline;
}