/* common */
body {
    background:#fff url(../image/cybozu/geometric/bg.png) fixed;
}
/* common end */

/* header */
.cloudHeader-grn {
    background-image:url(../image/cybozu/geometric/hd_bg.png);
    background-repeat:repeat-x;
}

#headerimage{
    display:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #c7e1f6;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus ,
.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#4aa0e2;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #4aa0e2;
}
/* header end */

/* appmenu */
.applicationMenu-grn {
    background:#d3eaf9 url(../image/cybozu/geometric/appmenu_bg.png) repeat-x 0 0;
}

.applicationMenu-grn .margin_bottom {
    margin-top:16px;
    margin-bottom:16px;
}

div.appmenuToggleWrapper{
    background:#d1ecf6;
}

div.appmenuToggleWrapper div.appmenuExpand {
    background:url(../image/cybozu/geometric/gr_appmenu_togglebar_symbol_close.svg) no-repeat center;
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background:url(../image/cybozu/geometric/gr_appmenu_togglebar_symbol_open.svg) no-repeat center;
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#65aee7;
}

.tab_off {
    background-color:#d1ecf6;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#e1edf9;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-image:url(../image/cybozu/geometric/global_navi_bg.png);
    background-repeat:repeat;
    background-color:#c8e8f4;
}
/* global navi end */

/* contents */
#content {
    background:url(../image/cybozu/geometric/content_bg.png) no-repeat fixed right bottom;
}

.mainarea {
    margin:0;
    padding-top:4px;
}

.mainarea_portal_base_grn {
    margin-top:7px;
}

.mainarea,
.mainarea_full_grn,
.maincontents_list_td,
.std_form,
.mainarea-mail,
.mainarea_full_grn .mainarea-mail #menu_part {
  background: transparent;
}

.std_form th {
    background:#e3e3e3;
}

.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#d1ecf6;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#d1ecf6;
}

.naviColumn .hilight {
    background-color:#a9d2eb;
    border:2px solid #a9d2eb;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#e6f4fc;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#d1ecf6;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#e3eef4;
}
/* tree view end */

/* portal */
.portlet_base_grn {
    box-shadow:0 0 0 0 rgba(255,255,255,0) inset, 0 0px 8px rgba(0,0,0,.25);
    border:1px solid #ffffff;
    background-color:#ffffff;
    background-image:url(../image/cybozu/geometric/portletTitle_bg.png);
    background-repeat:repeat-x;
}

.top_parts .list_column ,
.top_parts .list_column th {
    background-color:transparent;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#65aee7;
    border:1px solid #65aee7;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#65aee7;
    border:1px solid #65aee7;
}
/* schedule end */

/* mail */
.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#65aee7 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#5097ce;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#d1ecf6;
    border:1px solid #d1ecf6;
    border-bottom:1px solid #d1ecf6;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#d1ecf6;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/geometric/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/geometric/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/geometric/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/geometric/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn{
    background:#def2f9 url(../image/cybozu/geometric/footer_bg.png) repeat-x;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
}

.move_top_grn {
    background:rgba(68, 154, 233, 0.4) url(../image/cybozu/image-common/move_top.png) no-repeat center center;
}

.move_top_grn:hover {
    background:rgba(68, 154, 233, 0.6) url(../image/cybozu/image-common/move_top.png) no-repeat center center;
}

.credit{
    color:#888888;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}