/* common */
body {
    background-color:#fafafa;
    background-image:url(../image/cybozu/paris/bg.gif);
}
/* common end */

/* header */
.cloudHeader-grn {
    background:#0055a4;
}

#headerimage{
    display:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #084175;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus ,
.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#013c71;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #013c71;
}
/* header end */

/* appmenu */
.applicationMenu-grn {
    padding-top:48px;
    background-color:#fbfbfa;
    background-image:url(../image/cybozu/paris/appmenu_bg.png);
    background-repeat:repeat-x;
    background-position:0 48px;
}

.applicationMenu-grn .margin_bottom{
    margin-top:20px;
    margin-bottom:7px;
}

div.appmenuToggleWrapper {
    background-image:url(../image/cybozu/paris/gr_appmenu_togglebar_wrapper_bg.svg);
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/paris/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/paris/gr_appmenu_togglebar_symbol_open.svg);
}

.icon-appMenu-portal{background-image: url(../image/cybozu/image-common/appicon_type01/portal32_type01.png);}
.icon-appMenu-space{background-image: url(../image/cybozu/image-common/appicon_type01/space32_type01.png);}
.icon-appMenu-link{background-image: url(../image/cybozu/image-common/appicon_type01/link32_type01.png);}
.icon-appMenu-schedule{background-image: url(../image/cybozu/image-common/appicon_type01/schedule32_type01.png);}
.icon-appMenu-facility{background-image: url(../image/cybozu/image-common/appicon_type01/facility32_type01.png);}
.icon-appMenu-message{background-image: url(../image/cybozu/image-common/appicon_type01/msg32_type01.png);}
.icon-appMenu-bulletin{background-image: url(../image/cybozu/image-common/appicon_type01/bulletin32_type01.png);}
.icon-appMenu-cabinet{background-image: url(../image/cybozu/image-common/appicon_type01/file32_type01.png);}
.icon-appMenu-memo{background-image: url(../image/cybozu/image-common/appicon_type01/memo32_type01.png);}
.icon-appMenu-phonemessage{background-image: url(../image/cybozu/image-common/appicon_type01/telmemo32_type01.png);}
.icon-appMenu-timecard{background-image: url(../image/cybozu/image-common/appicon_type01/timecard32_type01.png);}
.icon-appMenu-todo{background-image: url(../image/cybozu/image-common/appicon_type01/todolist32_type01.png);}
.icon-appMenu-address{background-image: url(../image/cybozu/image-common/appicon_type01/address32_type01.png);}
.icon-appMenu-mail{background-image: url(../image/cybozu/image-common/appicon_type01/mail32_type01.png);}
.icon-appMenu-workflow{background-image: url(../image/cybozu/image-common/appicon_type01/workflow32_type01.png);}
.icon-appMenu-report{background-image: url(../image/cybozu/image-common/appicon_type01/report32_type01.png);}
.icon-appMenu-rss{background-image: url(../image/cybozu/image-common/appicon_type01/rss32_type01.png);}
.icon-appMenu-star{background-image: url(../image/cybozu/image-common/appicon_type01/star32_type01.png);}
.icon-appMenu-notification{background-image: url(../image/cybozu/image-common/appicon_type01/notify32_type01.png);}
.icon-appMenu-defaultmenu{background-image: url(../image/cybozu/image-common/appicon_type01/defaultmenu32_type01.png);}

.applicationMenu-grn .margin_bottom .appmenu-item a {
    text-shadow:#ffffff 0px 0px 8px;
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#0055a4;
}

.tab_off {
    background-color:#e7eef5;
}

.portal_tabgroup_grn .tab_on {
    background-color:#ef4135;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#e1edf9;
}

.tab_sub_grn li.active {
  border-bottom: 1px solid #fafafa;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-color:#e2eaee;
    background-image:url(../image/cybozu/paris/portletTitle_bg.png);
    background-repeat:repeat-x;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
}
/* global navi end */

/* contents */
#content { 
    background-attachment:fixed;
    background-image:url(../image/cybozu/paris/bg_eiffel.gif);
    background-repeat:no-repeat;
    background-position:right bottom;
}

.mainarea {
    margin:0;
    padding-top:4px;
}

.mainarea_portal_base_grn {
    margin-top:7px;
}

.mainarea,
.mainarea_full_grn,
.maincontents_list_td,
.std_form,
.mainarea-mail,
.mainarea_full_grn .mainarea-mail #menu_part {
  background: transparent;
}

.std_form th {
    background:#e6e6e6;
}

.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#e7eef5;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#c3d5de;
}

.naviColumn .hilight {
    background-color:#c3d5de;
    border:2px solid #c3d5de;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#eaf2f7;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#dceaf1;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#e0eef4;
}
/* tree view end */

/* portal */
.portlet_base_grn {
    box-shadow:0 0 0 0 rgba(255,255,255,0) inset, 0 0px 6px rgba(0,0,0,.14);
    border:1px solid #dae2ea
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#0055a4;
    border:1px solid #0055a4;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#0055a4;
    border:1px solid #0055a4;
}
/* schedule end */

/* mail */
.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#0055a4 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#053a6b;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#e5f1f7;
    border:1px solid #e5f1f7;
    border-bottom:1px solid #e5f1f7;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#e5f1f7;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/paris/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/paris/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/paris/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/paris/btn-threadrightlist-grip.svg);
}

/* footer */
.move_top_grn {
    background:#0055a4 url("../image/cybozu/image-common/move_top.png") no-repeat center center;
    margin:3px;
}

.move_top_grn:hover {
    background:#ef4135 url("../image/cybozu/image-common/move_top.png") no-repeat center center;
}

.footer_grn{
    padding:0 0 1px 0;
    background-color:transparent;
    border-top:5px solid #0055a4;
    border-bottom:5px solid #ef4135;
}

#footer table {
    border: 0 none;
    border-collapse: collapse;
}

#footer table td {
    padding:0;
}

.credit {
    color:#888888;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}