/* common */
body {
    background: url(../image/cybozu/bluewave/appmenu_bg.png) no-repeat left top, url(../image/cybozu/bluewave/appmenu_main.png) no-repeat right top, url(../image/cybozu/bluewave/content_bg.png) no-repeat fixed left bottom;
    background-color:#0d0d0d;
}
/* common end */

/* header */
#headerimage {
    display:none;
}

.cloudHeader-grn {
    background-color:rgba(13,13,13,0.6);
    box-shadow:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #5c7a86;
}

.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#073c58;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus {
    background-color:#14648e;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #14648e;
}
/* header end */

/* appmenu */
.applicationMenu-grn {
    background-color:transparent;
}

div.appmenuToggleWrapper {
    background:rgba(255, 255, 255, 0.3);
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/bluewave/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/bluewave/gr_appmenu_togglebar_symbol_open.svg);
}

.applicationMenu-grn .margin_bottom .appmenu-item a:link ,
.applicationMenu-grn .margin_bottom .appmenu-item a:visited {
    color:#f6f6f6;
}

.applicationMenu-grn .margin_bottom .appmenu-item a:hover {
    color:#FFC879;
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#0c4b71;
}

.tab_off {
    background-color:#e6e6e6;
}

.portal_tabgroup_grn .tab_off a:link , 
.portal_tabgroup_grn .tab_off a:visited ,
.portal_tabgroup_grn .tab_off a:hover {
    color:#f6f6f6;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#666666;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background:rgba(255, 255, 255, 0.8);
}
/* global navi end */

/* contents */
.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#e9e9e9;
}

.unread_color {
    background:#f7f3d3;
    border:1px solid #eadc8a;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#c4d1d9;
}

.naviColumn .hilight {
    background-color:#adbbc5;
    border:2px solid #adbbc5;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#e1eaf0;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#d1d9de;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#e3e3e3;
}
/* tree view end */

/* portal */
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#0c4b71;
    border:1px solid #0c4b71;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#0c4b71;
    border:1px solid #0c4b71;
}
/* schedule end */

/* mail */
.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#0c4b71 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#093956;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#d1d9de;
    border:1px solid #d1d9de;
    border-bottom:1px solid #d1d9de;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#d1d9de;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/bluewave/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/bluewave/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/bluewave/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/bluewave/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn {
    background: rgba(255, 255, 255, 0.4) url(../image/cybozu/bluewave/footer_bg.png) no-repeat left center;
}

.move_top_grn {
    background: rgba(218, 226, 231, 0.4) url(../image/cybozu/image-common/move_top.png) no-repeat center center;
}

.move_top_grn:hover {
    background: rgba(218, 226, 231, 0.3) url(../image/cybozu/image-common/move_top.png) no-repeat center center;
}

.credit {
    color: #cfd4dc;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}