/* common */
body {
    background-color:#000000;
    background-image:url(../image/cybozu/black/bg.jpg);
    background-repeat:repeat-x;
    background-position:0 48px;
}
/* common end */

/* header */
#headerimage {
    display:none;
}
/* header end */

/* appmenu */
.applicationMenu-grn {
    background-color:transparent;
}

div.appmenuToggleWrapper {
    background-color:#808080;
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/black/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/black/gr_appmenu_togglebar_symbol_open.svg);
}

.applicationMenu-grn .margin_bottom .appmenu-item a:link ,
.applicationMenu-grn .margin_bottom .appmenu-item a:visited {
    color:#eeeeee;
}

.applicationMenu-grn .margin_bottom .appmenu-item a:hover {
    color:#FFC879;
}
/* appmenu end */

/* tab */
.tab_off {
    background-color:#e6e6e6;
}

.portal_tabgroup_grn .tab_off a:link , 
.portal_tabgroup_grn .tab_off a:visited ,
.portal_tabgroup_grn .tab_off a:hover {
    color:#eeeeee;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#666666;
}

.tab_sub_grn li.active {
  border-bottom: 1px solid #f9f9fa;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-color:#e3e3e3;
}
/* global navi end */

/* contents */
.mainarea ,
.mainarea_full_grn {
    background-color:#f9f9fa;
    background-image:url(../image/cybozu/black/main_bg.gif);
    background-repeat:repeat;
}

.maincontents_list_td,
.std_form,
.mainarea-mail,
.mainarea_full_grn .mainarea-mail #menu_part {
  background-color: transparent;
}

.mainarea_portal_base_grn {
    background:transparent;
}

.std_form th {
    background:#e6e6e6;
}

.list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#e6e6e6;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current{
    background-color:#dbdbdb;
}

.naviColumn .hilight {
    background-color:#999999;
    border:2px solid #999999;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#e6e6e6;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#dbdbdb;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#e3e3e3;
}
/* tree view end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#e2e3e4;
    border:1px solid #e2e3e4;
    border-bottom:1px solid #e2e3e4;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#e2e3e4;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/black/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/black/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/black/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/black/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn {
    background-color:#e3e3e3;
    line-height:1;
}

.move_top_grn {
    background:#666666 url("../image/cybozu/image-common/move_top.png") no-repeat center center;
}

.move_top_grn:hover {
    background:#333333 url("../image/cybozu/image-common/move_top.png") no-repeat center center;
}

.credit {
    color:#888888;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}