/* common */
body {
    font-size:100%;
    color:#000000;
    background-color:#f7f7ff;
}

input[type="text"] ,
.input_text_grn ,
button ,
input[type="button"] ,
input[type="submit"] ,
.aButtonStandard-grn a:link ,
.aButtonStandard-grn a:visited ,
.button_standard_disable_grn a:link ,
.button_standard_disable_grn a:visited ,
.button_post_normal_grn .aButtonStandard-grn a:link ,
.button_post_normal_grn .aButtonStandard-grn a:visited ,
.button_post_normal_grn .button_standard_disable_grn a:link ,
.button_post_normal_grn .button_standard_disable_grn a:visited ,
.reaction_info_area_grn .buttonPostMain-grn a:link , 
.reaction_info_area_grn .buttonPostMain-grn a:visited ,
.reaction_info_area_grn .button_attention_grn a:link , 
.reaction_info_area_grn .button_attention_grn a:visited ,
.aButtonStandard-grn button ,
.mail-listButton-grn a ,
.mail-listCheckButton-grn a ,
.mail-ButtonStatus-grn a ,
.mail-listButtonDisable-grn a ,
.button_group_li_grn .button_group_item_grn ,
.button_group_li_grn .button_group_item_grn:hover ,
.button_group_li_grn .button_group_item_grn:active , 
.navi_viewchange_base_select_grn span ,
.navi_viewchange_base_grn ,
.navi_viewchange_base_grn:link ,
.navi_viewchange_base_grn:visited ,
.pulldownbutton_standard_grn a ,
.search_target_button_grn a ,
.search-schedule-ButtonType-grn a {
    height:24px;
    line-height:24px;
    font-size:13px;
}

.list_container_grn .aButtonStandard-grn a:link , 
.small_button_base_grn .aButtonStandard-grn a:link {
    height:24px;
    line-height:24px;
}

.listcheck_button_grn , 
.mail-listCheck-grn {
    width:24px;
    height:24px;
    line-height:24px;
}

button ,
input[type="button"] ,
input[type="submit"] {
    padding:0 8px;
}

input ,
input[type="text"] {
    padding:0 4px;
}

.button1_main_grn a:link , 
.button1_main_grn a:visited , 
.button1_main_grn a:link , 
.button1_main_grn a:visited ,
.button1_normal_grn a:link , 
.button1_normal_grn a:visited , 
.button1_normal_grn a:link , 
.button1_normal_grn a:visited,
.button1_attention_grn a:link , 
.button1_attention_grn a:visited , 
.button1_attention_grn a:link , 
.button1_attention_grn a:visited ,
.buttonPostMain-grn a:link ,
.buttonPostMain-grn a:visited ,
.button_attention_grn a:link ,
.button_attention_grn a:visited {
    padding:8px;
    min-width:80px;
    font-size:16px;
}

.button1_main_grn a:link , 
.button1_main_grn a:visited , 
.button1_main_grn a:active ,
#btn_lock ,
#main_menu_part .aButtonStandard-grn button#btn_lock ,
.buttonPostMain-grn a:link ,
.buttonPostMain-grn a:visited ,
.mail-receiveButton1-grn a ,
.mail-receiveButton1-grn a:link ,
.mail-receiveButton1-grn a:visited ,
.mail-receiveButton-grn a ,
.mail-receiveButton-grn a:active ,
.mail-receiveButton-grn a:link ,
.mail-receiveButton-grn a:visited ,
.button_state_on_grn a:link ,
.button_state_on_grn a:visited ,
.buttonFollowOn-grn a:link ,
.buttonFollowOn-grn a:visited {
    background-color:#51a1db;
    border:1px solid #51a1db;
    border-radius:4px;
}

.button1_main_grn a:hover,
#btn_lock:hover ,
#main_menu_part .aButtonStandard-grn button#btn_lock:hover ,
.buttonPostMain-grn a:hover ,
.mail-receiveButton1-grn a.receiving_one:hover ,
.mail-receiveButton1-grn a.receiving_all:hover ,
.mail-receiveButton-grn a.receiving_one:hover ,
.mail-receiveButton-grn a.receiving_all:hover {
    background:#0b5fb4;
    border:1px solid #0b5fb4;
    color:#FFFFFF;
}

.button1_main_grn a:link , 
.button1_main_grn a:visited , 
.button1_main_grn a:link , 
.button1_main_grn a:visited ,
.button1_normal_grn a:link , 
.button1_normal_grn a:visited , 
.button1_normal_grn a:link , 
.button1_normal_grn a:visited,
.button1_attention_grn a:link , 
.button1_attention_grn a:visited , 
.button1_attention_grn a:link , 
.button1_attention_grn a:visited {
    border-radius:4px;
}

.mail-receiveButton-grn a.receiving_one.only ,
.mail-receiveButton1-grn a.receiving_one.only {
    border-radius:4px;
}

.mail-receiveButton-grn a.receiving_one ,
.mail-receiveButton1-grn a.receiving_one {
    border-radius:4px 0 0 4px;
}

.mail-receiveButtonMouseOut-grn ,
.mail-receiveButtonMouseDown-grn ,
.mail-receiveButtonMouseOver-grn ,
.mail-receiveButtonMouseUp-grn {
    border-left:0;
}

.mail-receiveButton-grn a.receiving_all ,
.mail-receiveButton-grn a.receiving_all:hover ,
.mail-receiveButton1-grn a.receiving_all ,
.mail-receiveButton1-grn a.receiving_all:hover {
    border-radius:0 4px 4px 0;
    border-left:1px solid #fff;
}

.mail-receiveButton-grn font ,
.mail-receiveButton1-grn font {
    padding:0 4px;
}

.searchbox-grn .input-text-cybozu ,
.searchbox-grn .searchbox-submit-cybozu {
    height:24px;
    line-height:24px;
}

select {
    min-height:24px;
    font-size:13px;
}

@-moz-document url-prefix() { /* FF */
select {
    padding-top:0;
}
}

.selectmenu_grn > dt > a,
.selectmenu_disable_grn {
  line-height: 24px;
  height: 24px !important;
  font-weight: 400;
}

.selectmenu_grn a:link , 
.selectmenu_grn a:visited , 
.selectmenu_grn a:hover , 
.selectmenu_grn a:active , 
.selectmenu_disable_grn ,
.selectmenu_disable_filter_grn a:link , 
.selectmenu_disable_filter_grn a:hover ,
.selectmenu_disable_filter_grn a:visited {
    font-size:13px;
}

.portal_frame .aButtonStandard-grn a:link ,
.portal_frame .aButtonStandard-grn a:visited ,
.portal_frame .button_sandard_disable_grn a:link ,
.portal_frame .button_sandard_disable_grn a:visited ,
.portlet_base_grn .aButtonStandard-grn > a {
    padding:0 8px;
}

.portal_frame .check_button_base_grn .aButtonStandard-grn a:link ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:visited ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:link ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:visited {
    padding:2px 4px;
    height:24px;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active , 
.navi_viewchange_theme_grn .navi_viewchange_base_select_grn span ,
.navi_viewchange_theme_grn .navi_viewchange_base_grn ,
.navi_viewchange_theme_grn .navi_viewchange_base_grn:link ,
.navi_viewchange_theme_grn .navi_viewchange_base_grn:visited ,
.portlet_base_grn .navi_viewchange_base_select_grn span ,
.portlet_base_grn .navi_viewchange_base_grn ,
.portlet_base_grn .navi_viewchange_base_grn:link ,
.portlet_base_grn .navi_viewchange_base_grn:visited {
    padding:0 8px;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .navi_viewchange_base_grn ,
.navi_viewchange_theme_grn .navi_viewchange_base_grn:link ,
.navi_viewchange_theme_grn .navi_viewchange_base_grn:visited ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .navi_viewchange_base_grn ,
.portlet_base_grn .navi_viewchange_base_grn:link ,
.portlet_base_grn .navi_viewchange_base_grn:visited {
    background-color:#f7f7ff;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:link ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:visited ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active ,
.navi_viewchange_theme_grn .navi_viewchange_base_select_grn span ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:link ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:visited ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active ,
.portlet_base_grn .navi_viewchange_base_select_grn span {
    background:#4d71d0;
    border-color:#4d71d0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .navi_viewchange_left_grn ,
.navi_viewchange_theme_grn .navi_viewchange_left_grn span ,
.navi_viewchange_theme_grn .navi_viewchange_left_grn:link ,
.navi_viewchange_theme_grn .navi_viewchange_left_grn:visited ,
.navi_viewchange_theme_grn .navi_viewchange_left_select_grn span ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .navi_viewchange_left_grn ,
.portlet_base_grn .navi_viewchange_left_grn span ,
.portlet_base_grn .navi_viewchange_left_grn:link ,
.portlet_base_grn .navi_viewchange_left_grn:visited ,
.portlet_base_grn .navi_viewchange_left_select_grn span {
    border-radius:4px 0 0 4px;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:last-child .button_group_item_grn ,
.navi_viewchange_theme_grn .navi_viewchange_right_grn ,
.navi_viewchange_theme_grn .navi_viewchange_right_grn span ,
.navi_viewchange_theme_grn .navi_viewchange_right_grn:link ,
.navi_viewchange_theme_grn .navi_viewchange_right_grn:visited ,
.navi_viewchange_theme_grn .navi_viewchange_right_select_grn span ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:last-child .button_group_item_grn ,
.portlet_base_grn .navi_viewchange_right_grn ,
.portlet_base_grn .navi_viewchange_right_grn span ,
.portlet_base_grn .navi_viewchange_right_grn:link ,
.portlet_base_grn .navi_viewchange_right_grn:visited ,
.portlet_base_grn .navi_viewchange_right_select_grn span {
    border-radius:0 4px 4px 0;
}

.icon-buttonArrowLeft-grn ,
.icon-buttonArrowRight-grn ,
.icon-buttonArrowRightBehind-grn {
    margin-top:-2px;
}

.mainarea h2 {
    font-size:18px;
    margin:2px 8px 2px 0;
}
/* common end */

/* header */
#headerimage {
    display:none;
}

.cloudHeader-grn ,
.header_left_area_grn ,
.header_right_area_grn ,
.cloudHeader-adminSettings-grn ,
.cloudHeader-grn h1 {
    height:27px;
}

.cloudHeader-grn {
    height:27px;
    background-color:#060001;
    background: url(../image/cybozu/image-common/bg-cloudHeader.png) repeat-x left top;
}

.cloudHeader-logo-grn {
    padding:4px 10px;
    height:27px;
}

.header_logo_com_grn {
    width:100px;
}

.header_logo_cn_grn {
    width:82px;
}

.header_logo_grn {
    width:90px;
}

.header_logo_com_grn ,
.header_logo_cn_grn ,
.header_logo_grn {
    background-size:auto 20px;
}

.cloudHeader-logo-grn img {
    min-height:18px;
    max-height:18px;
}

.header_appmenu_grn .header_appmenu_title_grn ,
.header_home_grn ,
.cloudHeader-notification-icon-grn ,
.cloudHeader_reaction_icon_grn ,
.cloudHeader-spaceApplicationTitle-grn span.cloudHeader_space_icon_grn ,
.cloudHeader-adminSettings-grn {
    background-size:16px 16px;
}

.cloudHeader-admin-grn , 
.cloudHeader-adminSettings-grn ,
.cloudHeader-grnNotification-grn , 
.cloudHeader-home-grn , 
.cloudHeader-spaceApplication-grn , 
.header_appmenu_grn , 
.header_home_grn ,
.cloudHeader-userProfile-grn ,
.cloudHeader-grnNotificationTitle-grn , 
.cloudHeader-spaceApplicationTitle-grn , 
.header_appmenu_grn .header_appmenu_title_grn ,
.cloudHeader-userName-grn {
    height:26px;
}

.header_appmenu_grn .header_appmenu_title_grn ,
.header_home_grn ,
.cloudHeader-adminSettings-grn {
    width:32px;
}

.cloudHeader-notification-icon-grn ,
.cloudHeader_reaction_icon_grn ,
.cloudHeader-spaceApplicationTitle-grn span.cloudHeader_space_icon_grn {
    height:16px;
    width:16px;
}

.cloudHeader-dropdownMenu-grn .cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-grn .cloudHeader-spaceApplicationTitle-grn {
    padding:0 10px;
}

.cloudHeader-grnNotification-grn .cloudHeader-grnNotification-count-grn {
    margin:0 0 0 4px !important;
    left:0px !important;
    top:0px !important;
    position:relative !important;
}

.cloudHeader-service-grn li a {
    border-radius:20px;
    height:20px;
    width:20px;
    margin-top:2px;
}

.cloudHeader-service-inner-grn {
    vertical-align:middle;
    position:relative;
    top:2px;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 3px #888888;
}

.cloudHeader-userName-grn > span {
    font-size:13px;
}

.cloudHeader-userPhoto-grn ,
.cloudHeader-userName-grn > img {
    width:16px;
    height:16px;
}

.cloudHeader-dropdownMenu-grn > #cloudHeader-adminSettings-grn {
    padding:0;
}

.cloudHeader-searchbox input[type="text"] {
    height:20px;
    line-height:20px;
}

.cloudHeader-searchbox .searchbox-submit-cybozu {
    height:19px;
    top:2px;
    right:0;
    width:24px;
    background-size:16px 16px;
    background-position:center;
}

.cloudHeader-dropdownMenu-open-grn .cloudHeader-dropdownContents-iframe-grn ,
.cloudHeader-dropdownMenu-open-grn .cloudHeader-dropdownContents-grn {
    margin-top:-1px;
}
/* header end */

/* appmenu */
.icon-appMenu-portal{background-image: url(../image/cybozu/portal32.png);}
.icon-appMenu-space{background-image: url(../image/cybozu/space32.png);}
.icon-appMenu-link{background-image: url(../image/cybozu/link32.png);}
.icon-appMenu-schedule{background-image: url(../image/cybozu/schedule32.png);}
.icon-appMenu-facility{background-image: url(../image/cybozu/facility32.png);}
.icon-appMenu-message{background-image: url(../image/cybozu/msg32.png);}
.icon-appMenu-bulletin{background-image: url(../image/cybozu/bulletin32.png);}
.icon-appMenu-cabinet{background-image: url(../image/cybozu/file32.png);}
.icon-appMenu-memo{background-image: url(../image/cybozu/memo32.png);}
.icon-appMenu-phonemessage{background-image: url(../image/cybozu/telmemo32.png);}
.icon-appMenu-timecard{background-image: url(../image/cybozu/timecard32.png);}
.icon-appMenu-todo{background-image: url(../image/cybozu/todolist32.png);}
.icon-appMenu-address{background-image: url(../image/cybozu/address32.png);}
.icon-appMenu-mail{background-image: url(../image/cybozu/mail32.png);}
.icon-appMenu-workflow{background-image: url(../image/cybozu/workflow32.png);}
.icon-appMenu-report{background-image: url(../image/cybozu/report32.png);}
.icon-appMenu-rss{background-image: url(../image/cybozu/rss32.png);}
.icon-appMenu-star{background-image: url(../image/cybozu/star32.png);}
.icon-appMenu-notification{background-image: url(../image/cybozu/notify32.png);}
.icon-appMenu-defaultmenu{background-image: url(../image/cybozu/defaultmenu32.png);}
.icon-appMenu-cbsearch {background-image: url(../image/cybozu/cbsearch32.png);}


.application_menu {
    margin:5px 0 0 10px;
}

.appmenu-item {
    margin-right:10px;
}

.appmenu-item a:link ,
.appmenu-item_e a:link ,
.appmenu-item a:visited ,
.appmenu-item_e a:visited ,
.portal_frame .appmenu-item a:link ,
.portal_frame .appmenu-item_e a:link ,
.portal_frame .appmenu-item a:visited ,
.portal_frame .appmenu-item_e a:visited ,
.portal_frame .appmenu-item span {
    color:#0000ff;
    text-decoration:none;
}

.appmenu-item a:hover ,
.appmenu-item_e a:hover ,
.portal_frame .appmenu-item a:hover ,
.portal_frame .appmenu-item_e a:hover {
    color:#ff0000;
    text-decoration:none;
}

.applicationMenu-grn {
    padding-top:27px;
    background:transparent;
}

div.appmenuToggleWrapper {
    background-color:#CCDDFF;
}

div.appmenuToggleWrapper div.appmenuExpand ,
div.appmenuToggleWrapper div.appmenuCollapse {
    background-repeat:no-repeat;
    background-position:center;
    font-size:1px;
    width:101px;
    height:10px;
    margin-right:auto;
    margin-left:auto;
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/classic2005/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/classic2005/gr_appmenu_togglebar_symbol_open.svg);
}
/* appmenu end */

/* tab */
.tab {
    margin:5px 2px 0 3px;
}

.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:transparent;
}

.tab ,
.tab_on , 
.tab_off {
    font-size:14px !important;
}

.tab span {
    height:25px;
}

.tab_left_off , 
.tab_left_off , 
.tab_right_off , 
.tab_left_on , 
.tab_right_on {
    display:inline-block;
    width: 6px;
    height:26px;
}

.tab_left_on {
    margin-left:0;
}

.tab_right_on {
    margin-right:1px;
}

.tab_on ,
.tab_on a ,
.tab_off a {
    padding:2px 5px 0;
}

.tab_on ,
.tab_on a:link ,
.tab_on a:visited ,
.tab_off a:link ,
.tab_off a:visited {
    color:#000000;
    text-decoration:none;
}

.tab_on a:hover ,
.tab_off a:hover {
    color:#ff0000;
    text-decoration:none;
    background-color:transparent;
}

.tab_left_on {
    background-image:url(../image/cybozu/classic2005/tab_left_on.gif);
    background-repeat:no-repeat;
}

.tab_on {
    background-image:url(../image/cybozu/classic2005/tab_back_on.gif);
    background-repeat:repeat-x;
    background-color:#99ccff;
}

.tab_right_on {
    background-image:url(../image/cybozu/classic2005/tab_right_on.gif);
    background-repeat:no-repeat;
}

.tab_left_off {
    background-image:url(../image/cybozu/classic2005/tab_left.gif);
    background-repeat:no-repeat;
}

.tab_off {
    background-image:url(../image/cybozu/classic2005/tab_back.gif);
    background-repeat:repeat-x;
    background-color:#eeeedd;
}

.tab_right_off {
    background-image:url(../image/cybozu/classic2005/tab_right.gif);
    background-repeat:no-repeat;
}

.tab_menu_end {
    clear:both;
    padding:0;
    height:6px;
    background-color:#99ccff;
    font-size:1px;
}

.tab_pulldown_menu_grn {
    margin-top:5px;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-color:#EEEEDD;
    border-bottom:1px solid #b6b6b6;
    margin-bottom:7px;
    font-size:14px;
}

.global_navi_title td {
    padding:2px;
}

.globalNavi-item-grn {
    height:20px;
}

.globalNavi-item-grn-image[class] {
    height:26px;
    box-sizing: border-box;
}

.globalNavi-item-grn ,
.globalNavi-item-last-grn {
    padding:4px 0 6px 3px;
}
/* global navi end */

/* contents */
.mainarea {
    margin:0;
    padding-top:1px;
}

.mainarea_portal_base_grn {
    margin-bottom:4px;
    padding:0 10px;
}

.mainarea ,
.mainarea_full_grn ,
.maincontents_list_td ,
.std_form ,
.mainarea-mail ,
.mainarea_full_grn .mainarea-mail #menu_part ,
.subwindow_menupart_grn {
    background:transparent;
}

#main_menu_part ,
.mainareaSchedule-grn .fullmenu_grn #main_menu_part ,
#menu_part {
    padding:0 0 6px 0;
    margin:2px 0 10px 0;
    border-bottom:1px solid #b6b6b6;
}

.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.subwindow_menupart_grn {
    background-color:#F6F6F6;
    border-bottom:1px solid #D6D6D6;
    box-shadow:0 1px 2px #E3E3E3;
}

.std_form td ,
.fileup_info td ,
.view_table td ,
.viewTable-grn td ,
.admin_list_table td {
    padding:5px;
}

.view_table th ,
.viewTable-grn th ,
.admin_list_table th ,
.fileup_info th ,
.std_form th ,
.list_column th , 
.bg_admin20 .list_column th ,
.wf_path_table .list_column th ,
.wf_path_table_simple .list_column th ,
.wf_route_change_history .list_column th ,
.rp_list .list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#e3e3e3;
    padding:5px;
    color:#000000;
}

.viewTable-grn {
    background-color:#ffffff;
}

.list_menu {
  height: 24px;
  line-height: 24px;
}

.list_column th , 
.space-todoList-listColumn-grn table th {
    background-color:#ccddff;
    font-weight:700;
    color:#000000;
}

.list_column TD ,
.space-todoList-listColumn-grn table td ,
.mainarea-mail .list_column td {
    padding:5px 0px 5px 5px;
}

.wf_path_table .list_column TD ,
.wf_path_table_simple .list_column TD ,
.wf_route_change_history .list_column TD {
    padding-right:5px;
}

.lineone {
    background-color:#F2F2F2;
}

.linetwo {
    background-color:#FFFFFF;
}

.list_menu_item .check_button {
    width:24px !important;
    height:24px !important;
    line-height:24px;
}

.contents_area {
    margin:10px 0;
}

.hilight ,
.tree-select-current {
    border-radius:4px;
    background-color:#BCCDED;
}

.naviColumn .hilight {
    background-color:#BCCDED;
    border:1px solid #BCCDED;
}

.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    border:0;
    border-radius:0;
}

.unread_color {
    background-color:#ffffbb;
    border:1px solid #e6bd6b;
}

.select_item_candidacy_grn {
    margin-top:30px;
    padding-bottom:18px;
}

.bg_personal20 .multicol {
    margin-top:10px;
}

/* contents end */

/* tree view */
#tree_part {
    padding:5px 5px 0 0;
    width:19%;
}

.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#dde8ff;
    border-radius:3px;
}

.tree-unread-num {
    font-size:90%;
}

#tree_part .border-partition-common-grn {
    border-top:1px solid #E3E3E3;
    border-bottom:1px solid #FFFFFF;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#e1eaff;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn , 
.space-threadList-inner-grn .hilight , 
.space-todoLeft-inner-grn .hilight ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover {
    background-color:#CCDDFF;
}
/* tree view end */

/* portal */
.portlet_base_grn {
    padding:0;
    background-color:transparent;
}

.portlet_margin_grn {
    height:10px;
}

td.portal_base_center_grn ,
td.portal_base_right_grn {
    padding-left:8px;
}

.portlet_base_grn .list_column ,
.portal_frame .admin_list_table {
    margin-top:0;
}

table.top_title ,
.list_column td.top_title {
    background-color:#CCDDFF;
    border:1px solid #808080;
}

.portlet_title_grn ,
.portlet_action_grn ,
table.top_title a:link ,
table.top_title a:visited ,
.list_column td.top_title a:link ,
.list_column td.top_title a:visited {
    font-size:14px;
    font-weight:700;
}

table.top_title a:link ,
table.top_title a:visited ,
.list_column td.top_title a:link ,
.list_column td.top_title a:visited {
    color:#0000FF;
}

table.top_title td {
    padding:2px 4px;
}

.portal_frame .list_column td.top_title {
    padding:4px 4px 6px 4px;
    border-bottom:1px solid #808080;
}

table.top_title ,
.list_column td.top_title {
    margin-top:0;
    margin-bottom:0;
}

.portal_frame_update_grn, .portal_frame_confirmed_notification_grn {
    margin-top:0;
}

.top_title .notification_filter_base_grn {
  margin: 2px 0 0;
}

.notification_filter_base_grn .action_button_base_grn .action_base_grn {
  padding: 2px 4px;
}

.top_title .search_navi {
    margin-right:0;
    top:1px;
}

.portal_frame ,
.portal_fixed_grn .portal_frame {
    border-left:1px solid #C9C9C9;
    border-right:1px solid #C9C9C9;
    border-bottom:1px solid #C9C9C9;
}

.portal_frame table.list_column th ,
.portal_frame .admin_list_table th {
    background:#ededed;
    padding:4px 3px;
    font-size:85%;
    font-weight:700;
    color:#666666;
}

.portal_frame table.list_column td {
    padding:4px;
    font-size:95%;
}

.portal_frame .aButtonStandard-grn a:link ,
.portal_frame .aButtonStandard-grn a:visited ,
.portal_frame .button_sandard_disable_grn a:link ,
.portal_frame .button_sandard_disable_grn a:visited ,
.portlet_base_grn .aButtonStandard-grn > a ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:link ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:visited ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:link ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:visited {
    font-size:90%;
}

.portal_fixed_grn .portal_frame_schedule_groupweek_grn {
    border-right:1px solid #C9C9C9;
}

.portal_fixed_grn .portal_frame_schedule_groupday_grn ,
.portal_fixed_grn .portal_frame_schedule_groupweek_grn ,
.portal_frame_schedule_groupday_grn ,
.portal_frame_schedule_groupweek_grn {
    border-bottom:0 none;
}

.portal_frame_schedule_groupweek_grn {
    border-right:0 none;
}

.top_parts .calendar {
    border-bottom:0 none;
    border-left:0 none;
}

.portal_frame_schedule_groupweek_grn .calendar {
    border-bottom:1px solid #C9C9C9;
}

.portlet_base_grn .list_column ,
.portal_frame .admin_list_table ,
.portal_frame .list_column th ,
.portal_frame .groupWeekPortletUpper-grn ,
.portal_frame .groupDayPortletUpper-grn ,
.portal_frame .personalDayPortletUpper-grn ,
.portal_frame .personalWeekPortletUpper-grn ,
.portal_frame .personalMonthPortletUpper-grn ,
.portal_frame .personalYearPortletUpper-grn {
    border-top:0;
}

.portal_frame_schedule_year_grn ,
.portal_fixed_grn .portal_frame_schedule_year_grn {
    padding:5px;
}

.groupDayPortletUpper-grn ,
.groupWeekPortletUpper-grn ,
.personalMonthUpper-grn {
    padding:2px;
}

.portal_frame .v_day_navi {
    margin-top:0;
}

.portal_frame_schedule_groupweek_grn .wrap_dropdown_menu ,
.portal_frame_schedule_groupweek_grn .wrap_dropdown_option {
    margin-left:0 !important;
}

.portal_frame .groupWeekPortletUpper-grn {
    border-right:1px solid #C9C9C9;
}

.portal_frame_schedule_week_grn .top_day_navi {
    border-right:1px solid #C9C9C9;
}
.portal_frame_notices_grn ,
.portal_fixed_grn .portal_frame_notices_grn ,
.portal_frame_application_menu_grn ,
.portal_fixed_grn .portal_frame_application_menu_grn ,
.portal_frame_calendar_grn ,
.portal_fixed_grn .portal_frame_calendar_grn ,
.portal_frame_php_grn ,
.portal_fixed_grn .portal_frame_php_grn ,
.portal_frame_html_grn ,
.portal_fixed_grn .portal_frame_html_grn {
    border:0 none;
}

.portal_frame_schedule_groupday_grn ,
.portal_fixed_grn .portal_frame_schedule_groupday_grn ,
.portal_frame_schedule_groupweek_grn ,
.portal_fixed_grn .portal_frame_schedule_groupweek_grn {
    border-bottom:0 none;
}

.portal_frame_schedule_week_grn {
    border-right:0 none;
    border-bottom:0 none;
}

.portal_frame_schedule_week_grn .personal_week_calendar_base ,
.portal_frame_schedule_day_grn .personal_day_calendar_base {
    border-left:0;
}

.top_parts .day_table {
    border-left:0;
    border-right:0;
}

.portal_frame_schedule_day_grn .personal_day_calendar_time_row {
    border-right:0;
}

.portal_frame_schedule_week_grn .personal_week_calendar_base_header {
    border-left:0;
}

.personal_month_calendar_navi_top ,
.personal_month_calendar_navi_bottom {
    border-right:0;
}

.courteous_element_grn {
    display:inline-block;
}
/* portal end */

/* schedule */
.scheduleWrapperGroupWeek td ,
.personal_month_calendar_cell {
    padding:2px;
}

.global_naviBackTab-viewChange-grn ,
.global_naviBackTab-viewChange-grn:link ,
.global_naviBackTab-viewChange-grn:visited {
    background-color:#EEEEDD;
}

.global_naviBackTab-viewChange-grn:hover {
    background:#CCE4F1;
}

.global_naviBack-viewChangeSelect-grn span ,
.global_naviBackTab-viewChange-grn ,
.global_naviBackTab-viewChange-grn:link ,
.global_naviBackTab-viewChange-grn:visited {
    padding:6px 16px;
    border-color:#b3b3b3;
    color:#000000;
}

.global_naviBack-viewChangeSelect-grn span {
    background:#4d71d0;
    border:1px solid #4d71d0;
    box-shadow:none;
    color:#ffffff;
    font-weight:700;
}

.viewChangeLeft-grn ,
.viewChangeLeftSelect-grn span {
    border-radius:4px 0 0 4px;
}

.viewChangeRight-grn ,
.viewChangeRight-grn span ,
.viewChangeRight-grn:link ,
.viewChangeRight-grn:visited ,
.viewChangeRightSelect-grn span {
    border-radius: 0 4px 4px 0;
}

.group_week_calendar_item, .personalMonth_calendar_item {
    margin-bottom:8px;
}
/* schedule end */


/* mail */
.mail_navi_3paine_grn {
    min-height:30px;
}

.mail-listCheckButton-grn a {
    width:24px;
}

.mail-ButtonStatus-grn {
    font-weight:400;
}

.mail-listButton-grn .mail-dropdownContents ,
.mail-ButtonStatus-grn .mail-dropdownContents {
    margin-top:2px;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#2b4da8 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#173685;
}
/* mail end */

/* space */
.space-thread-pager-top-grn {
    border-top:0;
}

.space-threadRightList-tabCurrent-grn {
    background-color:#CCDDFF;
    border:1px solid #CCDDFF;
    border-bottom:1px solid #CCDDFF;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#CCDDFF;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/classic2005/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/classic2005/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/classic2005/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/classic2005/btn-threadrightlist-grip.svg);
}

.space-thread-comment-footer-grn a:link ,
.space-thread-comment-footer-grn a:visited ,
.space-todo-comment-footer-grn a:link ,
.space-todo-comment-footer-grn a:visited ,
.comment-grn a:link ,
.comment-grn a:visited ,
.bodytext_footer_grn a:link ,
.bodytext_footer_grn a:visited {
    color:#0000FF;
}

.space-todoList-listColumn-grn table {
    border:0;
}

.space-manageMenu-item-grn ,
.space-thread-operations-grn {
    margin-top: 24px;
    margin-left: -10px;
}

.buttonFollowOn-grn a:link ,
.buttonFollowOn-grn a:visited ,
.buttonFollowOff-grn a:link ,
.buttonFollowOff-grn a:visited ,
.buttonFollowRelease-grn a:link ,
.buttonFollowRelease-grn a:visited {
    border-radius:4px;
}
/* space end */

/* search */
.search-searchButton-grn {
    top:-34px;
}

.search-conditionTermInputCalendar-grn {
    top:-24px;
}

.search-buttonMainBlock-grn .search-buttonMain-grn,
.search-listMoreButtonBlock-grn a:link {
  background-color: #51a1db;
  border: 1px solid #51a1db;
  border-radius: 4px;
}

.search-buttonMainBlock-grn .search-buttonMain-grn:hover,
.search-listMoreButtonBlock-grn a:hover {
  background-color: #0b5fb4;
  border: 1px solid #0b5fb4;
  border-radius: 4px;
}

/* search end */

/* footer */
.footer_grn {
    background-color:#CCDDFF;
}

.move_top_grn {
    background:#99cdff url("../image/cybozu/image-common/move_top.png") no-repeat center center;
}

.move_top_grn:hover {
    background:#85bbef url("../image/cybozu/image-common/move_top.png") no-repeat center center;
}

.credit {
    color:#666666;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#000000;
}

a:link,
a:visited,
#main_menu_part a:link,
#main_menu_part a:visited,
#menu_part a:link,
#menu_part a:visited,
#footer a:link,
#footer a:visited,
.globalNavi-item-grn a:link,
.globalNavi-item-grn a:visited,
.file_input_div,
.button_style_off_grn {
    color:#0000ff;
    text-decoration:none;
}

a:hover,
a:active,
#main_menu_part a:hover,
#menu_part a:hover,
#footer a:hover,
.globalNavi-item-grn a:hover,
.globalNavi-item-grn a:active,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover,
TABLE.top_title a:hover,
.list_column td.top_title a:hover ,
.comment-grn a:hover,
.bodytext_footer_grn a:hover,
.link_body_color_grn a:hover,
.button_style_off_grn:hover {
    color:#ff0000;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#0000ff;
    text-decoration:none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}
/* link-visited-hover summary end */

/* line color dark */
.common-border-grn ,
.border-partition-common-grn ,
.follow-border-grn ,
.border-partition-follow-grn {
    border-top:1px solid #b6b6b6;
}

#view_part {
    border-left:1px solid #b6b6b6;
}

.viewTable-grn {
    border:1px solid #808080;
}

.viewTable-grn th ,
.viewTable-grn td {
    border-color:#808080;
}

.viewTable-grn th ,
.viewTable-grn td {
    border-color:#808080;
}

.view_table th ,
.view_table td ,
.admin_list_table th ,
.admin_list_table td {
    border:1px solid #808080;
}

.bg_admin20 .list_column TH ,
.wf_path_table .list_column TH ,
.wf_path_table_simple .list_column TH ,
.wf_route_change_history .list_column TH ,
.rp_list .list_column TH {
    border:1px solid #808080;
}

.bg_admin20 .list_column TD ,
.wf_path_table .list_column TD ,
.wf_path_table_simple .list_column TD ,
.wf_route_change_history .list_column TD ,
.rp_list .list_column TD {
    border:1px solid #808080;
}

.calendar {
    border-left:1px solid #808080;
}

.calendar_rb_week {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.s_domain_week {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.s_date_saturday_week ,
.s_date_sunday_week ,
.s_date_holiday_week ,
.s_date_monday_week ,
.s_date_tuesday_week ,
.s_date_wednesday_week ,
.s_date_thursday_week ,
.s_date_friday_week ,
.s_date_workday_week {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.s_user_week {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

TABLE.top_title {
    border:1px solid #808080;
}

.scheduleWrapperGroupWeek .s_banner ,
.scheduleWrapperGroupWeek .br_banner {
    border-right:1px solid #808080;
}

.br_banner {
    border-right:1px solid #808080;
}

.s_banner {
    border-bottom:1px solid #808080;
    border-top:1px solid #808080;
    border-right:1px solid #808080;
}

.available_time_navi_head {
    border-top:1px solid #808080;
    border-bottom:1px solid #808080;
}

.available_time_navi {
    border-top:1px solid #808080;
    border-right:1px solid #808080;
    border-bottom:1px solid #808080;
}

.group_day_calendar_timebar1 {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.group_day_calendar_timebar_sec1 {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
}

.group_day_calendar_timebar2 {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.group_day_calendar_timebar_sec2 {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
}

.group_day_calendar_user {
    border-right:1px solid #808080;
}

.group_day_calendar_conflict_head1 {
    border-right:1px solid #808080;
}

.group_day_calendar_conflict_head2 {
    border-right:1px solid #808080;
}

.group_day_calendar_item {
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
}

.group_day_calendar_banner_head1 {
    border-right:1px solid #808080;
}

.group_day_calendar_banner_head2 {
    border-right:1px solid #808080;
}

.group_day_calendar_banner_item {
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
}

.view_calendar_user {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
}

.view_calendar_timebar_sec1,.view_calendar_timebar_sec2 {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
}

.view_calendar_timebar1,.view_calendar_timebar2 {
    border-right:1px solid #808080;
}

.view_calendar_event_cell {
    border-bottom:1px solid #808080;
}

.day_table_time_login .m ,
.day_table_time .m ,
.day_table_time_login .e ,
.day_table_time .e ,
.day_table_time_login .a ,
.day_table_time .a {
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
}

.group_day_calendar_item_conflicted {
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
}

.top_parts .day_table {
    border-bottom:1px solid #808080;
}

TABLE.day_table {
    border-top:1px solid #808080;
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
    border-right:1px solid #808080;
}

.v_day_navi .allday {
    border-top:1px solid #808080;
}

.critical3 {
    border:1px solid #666666;
}

.personal_day_calendar_time_cell {
    border-right:1px solid #808080;
    border-left:1px solid #808080;
    border-bottom:1px solid #808080;
}

.personal_day_calendar_event_head {
    border-left:1px solid #808080;
}

.personal_day_calendar_event_cell {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personal_day_calendar_time_row.lastRow {
    border-bottom:1px solid #808080;
}

.personal_day_calendar_event_item {
    border-left:1px solid #808080;
}

.personal_day_calendar_base {
    border-top:1px solid #c9c9c9;
}

.personal_day_calendar_time_row {
    border-bottom:1px solid #c9c9c9;
    border-right:1px solid #808080;
}

.personal_day_calendar_banner_cell .banner_color {
    border-left:1px solid #808080;
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personal_week_calendar_header .s_date_monday ,
.personal_week_calendar_header .s_date_tuesday ,
.personal_week_calendar_header .s_date_wednesday ,
.personal_week_calendar_header .s_date_thursday ,
.personal_week_calendar_header .s_date_friday ,
.personal_week_calendar_header .s_date_workday ,
.personal_week_calendar_header .s_date_saturday ,
.personal_week_calendar_header .s_date_sunday ,
.personal_week_calendar_header .s_date_holiday {
    border-right:1px solid #808080;
}

.personal_week_calendar_base_header {
    border-left:1px solid #808080;
    border-top:1px solid #808080;
}

.personal_week_calendar_event_cell {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personal_week_calendar_header {
    border-left:1px solid #808080;
}

.s_banner3 {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personalMonthPortletUpper-grn {
    border-right:1px solid #808080;
}

.personal_month_calendar {
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
}

.personal_month_calendar_navi_top {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personalMonthDayWeek-grn {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personal_month_calendar_cell {
    border-bottom:1px solid #808080;
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.personal_month_calendar_navi_bottom {
    border-right:1px solid #808080;
    border-top:1px solid #808080;
}

.year_month_table TH {
    border:1px solid #808080;
}

.year_month_table TD {
    border:1px solid #808080;
}

.portal_frame_schedule_groupweek_grn .calendar {
    border-bottom:1px solid #808080;
}

.groupWeekPortletUpper-grn {
    border-right:1px solid #808080;
}

.portal_frame,
.portal_fixed_grn .portal_frame {
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.portal_fixed_grn .portal_frame_schedule_groupweek_grn {
    border-right:1px solid #808080;
}

.portal_fixed_grn .portal_frame_schedule_week_grn {
    border-right:1px solid #808080;
}

.portal_fixed_grn .portal_frame_schedule_month_grn {
    border-right:1px solid #808080;
}

.portal_fixed_grn .portal_frame_schedule_month_grn .personal_month_calendar_navi_top {
    border-right:none;
}

.portal_frame_schedule_week_grn {
    border-bottom:0 none;
    border-right:0 none;
}

.portal_frame_notices_grn ,
.portal_fixed_grn .portal_frame_notices_grn ,
.portal_frame_application_menu_grn ,
.portal_fixed_grn .portal_frame_application_menu_grn ,
.portal_frame_calendar_grn ,
.portal_fixed_grn .portal_frame_calendar_grn ,
.portal_frame_php_grn ,
.portal_fixed_grn .portal_frame_php_grn ,
.portal_frame_html_grn ,
.portal_fixed_grn .portal_frame_html_grn {
    border:0 none;
}

.portal_frame_schedule_groupweek_grn {
    border-right:0 none;
}

.portal_frame_schedule_groupday_grn ,
.portal_fixed_grn .portal_frame_schedule_groupday_grn ,
.portal_frame_schedule_groupweek_grn ,
.portal_fixed_grn .portal_frame_schedule_groupweek_grn {
    border-bottom:0 none;
}

.portal_frame_schedule_month_grn {
    border-right:0 none;
}

.portal_frame_schedule_week_grn .top_day_navi {
    border-right:1px solid #808080;
}

.portlet_calendar_grn td {
    border:1px solid #808080;
}

.timecard TH ,
.timecard TD {
    border:1px solid #808080;
}

.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    border-bottom:1px solid #b6b6b6;
}

.listtable_scroll_base_grn #tree_part ,
.listtable_scroll_base_grn .list_part_grn {
    border-right:1px solid #b6b6b6;
}

.list_part_grn .list_paging_grn {
    border-top:1px solid #c9c9c9;
}

table.borderTable ,
table.borderTable th ,
table.borderTable td {
    border-color:#808080;
}

.space-spaceBalloon-inner-grn {
    border:1px solid #b6b6b6;
}

.space-thread-grn ,
.space-todoList-grn {
    border-left:1px solid #b6b6b6;
}

.space-threadList-border-grn ,
.space-todoleft-border-grn {
    border-top:1px solid #b6b6b6;
}

.space-thread-pager-grn {
    border-top:1px solid #b6b6b6;
}

.space-thread-follow-grn {
    border-top:1px solid #b6b6b6;
}
/* line color dark end */

/* background color strong */
.m {
    background:none repeat scroll 0 0 #fefed3;
}

.e {
    background:none repeat scroll 0 0 #fde3c1;
}

.a {
    background:none repeat scroll 0 0 #dfe4fb;
}

.s_date_saturday_week ,
.s_date_saturday {
    background:none repeat scroll 0 0 #d6efff;
}

.s_date_sunday_week ,
.s_date_holiday_week ,
.s_date_sunday ,
.s_date_holiday {
    background:none repeat scroll 0 0 #ffdbde;
}

.s_date_saturday_even ,
.s_date_saturday_odd {
    background:none repeat scroll 0 0 #e7fbff;
}

.s_date_sunday_even ,
.s_date_holiday_even ,
.s_date_sunday_odd ,
.s_date_holiday_odd {
    background:none repeat scroll 0 0 #fbe9e9;
}

.s_today {
    background:none repeat scroll 0 0 #ffffcc;
}

.year_saturday {
    background:none repeat scroll 0 0 #d6efff;
}

.year_sunday ,
.year_holiday {
    background:none repeat scroll 0 0 #ffdbde;
}
/* background color dark end */