/* common */
body {
    background-color:#FFFFFF;
}
/* common end */

/* header */
.cloudHeader-grn {
    background:#2cbf91;
    box-shadow:none;
}

#headerimage{
    display:none;
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right:1px solid #ffffff;
}

button.cloudHeader-userName-grn:hover ,
.cloudHeader-startMenuTitle-grn:hover ,
button.header_appmenu_title_grn:hover ,
.header_home_grn:hover ,
button.cloudHeader-spaceApplicationTitle-grn:hover ,
button.cloudHeader-grnNotificationTitle-grn:hover ,
button.cloudHeader-adminSettingsTitle-grn:hover ,
.cloudHeader-logoBox-grn:hover ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn ,
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn ,
.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn , 
.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover ,
.header_left_area_grn > h1 > a.cloudHeader-logo-grn:focus ,
.header_left_area_grn > a.header_home_grn:focus ,
.cloudHeader-dropdownMenu-grn > button:focus ,
.cloudHeader-searchbox input ,
.cloudHeader-searchbox .searchbox-submit-cybozu ,
.cloudHeader-searchbox .input-text-outer-cybozu button:hover {
    background-color:#00a574;
}

.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus ,
.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus {
    box-shadow:0 0 0 6px #00a574;
}

/* header end */

/* appmenu */
.icon-appMenu-portal{background-image: url(../image/cybozu/image-common/appicon_type16/portal32_type16.svg);}
.icon-appMenu-space{background-image: url(../image/cybozu/image-common/appicon_type16/space32_type16.svg);}
.icon-appMenu-link{background-image: url(../image/cybozu/image-common/appicon_type16/link32_type16.svg);}
.icon-appMenu-schedule{background-image: url(../image/cybozu/image-common/appicon_type16/schedule32_type16.svg);}
.icon-appMenu-facility{background-image: url(../image/cybozu/image-common/appicon_type16/facility32_type16.svg);}
.icon-appMenu-message{background-image: url(../image/cybozu/image-common/appicon_type16/msg32_type16.svg);}
.icon-appMenu-bulletin{background-image: url(../image/cybozu/image-common/appicon_type16/bulletin32_type16.svg);}
.icon-appMenu-cabinet{background-image: url(../image/cybozu/image-common/appicon_type16/file32_type16.svg);}
.icon-appMenu-memo{background-image: url(../image/cybozu/image-common/appicon_type16/memo32_type16.svg);}
.icon-appMenu-phonemessage{background-image: url(../image/cybozu/image-common/appicon_type16/telmemo32_type16.svg);}
.icon-appMenu-timecard{background-image: url(../image/cybozu/image-common/appicon_type16/timecard32_type16.svg);}
.icon-appMenu-todo{background-image: url(../image/cybozu/image-common/appicon_type16/todolist32_type16.svg);}
.icon-appMenu-address{background-image: url(../image/cybozu/image-common/appicon_type16/address32_type16.svg);}
.icon-appMenu-mail{background-image: url(../image/cybozu/image-common/appicon_type16/mail32_type16.svg);}
.icon-appMenu-workflow{background-image: url(../image/cybozu/image-common/appicon_type16/workflow32_type16.svg);}
.icon-appMenu-report{background-image: url(../image/cybozu/image-common/appicon_type16/report32_type16.svg);}
.icon-appMenu-rss{background-image: url(../image/cybozu/image-common/appicon_type16/rss32_type16.svg);}
.icon-appMenu-star{background-image: url(../image/cybozu/image-common/appicon_type16/star32_type16.svg);}
.icon-appMenu-notification{background-image: url(../image/cybozu/image-common/appicon_type16/notify32_type16.svg);}
.icon-appMenu-defaultmenu{background-image: url(../image/cybozu/image-common/appicon_type16/defaultmenu32_type16.svg);}

.applicationMenu-grn {
    background:transparent;
}

div.appmenuToggleWrapper {
    background-color:#e6e6e6;
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image:url(../image/cybozu/moderngreen/gr_appmenu_togglebar_symbol_close.svg);
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image:url(../image/cybozu/moderngreen/gr_appmenu_togglebar_symbol_open.svg);
}
/* appmenu end */

/* tab */
.tab_on {
    background-color:#2cbf91;
}

.tab_off a:hover ,
.tab_off:hover ,
.portal_tabgroup_grn .tab_off a:hover ,
.portal_tabgroup_grn .tab_off:hover {
    background-color:#e0f5ef;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    border-bottom:1px solid #dedede;
}
/* global navi end */

/* contents */
.mainarea {
    margin:0;
    padding-top:4px;
}

.mainarea_portal_base_grn {
    margin-top:7px;
}

.mainarea_full_grn .mainarea-mail #menu_part {
    border-top:0;
}

.list_column{
    border-top:0px none;
    border-bottom:0px none;
}

.list_column TH ,
.space-todoList-listColumn-grn table th {
    background-color:#ffffff;
    border-top:1px solid #dedede;
    border-bottom:1px dashed #dbdbdb;
    line-height:1.2;
}

.lineone{
    background-color:#ffffff;
}

.linetwo{
    background-color:#FFFFFF;
}
/* contents end */

/* hilight */
.hilight ,
.tree-select-current ,
.naviColumn .hilight {
    background-color:#beeadd;
    border:2px solid #beeadd;
}

.ygtvitem .node_dragenter_grn , 
.ygtvitem .node_dragenter_grn:hover , 
.ygtvitem .menu_unselect_grn:hover , 
.tree_style1_grn .ygtvitem .menu_unselect_grn:hover , 
.space-threadList-read-grn:hover , 
.space-threadList-unread-grn:hover ,
.tree_part_item_a_grn:hover {
    background-color:#effbf7;
}

.ygtvitem .menu_selected_grn , 
.tree_style1_grn .ygtvitem .menu_selected_grn ,
.tree_part_item_base_grn .hilight ,
.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover ,
.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn ,
.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    background:#daf5ed;
}
/* hilight end */

/* tree view */
.bg_personal20 #tree_part ,
.naviColumn {
    background-color:#eafaf5;
}
/* tree view end */

/* portal */
.portlet_base_grn {
  border: 1px solid #d6d6d6;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active , 
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active , 
.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image:none;
    background-color:#2cbf91;
    border:1px solid #2cbf91;
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover ,
.portlet_base_grn .button_group_li_grn .button_group_item_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active {
    border-left-width:0;
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover ,
.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active {
    border-left-width:1px;
}
/* portal end */

/* schedule */
.global_naviBack-viewChangeSelect-grn span {
    background:#2cbf91;
    border:1px solid #2cbf91;
}
/* schedule end */

/* mail */
.title_list_area_grn .read_grn ,
.read_grn:link ,
.read_grn:visited {
    background:#ffffff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover {
    background:#f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn {
    background:#2cbf91 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#00ac7e;
}
/* mail end */

/* space */
.space-threadRightList-tabCurrent-grn {
    background-color:#e0f5ef;
    border:1px solid #e0f5ef;
    border-bottom:1px solid #e0f5ef;
}

.space-threadRightList-tab-grn {
    background-color:#e6e6e6;
    border-bottom:1px solid #e6e6e6;
}

.space-threadRightList-body-grn {
    background-color:#e0f5ef;
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.space-threadRightList-gripOpen-grn {
    background-image:url(../image/cybozu/moderngreen/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripOpen-grn:hover {
    background-image:url(../image/cybozu/moderngreen/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn {
    background-image:url(../image/cybozu/moderngreen/btn-threadrightlist-grip.svg);
}

.space-threadRightList-gripClose-grn:hover {
    background-image:url(../image/cybozu/moderngreen/btn-threadrightlist-grip.svg);
}

/* footer */
.footer_grn {
    background-color:#f3f3f3;
    line-height:1;
}

.move_top_grn {
    background:#cccccc url("../image/cybozu/image-common/move_top.png") no-repeat center center;
}

.credit {
    color:#888888;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link ,
a:visited ,
#main_menu_part a:link ,
#main_menu_part a:visited ,
#menu_part a:link ,
#menu_part a:visited ,
#footer a:link ,
#footer a:visited ,
.globalNavi-item-grn a:link ,
.globalNavi-item-grn a:visited ,
.file_input_div ,
.button_style_off_grn {
    color:#0A62AD;
    text-decoration:none;
}

a:hover ,
a:active ,
#main_menu_part a:hover ,
#menu_part a:hover ,
#footer a:hover ,
.globalNavi-item-grn a:hover ,
.globalNavi-item-grn a:active ,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover ,
TABLE.top_title a:hover ,
.list_column td.top_title a:hover ,
.comment-grn a:hover ,
.bodytext_footer_grn a:hover ,
.link_body_color_grn a:hover ,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.normalEventElement a:link ,
.normalEventElement a:visited {
    color:#2869ab;
    text-decoration: none;
}

.normalEventElement a:hover {
    color:#CC3300;
    text-decoration:underline;
}