/* common */
body {
    font-size:95%;
    background-color:#fbfbfb;
    margin:0;
}

input[type="text"] ,
.input_text_grn ,
button ,
input[type="button"] ,
input[type="submit"] ,
.aButtonStandard-grn a:link ,
.aButtonStandard-grn a:visited ,
.button_standard_disable_grn a:link ,
.button_standard_disable_grn a:visited ,
.button_post_normal_grn .aButtonStandard-grn a:link ,
.button_post_normal_grn .aButtonStandard-grn a:visited ,
.button_post_normal_grn .button_standard_disable_grn a:link ,
.button_post_normal_grn .button_standard_disable_grn a:visited ,
.reaction_info_area_grn .buttonPostMain-grn a:link , 
.reaction_info_area_grn .buttonPostMain-grn a:visited ,
.reaction_info_area_grn .button_attention_grn a:link , 
.reaction_info_area_grn .button_attention_grn a:visited ,
.aButtonStandard-grn button ,
.mail-listButton-grn a ,
.mail-listCheckButton-grn a ,
.mail-ButtonStatus-grn a ,
.mail-listButtonDisable-grn a ,
.portal_frame .aButtonStandard-grn a:link ,
.portal_frame .aButtonStandard-grn a:visited ,
.portal_frame .button_sandard_disable_grn a:link ,
.portal_frame .button_sandard_disable_grn a:visited ,
.portlet_base_grn .aButtonStandard-grn > a ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:link ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:visited ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:link ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:visited ,
.button_group_li_grn .button_group_item_grn ,
.button_group_li_grn .button_group_item_grn:hover ,
.button_group_li_grn .button_group_item_grn:active , 
.navi_viewchange_base_select_grn span ,
.navi_viewchange_base_grn ,
.navi_viewchange_base_grn:link ,
.navi_viewchange_base_grn:visited ,
.pulldownbutton_standard_grn a {
    height:24px;
    line-height:24px;
    font-size:13px;
}

.list_container_grn .aButtonStandard-grn a:link , 
.small_button_base_grn .aButtonStandard-grn a:link {
    height:24px;
    line-height:24px;
}

.listcheck_button_grn , 
.mail-listCheck-grn {
    width:24px;
    height:24px;
    line-height:24px;
}

button ,
input[type="button"] ,
input[type="submit"] {
    padding:0 8px;
}

input ,
input[type="text"] {
    padding:0 4px;
}

.button1_main_grn a:link , 
.button1_main_grn a:visited , 
.button1_main_grn a:link , 
.button1_main_grn a:visited ,
.button1_normal_grn a:link , 
.button1_normal_grn a:visited , 
.button1_normal_grn a:link , 
.button1_normal_grn a:visited,
.button1_attention_grn a:link , 
.button1_attention_grn a:visited , 
.button1_attention_grn a:link , 
.button1_attention_grn a:visited ,
.buttonPostMain-grn a:link ,
.buttonPostMain-grn a:visited ,
.button_attention_grn a:link ,
.button_attention_grn a:visited {
    padding:8px;
    min-width:80px;
    font-size:16px;
}

.button1_main_grn a:link , 
.button1_main_grn a:visited , 
.button1_main_grn a:active ,
#btn_lock ,
#main_menu_part .aButtonStandard-grn button#btn_lock ,
.buttonPostMain-grn a:link ,
.buttonPostMain-grn a:visited ,
.mail-receiveButton1-grn a ,
.mail-receiveButton1-grn a:link ,
.mail-receiveButton1-grn a:visited ,
.mail-receiveButton-grn a ,
.mail-receiveButton-grn a:active ,
.mail-receiveButton-grn a:link ,
.mail-receiveButton-grn a:visited ,
.button_state_on_grn a:link ,
.button_state_on_grn a:visited ,
.buttonFollowOn-grn a:link ,
.buttonFollowOn-grn a:visited {
    background-color:#51a1db;
    border:1px solid #51a1db;
    border-radius:4px;
}

.button1_main_grn a:hover,
#btn_lock:hover ,
#main_menu_part .aButtonStandard-grn button#btn_lock:hover ,
.buttonPostMain-grn a:hover ,
.mail-receiveButton1-grn a.receiving_one:hover ,
.mail-receiveButton1-grn a.receiving_all:hover ,
.mail-receiveButton-grn a.receiving_one:hover ,
.mail-receiveButton-grn a.receiving_all:hover {
    background:#0b5fb4;
    border:1px solid #0b5fb4;
    color:#FFFFFF;
}

.button1_main_grn a:link , 
.button1_main_grn a:visited , 
.button1_main_grn a:link , 
.button1_main_grn a:visited ,
.button1_normal_grn a:link , 
.button1_normal_grn a:visited , 
.button1_normal_grn a:link , 
.button1_normal_grn a:visited,
.button1_attention_grn a:link , 
.button1_attention_grn a:visited , 
.button1_attention_grn a:link , 
.button1_attention_grn a:visited {
    border-radius:4px;
}

.searchbox-grn .input-text-cybozu ,
.searchbox-grn .searchbox-submit-cybozu {
    height:24px;
    line-height:24px;
}

button.check_button ,
.list_menu_item .check_button {
    width:24px !important;
    height:24px !important;
    line-height:24px;
}

select {
    min-height:24px;
    font-size:13px;
}

@-moz-document url-prefix() { /* FF */
select {
    padding-top:0;
}
}

.selectmenu_grn > dt > a,
.selectmenu_disable_grn {
  line-height: 24px;
  height: 24px !important;
  font-weight: 400;
}

.selectmenu_grn a:link , 
.selectmenu_grn a:visited , 
.selectmenu_grn a:hover , 
.selectmenu_grn a:active , 
.selectmenu_disable_grn ,
.selectmenu_disable_filter_grn a:link , 
.selectmenu_disable_filter_grn a:hover ,
.selectmenu_disable_filter_grn a:visited {
    font-size:13px;
}

.icon-buttonArrowLeft-grn ,
.icon-buttonArrowRight-grn ,
.icon-buttonArrowRightBehind-grn {
    margin-top:-2px;
}

.mainarea h2 {
    font-size:18px;
    margin:2px 8px 2px 0;
}
/* common end */

/* header */
#headerimage {
    display:none;
}

.cloudHeader-searchbox input {
    padding:0px 28px 0px 8px;
    font-size:14px;
    height:28px;
}
/* header end */

/* tab */
.tab {
    margin: 5px 2px 0 3px;
}

.tab ,
.tab_on , 
.tab_off {
    font-size:14px !important;
}

.tab span {
    height:28px;
}

.tab_left_off , 
.tab_left_off , 
.tab_right_off , 
.tab_left_on , 
.tab_right_on {
    display:inline-block;
    width:6px;
    height:26px;
}

.tab_left_on {
    margin-left:0;
}

.tab_right_on {
    margin-right:1px;
}

.tab_on ,
.tab_on a ,
.tab_off a {
    padding:2px 5px 0;
}

.tab_on ,
.tab_on a:link ,
.tab_on a:visited {
    color:#000000;
    font-weight:700;
}

.tab_on a:hover {
    color:#CC3300;
    text-decoration:none;
}

.tab_off a:link ,
.tab_off a:visited {
    color:#444444;
    text-decoration:none;
}

.tab_left_on {
    background-image:url(../image/cybozu/admin/tab_left_on.gif);
    background-repeat:no-repeat;
}

.tab_on {
    background-image:url(../image/cybozu/admin/tab_back_on.gif);
    background-repeat:repeat-x;
    background-color:#C4C4C4;
}

.tab_right_on {
    background-image:url(../image/cybozu/admin/tab_right_on.gif);
    background-repeat:no-repeat;
}

.tab_left_off {
    background-image:url(../image/cybozu/admin/tab_left.gif);
    background-repeat:no-repeat;
}

.tab_off ,
.tab_off a:link ,
.tab_off a:visited ,
.tab_off a:hover ,
.tab_off:hover {
    background-image:url(../image/cybozu/admin/tab_back.gif);
    background-repeat:repeat-x;
    background-color:#E6E6E6;
}

.tab_right_off {
    background-image:url(../image/cybozu/admin/tab_right.gif);
    background-repeat:no-repeat;
}

.tab_menu_end {
    clear:both;
    padding:0;
    height:6px;
    background-color:#C4C4C4;
    font-size:1px;
}
/* tab end */

/* global navi */
.global_navi ,
.global_navi_title {
    background-color:#dddddd;
    background-repeat:repeat-x;
    background-position:0 0;
    margin-bottom:7px;
    padding:10px 0 8px;
    font-size:14px;
    font-weight:700;
}

.global_navi {
    color:#666666;
}

.global_navi_title td {
    padding:2px;
}

.globalNavi-item-grn {
    height:20px;
}

.globalNavi-item-grn-image[class] {
    height: 26px;
    box-sizing: border-box;
}

.globalNavi-item-grn ,
.globalNavi-item-last-grn {
    padding:4px 0 1px 3px;
}

/* global navi end */

/* contents */
.mainarea {
    margin:0 0 15px;
    padding:0 10px;
    background:transparent;
}

#main_menu_part ,
#menu_part {
    padding:2px 0 8px 0;
    margin:2px 0 10px 0;
    border-bottom:1px solid #C9C9C9;
}

#view_part{
    padding-left:7px;
    border-left:0;
}

.subwindow_menupart_grn {
    background-color:#F6F6F6;
    border-bottom:1px solid #D6D6D6;
    box-shadow:0 1px 2px #E3E3E3;
}

.std_form {
    background:transparent;
}

.std_form td ,
.fileup_info td ,
.view_table td ,
.viewTable-grn td ,
.admin_list_table td {
    padding:5px;
}

.view_table th ,
.admin_list_table th ,
.fileup_info th ,
.std_form th ,
.list_column th , 
.bg_admin20 .list_column th ,
.wf_path_table .list_column th ,
.wf_path_table_simple .list_column th ,
.wf_route_change_history .list_column th ,
.rp_list .list_column th ,
.space-todoList-listColumn-grn table th {
    background-color:#EBEBEB;
    padding:5px;
    font-size:14px;
}

.list_menu {
  height: 24px;
  line-height: 24px;
}

.list_column th , 
.space-todoList-listColumn-grn table th {
    font-weight:700;
    color:#666666;
}

.list_column TD {
    padding:5px;
}

.table_type2_grn th ,
.table_type2_grn td {
    padding:8px;
}

.table_type2_in_grn td {
    padding: 0 10px 10px 0;
}

.bg_admin20 .list_column ,
.bg_admin20 .admin_list_table {
    margin:8px 0;
}

table.multicol {
    margin-top:10px;
}

.bg_admin20 .contents_navi {
    margin:4px 0;
}

.bg_admin20 .move_list_grn .list_column {
    border-top-style:none;
    border-right-style:none;
    border-bottom-style:none;
}

.bg_admin20 .move_list_grn .list_column th ,
.bg_admin20 .move_list_grn .list_column td {
    border-top-color:#c9c9c9;
    border-bottom-color:#c9c9c9;
    border-right-color:#c9c9c9;
    border-left-color:#c9c9c9;
}

.bg_admin20 .move_list_grn .list_column {
    border-left-color:#c9c9c9;
}

.list_menu {
    padding:2px;
    margin-top:5px;
    height:1.5em;
}

.lineone {
    background-color:#F2F2F2;
}

.linetwo {
    background-color:#FFFFFF;
}

.hilight ,
.tree-select-current {
    background-color:#c5dcf2;
    border:1px solid #BCCDED;
}

.naviColumn .hilight {
    border:1px solid #9FBAED;
}

.space-threadList-inner-grn .hilight ,
.space-todoLeft-inner-grn .hilight {
    border:0;
    border-radius:0;
}

.unread_color {
    background-color:#FCF4E1;
    border:1px solid #E8C47C;
}

.bg_admin20 .select_item_candidacy_grn {
    margin-top:33px;
    padding-bottom:18px;  
}

.space0 ,
.space1 ,
.link0 ,
.link1 ,
.schedule0 ,
.schedule1 ,
.message0 ,
.message1 ,
.bulletin0 ,
.bulletin1 ,
.cabinet0,.cabinet1 ,
.phonemessage0 ,
.phonemessage1 ,
.timecard0 ,
.timecard1 ,
.address0 ,
.address1 ,
.mail0 ,
.mail1 ,
.workflow0 ,
.workflow1 ,
.report0 ,
.report1 ,
.cellular0 ,
.cellular1 {
    display:inline;
    margin:0 0 0 5px;
    padding:0 10px 5px;
    width:20px;
}

.space0{ background:url('../image/cybozu/space_disable16.png') no-repeat}
.space1{ background:url('../image/cybozu/space16.png') no-repeat}
.link0{ background:url('../image/cybozu/link_disable16.png') no-repeat}
.link1{ background:url('../image/cybozu/link16.png') no-repeat}
.schedule0{ background:url('../image/cybozu/schedule_disable16.png') no-repeat}
.schedule1{ background:url('../image/cybozu/schedule16.png') no-repeat}
.message0{ background:url('../image/cybozu/msg_disable16.png') no-repeat}
.message1{ background:url('../image/cybozu/msg16.png') no-repeat}
.bulletin0{ background:url('../image/cybozu/bulletin_disable16.png') no-repeat}
.bulletin1{ background:url('../image/cybozu/bulletin16.png') no-repeat}
.cabinet0{ background:url('../image/cybozu/file_disable16.png') no-repeat}
.cabinet1{ background:url('../image/cybozu/file16.png') no-repeat}
.phonemessage0{ background:url('../image/cybozu/telmemo_disable16.png') no-repeat}
.phonemessage1{ background:url('../image/cybozu/telmemo16.png') no-repeat}
.timecard0{ background:url('../image/cybozu/timecard_disable16.png') no-repeat}
.timecard1{ background:url('../image/cybozu/timecard16.png') no-repeat}
.address0{ background:url('../image/cybozu/address_disable16.png') no-repeat}
.address1{ background:url('../image/cybozu/address16.png') no-repeat}
.mail0{ background:url('../image/cybozu/mail_disable16.png') no-repeat}
.mail1{ background:url('../image/cybozu/mail16.png') no-repeat}
.workflow0{ background:url('../image/cybozu/workflow_disable16.png') no-repeat}
.workflow1{ background:url('../image/cybozu/workflow16.png') no-repeat}
.report0{ background:url('../image/cybozu/report_disable16.png') no-repeat}
.report1{ background:url('../image/cybozu/report16.png') no-repeat}
.cellular0{ background:url('../image/cybozu/cellular_phone_disable16.png') no-repeat}
.cellular1{ background:url('../image/cybozu/cellular_phone16.png') no-repeat}

.icon_app_permission_set_grn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 3px 0 5px;
    padding: 0;
}

.app_permission_set_base_grn .space0{ background:url('../image/cybozu/space_disable20.png') no-repeat}
.app_permission_set_base_grn .space2{ background:url('../image/cybozu/space_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .link0{ background:url('../image/cybozu/link_disable20.png') no-repeat}
.app_permission_set_base_grn .link2{ background:url('../image/cybozu/link_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .schedule0{ background:url('../image/cybozu/schedule_disable20.png') no-repeat}
.app_permission_set_base_grn .schedule2{ background:url('../image/cybozu/schedule_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .message0{ background:url('../image/cybozu/msg_disable20.png') no-repeat}
.app_permission_set_base_grn .message2{ background:url('../image/cybozu/msg_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .bulletin0{ background:url('../image/cybozu/bulletin_disable20.png') no-repeat}
.app_permission_set_base_grn .bulletin2{ background:url('../image/cybozu/bulletin_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .cabinet0{ background:url('../image/cybozu/file_disable20.png') no-repeat}
.app_permission_set_base_grn .cabinet2{ background:url('../image/cybozu/file_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .phonemessage0{ background:url('../image/cybozu/telmemo_disable20.png') no-repeat}
.app_permission_set_base_grn .phonemessage2{ background:url('../image/cybozu/telmemo_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .timecard0{ background:url('../image/cybozu/timecard_disable20.png') no-repeat}
.app_permission_set_base_grn .timecard2{ background:url('../image/cybozu/timecard_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .address0{ background:url('../image/cybozu/address_disable20.png') no-repeat}
.app_permission_set_base_grn .address2{ background:url('../image/cybozu/address_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .mail0{ background:url('../image/cybozu/mail_disable20.png') no-repeat}
.app_permission_set_base_grn .mail2{ background:url('../image/cybozu/mail_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .workflow0{ background:url('../image/cybozu/workflow_disable20.png') no-repeat}
.app_permission_set_base_grn .workflow2{ background:url('../image/cybozu/workflow_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .report0{ background:url('../image/cybozu/report_disable20.png') no-repeat}
.app_permission_set_base_grn .report2{ background:url('../image/cybozu/report_remote_prohibition20.png') no-repeat}
.app_permission_set_base_grn .cellular0{ background:url('../image/cybozu/cellular_phone_disable20.png') no-repeat}
.app_permission_set_base_grn .cellular2{ background:url('../image/cybozu/cellular_phone_remote_prohibition20.png') no-repeat}

.add_use_app_grn th,.add_use_app_grn td{
    text-align:center;
    line-height:1.2;
    padding:5px 3px;
}

.add_use_app_icon_grn{
    height:16px;
    width:16px;
    margin-bottom:1px;
    display:inline-block;
    padding: 0;
}
/* contents end */

/* tree view */
#tree_part ,
.naviColumn {
    background-color:#eeeeee;
    border-radius:3px;
    border:1px solid #C9C9C9;
    padding:3px 10px 3px 7px;
}

.tree-unread-num {
    font-size:14px;
}

#tree_part .border-partition-common-grn {
    border-bottom:1px solid #F2F2F2;
    border-top:1px solid #B6B6B6;
}
/* tree view end */

/* frame */
.set_part_frame_grn {
    background-color:#ffffff;
    padding:10px;
    border:1px solid #c9c9c9;
    border-radius:4px;
}
/* frame end */

/* sandbox */
.sandbox_set_time_grn {
    font-size:110%;
}

.sandbox_label_grn {
    background-color:#FAF7DC;
    border:2px solid #E6D100;
    font-weight:700;
    display:inline-block;
    padding:2px 7px;
}

.sandbox_pulldown_base_grn {
    white-space:nowrap;
}

.sandbox_pulldown_grn span {
    vertical-align:middle;
}

.sandbox_pulldown_grn {
    padding:0 5px 1px 5px;
    border-radius:4px;
    display:inline-block;
    line-height:1.2;
    margin:0 7px 7px 0;
}

.sandbox_pulldown_base_grn a:link ,
.sandbox_pulldown_base_grn a:visited ,
.sandbox_pulldown_base_grn a:hover ,
.sandbox_pulldown_base_grn a:active {
    color:#ffffff;
    text-decoration:none;
}

.sandbox_pulldown_grn .arrow_down_small_icon_grn {
    height:10px;
    margin-left:2px;
    width:12px;
    display:inline-block;
}

.sandbox_pulldown_grn .arrow_down_small_icon_grn {
    background-image:url(../image/cybozu/image-common/arrow_down_bright.png);
    background-repeat:no-repeat;
    background-position:0px center;
}

.sandbox_pulldown_delete_grn:hover {
    background-color:#CE4A44;
}

.sandbox_pulldown_delete_grn {
    background-color:#E66154;
}

.sandbox_pulldown_update_grn:hover {
    background-color:#eb7700;
}

.sandbox_pulldown_update_grn {
    background-color:#EF9201;
}

.sandbox_pulldown_new_grn:hover {
    background-color:#0064d3;
}

.sandbox_pulldown_new_grn {
    background-color:#3182DC;
}

.balloon_sandbox_target_grn {
    max-width:100%;
    min-width:300px;
}

.balloon_sandbox_target_grn li {
    white-space:nowrap;
}

.sandbox_label_delete_grn ,
.sandbox_label_update_grn ,
.sandbox_label_new_grn {
    display:inline-block;
    margin-right:3px;
    padding:2px 3px;
    color:#ffffff;
    font-size:85%;
}

.sandbox_label_delete_grn {
    background-color:#E66154;
}

.sandbox_label_update_grn {
    background-color:#EF9201;
}

.sandbox_label_new_grn {
    background-color:#3182DC;
}
/* sandbox end */

/* portal */
table.top_title {
    background-color: #e6e6e6;
    border:1px solid #C9C9C9;
}
/* portal end */

/* relation */
.item_list_base_grn {
    margin-bottom:8px;
}

.item_list_block_grn {
    background-color:#e3e3e3;
    display:inline-block;
    padding:4px 5px;
    min-width:300px;
    border-radius:4px;
    line-height:1.2;
}

.setting_base_type1_grn {
    border-spacing:0;
    border-radius:4px;
    border:1px solid #c9c9c9;
    background-color:#ffffff;
    margin-bottom:10px;
}
.setting_base_type1_action_grn {
border-left:1px dashed #b6b6b6;
}
/* relation end */

/* footer */
.footer_grn{
    background-color:#EEEEEE;
}

.credit {
    color:#666666;
}
/* footer end */

/* link-visited-hover summary */
.link_body_color_grn a:link ,
.link_body_color_grn a:visited {
    color:#222222;
}

a:link,
a:visited,
#main_menu_part a:link,
#main_menu_part a:visited,
#menu_part a:link,
#menu_part a:visited,
#footer a:link,
#footer a:visited,
.globalNavi-item-grn a:link,
.globalNavi-item-grn a:visited,
.file_input_div,
.button_style_off_grn {
    color:#0033cc;
    text-decoration:none;
}

a:hover,
a:active,
#main_menu_part a:hover,
#menu_part a:hover,
#footer a:hover,
.globalNavi-item-grn a:hover,
.globalNavi-item-grn a:active,
.space-thread-comment-footer-grn a:hover,
.space-todo-comment-footer-grn a:hover,
TABLE.top_title a:hover,
.list_column td.top_title a:hover ,
.comment-grn a:hover,
.bodytext_footer_grn a:hover,
.link_body_color_grn a:hover,
.button_style_off_grn:hover {
    color:#CC3300;
    text-decoration:underline;
}

.portal_frame .appmenu-item a:link ,
.portal_frame .appmenu-item_e a:link ,
.portal_frame .appmenu-item a:visited ,
.portal_frame .appmenu-item_e a:visited ,
.portal_frame .appmenu-item span {
    color:#0A62AD;
    text-shadow:none;
}

.portal_frame .appmenu-item a:hover ,
.portal_frame .appmenu-item_e a:hover {
    color:#CC3300;
}
/* link-visited-hover summary end */