.display_options_dialog {
  position:absolute;
  z-index:999;
}

.iframe-breadcrumb {
  position:absolute;
  z-index:998;
}

.display_options_dialog ul {
    margin:0;
    padding:0;
}

.display_options_dialog li {
    margin:0;
    padding:5px;
    list-style-type:none;
}

.display_options_dialog li a {
    display:block;
    white-space:nowrap;
}

.display_options_dialog li.options_dialog_subtitle_grn {
    padding:7px 5px 0;
}

.display_options_dialog li.partition_options_dialog_grn {
    padding:0;
}

.display_options_dialog .border_partition_pulldown_grn {
    margin:3px 0;
}