.dropdown_option {
 padding-bottom: 1px;
 background-color: #FFFFFF;
}
.dropdown_option .wrap_select_view {
 float:left;
 overflow: auto;
}

.wrap_select_view {
 border: 1px solid #999999;
 cursor:pointer;
}

.dropdown_item {
 background-color: #FFFFFF;
 text-decoration: none;
 cursor:pointer;

}
.user_group_hover {
 background-color: #316AC5;
 color: #FFFFFF;
}

td.dropdown_menu_current {
 font-size: 80% !important;
 padding: 0 1em 0 5px;
 cursor:pointer;
}

td.dropdown_menu_facility,td.dropdown_menu_user,td.dropdown_menu_common_grn{
background-color:#EFEFEF;
border-left:1px solid #C9C9C9;
font-size:80%;
text-align:center;
padding:0;
cursor:pointer;
line-height:1;
}

td.dropdown_menu_facility,td.dropdown_menu_user{
 width: 37px;
}

td.dropdown_menu_common_grn{
 width:20px;
}

.margin_bottom .wrap_dropdown_menu ,
.margin_bottom .wrap_dropdown_option {
    margin-left:-3px;
}

.group_day_calendar_portal_frame .wrap_dropdown_menu ,
.group_day_calendar_portal_frame .wrap_dropdown_option {
    margin-left:-6px;
}

.portal_frame_schedule_groupweek_grn .wrap_dropdown_menu ,
.portal_frame_schedule_groupweek_grn .wrap_dropdown_option {
    margin-left:-4px;
}

.wrap_dropdown_menu{
 margin: 0;
 height: 20px;
 border: 1px solid #C9C9C9;
 white-space: nowrap;
 background-color: #FFFFFF;
}
.wrap_dropdown_menu .dropdown_menu_common_grn img {
vertical-align: 0px;
}

.dropdown_menu_sublink_grn {
    float: left;
    font-size: 85%;
    white-space: nowrap;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.dropdown_menu_sublink_grn a img{
    vertical-align: -3px;
}

.wrap_dropdown_option {
 clear: both;
 margin:0;
 font-size: 90%;
}

.dropdown_menu_mouse_over {
  background-color : #DDDDDD;
}

.dropdown_menu_mouse_out {
  background-color : #000000;
}

.dropdown_menu_select {
  background-color : #CCCCCC;
}


.dropdown_user_item{
padding-left:5px;
padding-bottom:1px;
white-space:nowrap;
line-height:1.25;
}

.wrap_tree1{
  border: 1px solid #999999;
  background-color:#FFFFFF;
  z-index:1003;
  position:absolute;
}

.wrap_tree2{
    border: 6px solid #DDDDDD;
    padding: 5px;
}

.ygtvlabel{
    cursor:pointer;
    color:#0033CC;
    background-color:#FFFFFF;
}

.ygtv-highlight1{
	background-color: #c9e4f6;
	font-weight: bold;
	white-space: nowrap;
}

td.ygtvcell{
    padding:0;
    height:20px;
}

.ygtvtable{
    margin:1px;
}
