@charset "UTF-8";

body ,
.cloudHeader-grn , 
.cloudHeader-grnNotification-itemBody-grn .format_contents , 
.cloudHeader-grn button ,
pre ,
input ,
button ,
textarea ,
select ,
tt ,
.bold ,
.font_red ,
.format_contents ,
button.appmenu ,
#one_parts #action .company ,
.company ,
#setup_menu .items .title ,
#setup_menu #focus ,
#tree_structure #focus ,
.sub_title ,
.day_navi .items .date ,
.day_navi .items .name ,
#one_category_menu .items .title ,
#one_category_menu #focus ,
.button_bold ,
.input-text-outer-cybozu input ,
.content_message_grn ,
.user_select_list ,
.input-text-outer-cybozu input ,
body #content ,
#content .bold ,
#content .format_contents ,
#content .sub_title {
    font-family:'微软雅黑','Microsoft YaHei','新宋体',NSimSun,STHeiti,Hei,'Heiti SC',sans-serif;
}

.appmenu-item {
    letter-spacing:0px;
}

@-moz-document url-prefix() { /* FF */
select {
    padding-top:3px !important;
}
}

/* new design info */
.info_mm_select_language_grn {
    display:block;
}
/* new design info end */