@charset "UTF-8";

body ,
.cloudHeader-grn , 
.cloudHeader-grnNotification-itemBody-grn .format_contents , 
.cloudHeader-grn button ,
pre ,
input ,
button ,
textarea ,
select ,
tt ,
.bold ,
.font_red ,
.format_contents ,
button.appmenu ,
#one_parts #action .company ,
.company ,
#setup_menu .items .title ,
#setup_menu #focus ,
#tree_structure #focus ,
.sub_title ,
.day_navi .items .date ,
.day_navi .items .name ,
#one_category_menu .items .title ,
#one_category_menu #focus ,
.button_bold ,
.input-text-outer-cybozu input ,
.content_message_grn {
    font-family:HelveticaNeueW02-45Ligh , Arial , "Hiragino Kaku Gothic ProN" , Meiryo , sans-serif;
}

@-moz-document url-prefix() { /* FF */
select {
    padding-top:3px !important;
}
}

/* appmenu */
.appmenu-item {
    letter-spacing:0px;
}
/* appmenu end */

/* search */
.cloudHeader-searchbox .prefix-grn {
    font-size:11px;
}
/* search end */

/* select list */
.selectlist_base_grn .buttonSelectMove-grn .aButtonStandard-grn a , .multi_select_base_grn .buttonSelectMove-grn .aButtonStandard-grn a {
    min-width:85px;
}
/* select list end */

/* viewchange */
.notification_filter_base_grn .button_group_item_grn {
    min-width:66px;
}
/* viewchange end */

/* admin */
.admin_icons A:link ,
.admin_icons A:visited {
width:100px;
height:93px;
}

.admin_icons {
line-height: 1.0em;
}
/* admin end */

/* new design info */
.info_mm_select_language_grn {
    display:block;
}
/* new design info end */