

/***
 ** ヘルプ専用CSS
 */


H3 {/* 大タイトル */
    background-color:#ccddff;
}

H4 {/* 中タイトル */
    background-color:#c6cbeb;
}

.ex_link {/* リンク表示用 */
    color:#0000ff;
    text-decoration:underline;
}

.ex_boldlink {/* リンク表示（太字）用 */
    color:#0000ff;
    font-weight:bold;
    text-decoration:underline;
}

.ex_blue {/* リンク表示線なし用 */
    color:#0000ff;
}

.ex_bold {/* 黒字の太字用 */
    font-weight:bold;
}

.notice {/* ※用 */
    color:#ff0000;
}

.help_menubar {/* メニューバー表示用 */
    background-color:#eeeeee;
}

.arrow {/* システムヘルプ　設定手順用 */
    text-align: center;
    font-size: 22px;
    color:#0000ff;

}

/***
 **help table
 */

#help_table {
}

#help_table #help_tree_part {
    border-right:1px dotted #999999;
    padding-right:0.5em;
}

#help_table #help_view_part {
    padding-left:0.5em;
}

/***
 **help_tree
 */

.help_tree {
}
.help_tree DIV {
    margin-bottom:0.2em;
}
.help_tree .node {
    padding-left:1em;
}
.help_tree #focus {
    font-weight:bold;
    background:#c6cbeb;
}

/***
 **help_text
 */

.table {
    border-collapse:collapse;
    border-color:#999999;
    background:#ffffff;
}
.table th {
    border-color:#999999;
    background:#cccccc;
}
.table td {
    border-color:#999999;
}

/***
 **
 */
.userfacilitydropdownmenu_help {
	background-color: #FFFFFF;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 80%;
	padding: 2px;
}

.userfacilitydropdownmenu_icon_help {
	border: 1px solid #999999;
	background-color: #EFEFEF;
	width: 37px;
	text-align: center;
}

.selectfilebutton_help {
	margin: 0px 3px 0px 3px;
	padding: 1px 5px 0px 5px;
	border: 1px solid #999999;
	background-color: #CFC7AC;
	font-size: 80%;
	white-space: nowrap;
}
