select::-ms-expand {
    display:none;
}

.header_base_grn .cloudHeader-grnNotification-grn .cloudHeader-grnNotification-count-grn {
    position:relative;
}

.header_base_grn .cloudHeader-grnNotification-grn .cloudHeader-grnNotification-count-grn ,
.header_base_grn .cloudHeader-grnNotificationTitle-grn:active > span > span.cloudHeader-grnNotification-count-grn {
    top:0px;
    left:0px;
    margin-top:-19px;
    margin-right:-12px;
    margin-left:-10px;
}

.header_appmenu_grn .appmenu-item a:hover nobr {
    margin-left:-16px;
}

.button_style_off_grn:active > div,
.button_style_off_grn:active > span,
.button_style_off_grn:active > img,
.pulldownbutton_grn button:active span {
  position: relative;
  top: 0;
  right: 0;
}

.top_title .search_navi {
    margin-right:-4px;
}