/***
 **
 */



/***
 **
 */

.portlet_c3i { padding-left:34px; height:34px; background:url("../image/cybozu/appmenu32.gif") no-repeat; }
.portlet_portal { padding-left:34px; height:34px; background:url("../image/cybozu/portal32.gif") no-repeat; }
.portlet_link { padding-left:34px; height:34px; background:url("../image/cybozu/linklist32.gif") no-repeat; }
.portlet_schedule { padding-left:34px; height:34px; background:url("../image/cybozu/schedule32.gif") no-repeat; }
.portlet_message{ padding-left:34px; height:34px; background:url("../image/cybozu/msg32.gif") no-repeat; }
.portlet_bulletin{ padding-left:34px; height:34px; background:url("../image/cybozu/bulletin32.gif") no-repeat; }
.portlet_cabinet{ padding-left:34px; height:34px; background:url("../image/cybozu/file32.gif") no-repeat; }
.portlet_phonemessage{ padding-left:34px; height:34px; background:url("../image/cybozu/where32.gif") no-repeat; }
.portlet_todo { padding-left:34px; height:34px; background:url("../image/cybozu/todo32.gif") no-repeat; }
.portlet_address { padding-left:34px; height:34px; background:url("../image/cybozu/address32.gif") no-repeat; }
.portlet_mail { padding-left:34px; height:34px; background:url("../image/cybozu/mail32.gif") no-repeat; }
.portlet_cbwebsrv { padding-left:34px; height:34px; background:url("../image/cybozu/business32.gif") no-repeat; }
.portlet_notification { padding-left:34px; height:34px; background:url("../image/cybozu/notify32.gif") no-repeat; }
.portlet_cellular { padding-left:34px; height:34px; background:url("../image/cybozu/appmenu32.gif") no-repeat; }

/***
 **
 */

.access16 { padding-left:16px; height:16px; background:url("../image/cybozu/access16.gif") no-repeat; }
.access20 { padding-left:22px; height:22px; background:url("../image/cybozu/access20.gif") no-repeat; }
.access32 { padding-left:34px; height:34px; background:url("../image/cybozu/access32.gif") no-repeat; }
.accesslog32 { padding-left:34px; height:34px; background:url("../image/cybozu/accesslog32.gif") no-repeat; }
.address32 { padding-left:34px; height:34px; background:url("../image/cybozu/address32.gif") no-repeat; }
.addressgroup32 { padding-left:34px; height:34px; background:url("../image/cybozu/addressgroup32.gif") no-repeat; }
.adjust20 { padding-left:22px; height:22px; background:url("../image/cybozu/adjust20.gif") no-repeat; }
.adminbasic20 { padding-left:22px; height:22px; background:url("../image/cybozu/adminbasic20.gif") no-repeat; }
.admindetail20 { padding-left:22px; height:22px; background:url("../image/cybozu/admindetail20.gif") no-repeat; }
.administrator32 { padding-left:34px; height:34px; background:url("../image/cybozu/administrator32.gif") no-repeat; }
.adminstrator32 { padding-left:34px; height:34px; background:url("../image/cybozu/adminstrator32.gif") no-repeat; }
.advent32 { padding-left:34px; height:34px; background:url("../image/cybozu/advent32.gif") no-repeat; }
.anniversary16 { padding-left:16px; height:16px; background:url("../image/cybozu/anniversary16.gif") no-repeat; }
.anniversary20 { padding-left:22px; height:22px; background:url("../image/cybozu/anniversary20.gif") no-repeat; }
.anniversary32 { padding-left:34px; height:34px; background:url("../image/cybozu/anniversary32.gif") no-repeat; }
.appmenu32 { padding-left:34px; height:34px; background:url("../image/cybozu/appmenu32.gif") no-repeat; }
.arrow_l30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/arrow_l30x20.gif") no-repeat; }
.arrow_lj30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/arrow_lj30x20.gif") no-repeat; }
.arrow_r30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/arrow_r30x20.gif") no-repeat; }
.arrow_rj30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/arrow_rj30x20.gif") no-repeat; }
.availapp32 { padding-left:34px; height:34px; background:url("../image/cybozu/availapp32.gif") no-repeat; }
.backlink20 { padding-left:22px; height:22px; background:url("../image/cybozu/backlink20.gif") no-repeat; }
.banner16 { padding-left:16px; height:16px; background:url("../image/cybozu/banner16.gif") no-repeat; }
.banner20 { padding-left:22px; height:22px; background:url("../image/cybozu/banner20.gif") no-repeat; }
.blank20 { padding-left:22px; height:22px; background:url("../image/cybozu/blank20.gif") no-repeat; }
.bulletin20_lo { padding-left:22px; height:22px; background:url("../image/cybozu/bulletin20_lo.gif") no-repeat; }
.bulletin20_u { padding-left:22px; height:22px; background:url("../image/cybozu/bulletin20_u.gif") no-repeat; }
.bulletin20_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/bulletin20_clip8.gif") no-repeat; }
.bulletin20_u_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/bulletin20_u_clip8.gif") no-repeat; }
.bulletin20_lo_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/bulletin20_lo_clip8.gif") no-repeat; }
.bulletin20 { padding-left:22px; height:22px; background:url("../image/cybozu/bulletin20.gif") no-repeat; }
.bulletin32 { padding-left:34px; height:34px; background:url("../image/cybozu/bulletin32.gif") no-repeat; }
.bulletinmove32 { padding-left:34px; height:34px; background:url("../image/cybozu/bulletinmove32.gif") no-repeat; }
.business32 { padding-left:34px; height:34px; background:url("../image/cybozu/business32.gif") no-repeat; }
.cal_gday20 { padding-left:22px; height:22px; background:url("../image/cybozu/cal_gday20.gif") no-repeat; }
.cal_gweek20 { padding-left:22px; height:22px; background:url("../image/cybozu/cal_gweek20.gif") no-repeat; }
.cal_pday20 { padding-left:22px; height:22px; background:url("../image/cybozu/cal_pday20.gif") no-repeat; }
.cal_pmon20 { padding-left:22px; height:22px; background:url("../image/cybozu/cal_pmon20.gif") no-repeat; }
.cal_pweek20 { padding-left:22px; height:22px; background:url("../image/cybozu/cal_pweek20.gif") no-repeat; }
.cal_pyear20 { padding-left:22px; height:22px; background:url("../image/cybozu/cal_pyear20.gif") no-repeat; }
.calendar20 { padding-left:22px; height:22px; background:url("../image/cybozu/calendar20.gif") no-repeat; }
.cancel20 { padding-left:22px; height:22px; background:url("../image/cybozu/cancel20.gif") no-repeat; }
.category20_c { padding-left:22px; height:22px; background:url("../image/cybozu/category20_c.gif") no-repeat; }
.category20_co { padding-left:22px; height:22px; background:url("../image/cybozu/category20_co.gif") no-repeat; }
.category20_o { padding-left:22px; height:22px; background:url("../image/cybozu/category20_o.gif") no-repeat; }
.category20 { padding-left:22px; height:22px; background:url("../image/cybozu/category20.gif") no-repeat; }
.category32 { padding-left:34px; height:34px; background:url("../image/cybozu/category32.gif") no-repeat; }
.categorycombine32 { padding-left:34px; height:34px; background:url("../image/cybozu/categorycombine32.gif") no-repeat; }
.categoryseparate32 { padding-left:34px; height:34px; background:url("../image/cybozu/categoryseparate32.gif") no-repeat; }
.check_button16 { padding-left:16px; height:16px; background:url("../image/cybozu/check_button16.gif") no-repeat; }
.check10 { padding-left:10px; height:10px; background:url("../image/cybozu/check10.gif") no-repeat; }
.check16 { padding-left:16px; height:16px; background:url("../image/cybozu/check16.gif") no-repeat; }
.check20 { padding-left:22px; height:22px; background:url("../image/cybozu/check20.gif") no-repeat; }
.clip8x20 { padding-left:10px; height:22px; background:url("../image/cybozu/clip8x20.gif") no-repeat; }
.close20 { padding-left:22px; height:22px; background:url("../image/cybozu/close20.gif") no-repeat; }
.common20 { padding-left:22px; height:22px; background:url("../image/cybozu/common20.gif") no-repeat; }
.common32 { padding-left:34px; height:34px; background:url("../image/cybozu/common32.gif") no-repeat; }
.commonauth32 { padding-left:34px; height:34px; background:url("../image/cybozu/commonauth32.gif") no-repeat; }
.company16 { padding-left:16px; height:16px; background:url("../image/cybozu/company16.gif") no-repeat; }
.company20 { padding-left:22px; height:22px; background:url("../image/cybozu/company20.gif") no-repeat; }
.company32 { padding-left:34px; height:34px; background:url("../image/cybozu/company32.gif") no-repeat; }
.companyitem32 { padding-left:34px; height:34px; background:url("../image/cybozu/companyitem32.gif") no-repeat; }
.copy16 { padding-left:16px; height:16px; background:url("../image/cybozu/copy16.gif") no-repeat; }
.corporation20 { padding-left:22px; height:22px; background:url("../image/cybozu/corporation20.gif") no-repeat; }
.current_left20 { padding-left:22px; height:22px; background:url("../image/cybozu/current_left20.gif") no-repeat; }
.current20 { padding-left:22px; height:22px; background:url("../image/cybozu/current20.gif") no-repeat; }
.customize20 { padding-left:22px; height:22px; background:url("../image/cybozu/customize20.gif") no-repeat; }
.decision48x20 { padding-left:50px; height:22px; background:url("../image/cybozu/decision48x20.gif") no-repeat; }
.defaultmenu20 { padding-left:22px; height:22px; background:url("../image/cybozu/defaultmenu20.gif") no-repeat; }
.defaultmenu32 { padding-left:34px; height:34px; background:url("../image/cybozu/defaultmenu32.gif") no-repeat; }
.delete20_all { padding-left:22px; height:22px; background:url("../image/cybozu/delete20_all.gif") no-repeat; }
.delete20 { padding-left:22px; height:22px; background:url("../image/cybozu/delete20.gif") no-repeat; }
.delete20_off { padding-left:22px; height:22px; background:url("../image/cybozu/delete20_off.gif") no-repeat; }
.deleteall32 { padding-left:34px; height:34px; background:url("../image/cybozu/deleteall32.gif") no-repeat; }
.design32 { padding-left:34px; height:34px; background:url("../image/cybozu/design32.gif") no-repeat; }
.detail20 { padding-left:22px; height:22px; background:url("../image/cybozu/detail20.gif") no-repeat; }
.detail20_off { padding-left:22px; height:22px; background:url("../image/cybozu/detail20_off.gif") no-repeat; }
.disk16 { padding-left:16px; height:16px; background:url("../image/cybozu/disk16.gif") no-repeat; }
.disk20 { padding-left:22px; height:22px; background:url("../image/cybozu/disk20.gif") no-repeat; }
.disk_r20 { padding-left:22px; height:22px; background:url("../image/cybozu/disk_r20.gif") no-repeat; }
.display32 { padding-left:34px; height:34px; background:url("../image/cybozu/display32.gif") no-repeat; }
.draft20 { padding-left:22px; height:22px; background:url("../image/cybozu/draft20.gif") no-repeat; }
.draft20_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/draft20_clip8.gif") no-repeat; }
.environment32 { padding-left:34px; height:34px; background:url("../image/cybozu/environment32.gif") no-repeat; }
.error100x60 { background:url("../image/cybozu/error100x60.gif") no-repeat; }
.event16 { padding-left:16px; height:16px; background:url("../image/cybozu/event16.gif") no-repeat; }
.event20 { padding-left:22px; height:22px; background:url("../image/cybozu/event20.gif") no-repeat; }
.export20 { padding-left:22px; height:22px; background:url("../image/cybozu/export20.gif") no-repeat; }
.export32 { padding-left:34px; height:34px; background:url("../image/cybozu/export32.gif") no-repeat; }
.facility20 { padding-left:22px; height:22px; background:url("../image/cybozu/facility20.gif") no-repeat; }
.facility32 { padding-left:34px; height:34px; background:url("../image/cybozu/facility32.gif") no-repeat; }
.facilitygroup32 { padding-left:34px; height:34px; background:url("../image/cybozu/facilitygroup32.gif") no-repeat; }
.figure20 { padding-left:22px; height:22px; background:url("../image/cybozu/figure20.gif") no-repeat; }
.file20 { padding-left:22px; height:22px; background:url("../image/cybozu/file20.gif") no-repeat; }
.file32 { padding-left:34px; height:34px; background:url("../image/cybozu/file32.gif") no-repeat; }
.filteradmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/filteradmin32.gif") no-repeat; }
.folder_tree20 { padding-left:22px; height:22px; background:url("../image/cybozu/folder_tree20.gif") no-repeat; }
.folder { padding-left:22px; height:22px; background:url("../image/cybozu/folder.gif") no-repeat; }
.folder20_c { padding-left:22px; height:22px; background:url("../image/cybozu/folder20_c.gif") no-repeat; }
.folder20_co { padding-left:22px; height:22px; background:url("../image/cybozu/folder20_co.gif") no-repeat; }
.folder20_f { padding-left:22px; height:22px; background:url("../image/cybozu/folder20_f.gif") no-repeat; }
.folder20_fo { padding-left:22px; height:22px; background:url("../image/cybozu/folder20_fo.gif") no-repeat; }
.folder20 { padding-left:22px; height:22px; background:url("../image/cybozu/folder20.gif") no-repeat; }
.form32 { padding-left:34px; height:34px; background:url("../image/cybozu/form32.gif") no-repeat; }
.forwarded10x20 { padding-left:10px; height:22px; background:url("../image/cybozu/forwarded10x20.gif") no-repeat; }
.function20 { padding-left:22px; height:22px; background:url("../image/cybozu/function20.gif") no-repeat; }
.general32 { padding-left:34px; height:34px; background:url("../image/cybozu/general32.gif") no-repeat; }
.group20 { padding-left:22px; height:22px; background:url("../image/cybozu/group20.gif") no-repeat; }
.groupadmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/groupadmin32.gif") no-repeat; }
.handle20 { padding-left:22px; height:22px; background:url("../image/cybozu/handle20.gif") no-repeat; }
.help20 { padding-left:22px; height:22px; background:url("../image/cybozu/help20.gif") no-repeat; }
.help32 { padding-left:34px; height:34px; background:url("../image/cybozu/help32.gif") no-repeat; }
.hideup20 { padding-left:22px; height:22px; background:url("../image/cybozu/hideup20.gif") no-repeat; }
.holiday20 { padding-left:22px; height:22px; background:url("../image/cybozu/holiday20.gif") no-repeat; }
.holiday32 { padding-left:34px; height:34px; background:url("../image/cybozu/holiday32.gif") no-repeat; }
.hotel20 { padding-left:22px; height:22px; background:url("../image/cybozu/hotel20.gif") no-repeat; }
.html_bgcolor36x25 { background:url("../image/cybozu/html_bgcolor36x25.gif") no-repeat; }
.html_bold25 { background:url("../image/cybozu/html_bold25.gif") no-repeat; }
.html_center25 { background:url("../image/cybozu/html_center25.gif") no-repeat; }
.html_fontcolor36x25 { background:url("../image/cybozu/html_fontcolor36x25.gif") no-repeat; }
.html_fontsize36x25 { background:url("../image/cybozu/html_fontsize36x25.gif") no-repeat; }
.html_italic25 { background:url("../image/cybozu/html_italic25.gif") no-repeat; }
.html_left25 { background:url("../image/cybozu/html_left25.gif") no-repeat; }
.html_link25 { background:url("../image/cybozu/html_link25.gif") no-repeat; }
.html_right25 { background:url("../image/cybozu/html_right25.gif") no-repeat; }
.html_underline25 { background:url("../image/cybozu/html_underline25.gif") no-repeat; }
.import20 { padding-left:22px; height:22px; background:url("../image/cybozu/import20.gif") no-repeat; }
.import32 { padding-left:34px; height:34px; background:url("../image/cybozu/import32.gif") no-repeat; }
.inbox20 { padding-left:22px; height:22px; background:url("../image/cybozu/inbox20.gif") no-repeat; }
.inform32 { padding-left:34px; height:34px; background:url("../image/cybozu/inform32.gif") no-repeat; }
.item_down20 { padding-left:22px; height:22px; background:url("../image/cybozu/item_down20.gif") no-repeat; }
.item_left20 { padding-left:22px; height:22px; background:url("../image/cybozu/item_left20.gif") no-repeat; }
.item_right20 { padding-left:22px; height:22px; background:url("../image/cybozu/item_right20.gif") no-repeat; }
.item_up20 { padding-left:22px; height:22px; background:url("../image/cybozu/item_up20.gif") no-repeat; }
.item32 { padding-left:34px; height:34px; background:url("../image/cybozu/item32.gif") no-repeat; }
/* */
.jobnews { background:url("../image/cybozu/jobnews.gif") no-repeat; }
.key32 { padding-left:34px; height:34px; background:url("../image/cybozu/key32.gif") no-repeat; }
.keyregistry32 { padding-left:34px; height:34px; background:url("../image/cybozu/keyregistry32.gif") no-repeat; }
.ktai20 { padding-left:22px; height:22px; background:url("../image/cybozu/ktai20.gif") no-repeat; }
.ktai32 { padding-left:34px; height:34px; background:url("../image/cybozu/ktai32.gif") no-repeat; }
.license20 { padding-left:22px; height:22px; background:url("../image/cybozu/license20.gif") no-repeat; }
.limit32 { padding-left:34px; height:34px; background:url("../image/cybozu/limit32.gif") no-repeat; }
.line_topright20 { padding-left:22px; height:22px; background:url("../image/cybozu/line_topright20.gif") no-repeat; }
.line_toprightbottom20 { padding-left:22px; height:22px; background:url("../image/cybozu/line_toprightbottom20.gif") no-repeat; }
.link20 { padding-left:22px; height:22px; background:url("../image/cybozu/linklist20.gif") no-repeat; }
.link32 { padding-left:34px; height:34px; background:url("../image/cybozu/linklist32.gif") no-repeat; }
.login32 { padding-left:34px; height:34px; background:url("../image/cybozu/login32.gif") no-repeat; }
.loginpage32 { padding-left:34px; height:34px; background:url("../image/cybozu/loginpage32.gif") no-repeat; }
.loginuser20 { padding-left:22px; height:22px; background:url("../image/cybozu/loginuser20.gif") no-repeat; }
.mail_arrive20 { padding-left:22px; height:22px; background:url("../image/cybozu/mail_arrive20.gif") no-repeat; }
.mail20_a { padding-left:22px; height:22px; background:url("../image/cybozu/mail20_a.gif") no-repeat; }
.mail20_f { padding-left:22px; height:22px; background:url("../image/cybozu/mail20_f.gif") no-repeat; }
.mail20_r { padding-left:22px; height:22px; background:url("../image/cybozu/mail20_r.gif") no-repeat; }
.mail20 { padding-left:22px; height:22px; background:url("../image/cybozu/mail20.gif") no-repeat; }
.mail20_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/mail20_clip8.gif") no-repeat; }
.mail20_a_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/mail20_a_clip8.gif") no-repeat; }
.mail20_f_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/mail20_f_clip8.gif") no-repeat; }
.mail20_r_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/mail20_r_clip8.gif") no-repeat; }
.mail32 { padding-left:34px; height:34px; background:url("../image/cybozu/mail32.gif") no-repeat; }
.mailaccount20 { padding-left:22px; height:22px; background:url("../image/cybozu/mailaccount20.gif") no-repeat; }
.mailaccount32 { padding-left:34px; height:34px; background:url("../image/cybozu/mailaccount32.gif") no-repeat; }
.mailfilter20 { padding-left:22px; height:22px; background:url("../image/cybozu/mailfilter20.gif") no-repeat; }
.mailfilter32 { padding-left:34px; height:34px; background:url("../image/cybozu/mailfilter32.gif") no-repeat; }
.mailhistory20 { padding-left:22px; height:22px; background:url("../image/cybozu/mailhistory20.gif") no-repeat; }
.mailsend32 { padding-left:34px; height:34px; background:url("../image/cybozu/mailsend32.gif") no-repeat; }
.mailserver32 { padding-left:34px; height:34px; background:url("../image/cybozu/mailserver32.gif") no-repeat; }
.maintenance32 { padding-left:34px; height:34px; background:url("../image/cybozu/maintenance32.gif") no-repeat; }
.manage20 { padding-left:22px; height:22px; background:url("../image/cybozu/manage20.gif") no-repeat; }
.manager32 { padding-left:34px; height:34px; background:url("../image/cybozu/manager32.gif") no-repeat; }
.map_empty16 { padding-left:16px; height:16px; background:url("../image/cybozu/map_empty16.gif") no-repeat; }
.map_fill16 { padding-left:16px; height:16px; background:url("../image/cybozu/map_fill16.gif") no-repeat; }
.map20 { padding-left:22px; height:22px; background:url("../image/cybozu/map20.gif") no-repeat; }
/* */
.mark16_off { background:url("../image/cybozu/mark16_off.gif") no-repeat; }
.mark16_on { background:url("../image/cybozu/mark16_on.gif") no-repeat; }
.memo20 { padding-left:22px; height:22px; background:url("../image/cybozu/memo20.gif") no-repeat; }
.memo20_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/memo20_clip8.gif") no-repeat; }
.memo32 { padding-left:34px; height:34px; background:url("../image/cybozu/memo32.gif") no-repeat; }
.menu32 { padding-left:34px; height:34px; background:url("../image/cybozu/menu32.gif") no-repeat; }
.migration32 { padding-left:34px; height:34px; background:url("../image/cybozu/migration32.gif") no-repeat; }
.milestone20 { padding-left:22px; height:22px; background:url("../image/cybozu/milestone20.gif") no-repeat; }
.minus13 { background:url("../image/cybozu/minus13.gif") no-repeat; }
.modify20 { padding-left:22px; height:22px; background:url("../image/cybozu/modify20.gif") no-repeat; }
.move20 { padding-left:22px; height:22px; background:url("../image/cybozu/move20.gif") no-repeat; }
.move_right20 { padding-left:22px; height:22px; background:url("../image/cybozu/move_right20.gif") no-repeat; }
.msg20_u { padding-left:22px; height:22px; background:url("../image/cybozu/msg20_u.gif") no-repeat; }
.msg20 { padding-left:22px; height:22px; background:url("../image/cybozu/msg20.gif") no-repeat; }
.msg20_u_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/msg20_u_clip8.gif") no-repeat; }
.msg20_clip8 { padding-left:30px; height:22px; background:url("../image/cybozu/msg20_clip8.gif") no-repeat; }
.msg32 { padding-left:34px; height:34px; background:url("../image/cybozu/msg32.gif") no-repeat; }
.msgfilter32 { padding-left:34px; height:34px; background:url("../image/cybozu/msgfilter32.gif") no-repeat; }
.myfolder32 { padding-left:34px; height:34px; background:url("../image/cybozu/myfolder32.gif") no-repeat; }
.navi20 { padding-left:22px; height:22px; background:url("../image/cybozu/navi20.gif") no-repeat; }
.news20 { padding-left:22px; height:22px; background:url("../image/cybozu/news20.gif") no-repeat; }
.nocheck20 { padding-left:22px; height:22px; background:url("../image/cybozu/nocheck20.gif") no-repeat; }
.noclip8x20 { padding-left:22px; height:22px; background:url("../image/cybozu/noclip8x20.gif") no-repeat; }
.node13 { padding-left:15px; height:13px; background:url("../image/cybozu/node13.gif") no-repeat; }
.none13 { padding-left:15px; height:13px; background:url("../image/cybozu/none13.gif") no-repeat; }
.notify_collaborex20 { padding-left:22px; height:22px; background:url("../image/cybozu/notify_collaborex20.gif") no-repeat; }
.notify_dezie20 { padding-left:22px; height:22px; background:url("../image/cybozu/notify_dezie20.gif") no-repeat; }
.notify_mailwise20 { padding-left:22px; height:22px; background:url("../image/cybozu/notify_mailwise20.gif") no-repeat; }
.notify20 { padding-left:22px; height:22px; background:url("../image/cybozu/notify20.gif") no-repeat; }
.notify32 { padding-left:34px; height:34px; background:url("../image/cybozu/notify32.gif") no-repeat; }
.notifydomain32 { padding-left:34px; height:34px; background:url("../image/cybozu/notifydomain32.gif") no-repeat; }
.notifyfolder32 { padding-left:34px; height:34px; background:url("../image/cybozu/notifyfolder32.gif") no-repeat; }
.offview20 { padding-left:22px; height:22px; background:url("../image/cybozu/offview20.gif") no-repeat; }
.order_bottom20 { padding-left:22px; height:22px; background:url("../image/cybozu/order_bottom20.gif") no-repeat; }
.open20 { padding-left:22px; height:22px; background:url("../image/cybozu/open20.gif") no-repeat; }
.order_down20 { padding-left:22px; height:22px; background:url("../image/cybozu/order_down20.gif") no-repeat; }
.order_top20 { padding-left:22px; height:22px; background:url("../image/cybozu/order_top20.gif") no-repeat; }
.order_up20 { padding-left:22px; height:22px; background:url("../image/cybozu/order_up20.gif") no-repeat; }
.order20 { padding-left:22px; height:22px; background:url("../image/cybozu/order20.gif") no-repeat; }
.order20_off { padding-left:22px; height:22px; background:url("../image/cybozu/order20_off.gif") no-repeat; }
.organize_o20 { padding-left:22px; height:22px; background:url("../image/cybozu/organize_o20.gif") no-repeat; }
.organize20_o { padding-left:22px; height:22px; background:url("../image/cybozu/organize20_o.gif") no-repeat; }
.organize20_c { padding-left:22px; height:22px; background:url("../image/cybozu/organize20_c.gif") no-repeat; }
.organize20_co { padding-left:22px; height:22px; background:url("../image/cybozu/organize20_co.gif") no-repeat; }
.organize20 { padding-left:22px; height:22px; background:url("../image/cybozu/organize20.gif") no-repeat; }
.organize32 { padding-left:34px; height:34px; background:url("../image/cybozu/organize32.gif") no-repeat; }
.overevent20 { padding-left:22px; height:22px; background:url("../image/cybozu/overevent20.gif") no-repeat; }
.pageadmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/pageadmin32.gif") no-repeat; }
.password16 { padding-left:16px; height:16px; background:url("../image/cybozu/password16.gif") no-repeat; }
.password20 { padding-left:22px; height:22px; background:url("../image/cybozu/password20.gif") no-repeat; }
.password32 { padding-left:34px; height:34px; background:url("../image/cybozu/password32.gif") no-repeat; }
.passwordletter32 { padding-left:34px; height:34px; background:url("../image/cybozu/passwordletter32.gif") no-repeat; }
.performance32 { padding-left:34px; height:34px; background:url("../image/cybozu/performance32.gif") no-repeat; }
.person16 { padding-left:20px; height:16px; background:url("../image/cybozu/person16.gif") no-repeat; }
.person20 { padding-left:22px; height:22px; background:url("../image/cybozu/person20.gif") no-repeat; }
.personaladmin20 { padding-left:22px; height:22px; background:url("../image/cybozu/personaladmin20.gif") no-repeat; }
.personaladmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/personaladmin32.gif") no-repeat; }
.personitem32 { padding-left:34px; height:34px; background:url("../image/cybozu/personitem32.gif") no-repeat; }
.pin20 { padding-left:22px; height:22px; background:url("../image/cybozu/pin20.gif") no-repeat; }
.plus13 { padding-left:15px; height:13px; background:url("../image/cybozu/plus13.gif") no-repeat; }
.popup14 { padding-left:14px; height:14px; background:url("../image/cybozu/popup14.gif") no-repeat; }
.popup16 { padding-left:16px; height:16px; background:url("../image/cybozu/popup16.gif") no-repeat; }
.popup20 { padding-left:22px; height:22px; background:url("../image/cybozu/popup20.gif") no-repeat; }
.portal20 { padding-left:22px; height:22px; background:url("../image/cybozu/portal20.gif") no-repeat; }
.portal32 { padding-left:34px; height:34px; background:url("../image/cybozu/portal32.gif") no-repeat; }
.portlet20 { padding-left:22px; height:22px; background:url("../image/cybozu/portlet20.gif") no-repeat; }
.portlet32 { padding-left:34px; height:34px; background:url("../image/cybozu/portlet32.gif") no-repeat; }
.powerup32 { padding-left:34px; height:34px; background:url("../image/cybozu/powerup32.gif") no-repeat; }
.print20 { padding-left:22px; height:22px; background:url("../image/cybozu/print20.gif") no-repeat; }
.private20 { padding-left:22px; height:22px; background:url("../image/cybozu/private20.gif") no-repeat; }
.private32 { padding-left:34px; height:34px; background:url("../image/cybozu/private32.gif") no-repeat; }
.project20 { padding-left:22px; height:22px; background:url("../image/cybozu/project20.gif") no-repeat; }
.project32 { padding-left:34px; height:34px; background:url("../image/cybozu/project32.gif") no-repeat; }
.projectadmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/projectadmin32.gif") no-repeat; }
.quickview20 { padding-left:22px; height:22px; background:url("../image/cybozu/quickview20.gif") no-repeat; }
.railroute20 { padding-left:22px; height:22px; background:url("../image/cybozu/railroute20.gif") no-repeat; }
.readme32 { padding-left:34px; height:34px; background:url("../image/cybozu/readme32.gif") no-repeat; }
.remoteconf32 { padding-left:34px; height:34px; background:url("../image/cybozu/remoteconf32.gif") no-repeat; }
.repeat16 { padding-left:16px; height:16px; background:url("../image/cybozu/repeat16.gif") no-repeat; }
.repeat20 { padding-left:22px; height:22px; background:url("../image/cybozu/repeat20.gif") no-repeat; }
.replyed10x20 { padding-left:10px; height:22px; background:url("../image/cybozu/replyed10x20.gif") no-repeat; }
.report20_u { padding-left:22px; height:22px; background:url("../image/cybozu/report20_u.gif") no-repeat; }
.report20 { padding-left:22px; height:22px; background:url("../image/cybozu/report20.gif") no-repeat; }
.report32 { padding-left:34px; height:34px; background:url("../image/cybozu/report32.gif") no-repeat; }
.reuse20 { padding-left:22px; height:22px; background:url("../image/cybozu/reuse20.gif") no-repeat; }
.richedit20 { padding-left:22px; height:22px; background:url("../image/cybozu/richedit20.gif") no-repeat; }
.richedit32 { padding-left:34px; height:34px; background:url("../image/cybozu/richedit32.gif") no-repeat; }
.role20 { padding-left:22px; height:22px; background:url("../image/cybozu/role20.gif") no-repeat; }
.rss32 { padding-left:34px; height:34px; background:url("../image/cybozu/rss32.gif") no-repeat; }
.sampledelete32 { padding-left:34px; height:34px; background:url("../image/cybozu/sampledelete32.gif") no-repeat; }
.schedule20 { padding-left:22px; height:22px; background:url("../image/cybozu/schedule20.gif") no-repeat; }
.schedule32 { padding-left:34px; height:34px; background:url("../image/cybozu/schedule32.gif") no-repeat; }
.schedulejoin20 { padding-left:22px; height:22px; background:url("../image/cybozu/schedulejoin20.gif") no-repeat; }
.search20 { padding-left:22px; height:22px; background:url("../image/cybozu/search20.gif") no-repeat; }
.sentbox20 { padding-left:22px; height:22px; background:url("../image/cybozu/sentbox20.gif") no-repeat; }
.share_repeat32x16 { padding-left:32px; height:16px; background:url("../image/cybozu/share_repeat32x16.gif") no-repeat; }
.share16 { padding-left:32px; height:16px; background:url("../image/cybozu/share16.gif") no-repeat; }
.showdown14 { padding-left:14px; height:14px; background:url("../image/cybozu/showdown14.gif") no-repeat; }
.showdown20 { padding-left:22px; height:22px; background:url("../image/cybozu/showdown20.gif") no-repeat; }
.showdown30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/showdown30x20.gif") no-repeat; }
.showup14 { padding-left:14px; height:14px; background:url("../image/cybozu/showup14.gif") no-repeat; }
.signature20 { padding-left:22px; height:22px; background:url("../image/cybozu/signature20.gif") no-repeat; }
.signature32 { padding-left:34px; height:34px; background:url("../image/cybozu/signature32.gif") no-repeat; }
.smartaccount32 { padding-left:34px; height:34px; background:url("../image/cybozu/smartaccount32.gif") no-repeat; }
.smarturl32 { padding-left:34px; height:34px; background:url("../image/cybozu/smarturl32.gif") no-repeat; }
.sortdown16_n { padding-left:16px; height:16px; background:url("../image/cybozu/sortdown16_n.gif") no-repeat; }
.sortdown16 { padding-left:16px; height:16px; background:url("../image/cybozu/sortdown16.gif") no-repeat; }
.sortdown20 { padding-left:22px; height:22px; background:url("../image/cybozu/sortdown20.gif") no-repeat; }
.sortup16_n { padding-left:16px; height:16px; background:url("../image/cybozu/sortup16_n.gif") no-repeat; }
.sortup16 { padding-left:16px; height:16px; background:url("../image/cybozu/sortup16.gif") no-repeat; }
.source20 { padding-left:22px; height:22px; background:url("../image/cybozu/source20.gif") no-repeat; }
.spacer1 { background:url("../image/cybozu/spacer1.gif") no-repeat; }
.spacer20 { padding-left:22px; height:22px; background:url("../image/cybozu/spacer20.gif") no-repeat; }
.squeez32 { padding-left:34px; height:34px; background:url("../image/cybozu/squeez32.gif") no-repeat; }
.startmenu32 { padding-left:34px; height:34px; background:url("../image/cybozu/startmenu32.gif") no-repeat; }
.subnotify16 { padding-left:16px; height:16px; background:url("../image/cybozu/subnotify16.gif") no-repeat; }
.subnotify20 { padding-left:22px; height:22px; background:url("../image/cybozu/subnotify20.gif") no-repeat; }
.subnotify32 { padding-left:34px; height:34px; background:url("../image/cybozu/subnotify32.gif") no-repeat; }
.subscribe16 { padding-left:16px; height:16px; background:url("../image/cybozu/subscribe16.gif") no-repeat; }
.subscribe20_d { padding-left:22px; height:22px; background:url("../image/cybozu/subscribe20_d.gif") no-repeat; }
.subscribe20 { padding-left:22px; height:22px; background:url("../image/cybozu/subscribe20.gif") no-repeat; }
.support20 { padding-left:22px; height:22px; background:url("../image/cybozu/support20.gif") no-repeat; }
.support32 { padding-left:34px; height:34px; background:url("../image/cybozu/support32.gif") no-repeat; }
.suspend32 { padding-left:34px; height:34px; background:url("../image/cybozu/suspend32.gif") no-repeat; }
.systemadmin20 { padding-left:22px; height:22px; background:url("../image/cybozu/systemadmin20.gif") no-repeat; }
.systemadmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/systemadmin32.gif") no-repeat; }
.systemmanage20 { padding-left:22px; height:22px; background:url("../image/cybozu/systemmanage20.gif") no-repeat; }
.window20 { padding-left:22px; height:22px; background:url("../image/cybozu/window20.gif") no-repeat; }

/* */
.tab_back_blue { background:url("../image/cybozu/tab_back_blue.gif") no-repeat; }
.tab_back_brown { background:url("../image/cybozu/tab_back_brown.gif") no-repeat; }
.tab_back_fall { background:url("../image/cybozu/tab_back_fall.gif") no-repeat; }
.tab_back_green { background:url("../image/cybozu/tab_back_green.gif") no-repeat; }
.tab_back_red { background:url("../image/cybozu/tab_back_red.gif") no-repeat; }
.tab_back { background:url("../image/cybozu/tab_back.gif") no-repeat; }
.tab_left_blue { background:url("../image/cybozu/tab_left_blue.gif") no-repeat; }
.tab_left_brown { background:url("../image/cybozu/tab_left_brown.gif") no-repeat; }
.tab_left_fall { background:url("../image/cybozu/tab_left_fall.gif") no-repeat; }
.tab_left_green { background:url("../image/cybozu/tab_left_green.gif") no-repeat; }
.tab_left_red { background:url("../image/cybozu/tab_left_red.gif") no-repeat; }
.tab_left { background:url("../image/cybozu/tab_left.gif") no-repeat; }
.tab_right_blue { background:url("../image/cybozu/tab_right_blue.gif") no-repeat; }
.tab_right_brown { background:url("../image/cybozu/tab_right_brown.gif") no-repeat; }
.tab_right_fall { background:url("../image/cybozu/tab_right_fall.gif") no-repeat; }
.tab_right_green { background:url("../image/cybozu/tab_right_green.gif") no-repeat; }
.tab_right_red { background:url("../image/cybozu/tab_right_red.gif") no-repeat; }
.tab_right { background:url("../image/cybozu/tab_right.gif") no-repeat; }
/* */

.task20 { padding-left:22px; height:22px; background:url("../image/cybozu/task20.gif") no-repeat; }
.telmemo20_u { padding-left:22px; height:22px; background:url("../image/cybozu/telmemo20_u.gif") no-repeat; }
.telmemo20_w { padding-left:22px; height:22px; background:url("../image/cybozu/telmemo20_w.gif") no-repeat; }
.telmemo20 { padding-left:22px; height:22px; background:url("../image/cybozu/telmemo20.gif") no-repeat; }
.term20 { padding-left:22px; height:22px; background:url("../image/cybozu/term20.gif") no-repeat; }
.textedit20 { padding-left:22px; height:22px; background:url("../image/cybozu/textedit20.gif") no-repeat; }
.theme20 { padding-left:22px; height:22px; background:url("../image/cybozu/theme20.gif") no-repeat; }

/* */
.thismonth30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/thismonth30x20.gif") no-repeat; }
.thisyear30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/thisyear30x20.gif") no-repeat; }
.timecard20 { padding-left:32px; height:22px; background:url("../image/cybozu/timecard20.gif") no-repeat; }
.timecard32 { padding-left:34px; height:34px; background:url("../image/cybozu/timecard32.gif") no-repeat; }
.timecardlist32 { padding-left:34px; height:34px; background:url("../image/cybozu/timecardlist32.gif") no-repeat; }
.title32 { padding-left:34px; height:34px; background:url("../image/cybozu/title32.gif") no-repeat; }

/* */
.today30x20 { padding-left:32px; height:22px; background:url("../image/cybozu/today30x20.gif") no-repeat; }
.todo16 { padding-left:16px; height:16px; background:url("../image/cybozu/todo16.gif") no-repeat; }
.todo20_f { padding-left:22px; height:22px; background:url("../image/cybozu/todo20_f.gif") no-repeat; }
.todo20 { padding-left:22px; height:22px; background:url("../image/cybozu/todo20.gif") no-repeat; }
.todo32 { padding-left:34px; height:34px; background:url("../image/cybozu/todo32.gif") no-repeat; }
.todolist20 { padding-left:22px; height:22px; background:url("../image/cybozu/todolist20.gif") no-repeat; }
.todolist32 { padding-left:34px; height:34px; background:url("../image/cybozu/todolist32.gif") no-repeat; }
.toppage20 { padding-left:22px; height:22px; background:url("../image/cybozu/toppage20.gif") no-repeat; }
.toppage32 { padding-left:34px; height:34px; background:url("../image/cybozu/toppage32.gif") no-repeat; }
.trashbox20 { padding-left:22px; height:22px; background:url("../image/cybozu/trashbox20.gif") no-repeat; }
.trashbox32 { padding-left:34px; height:34px; background:url("../image/cybozu/trashbox32.gif") no-repeat; }
.triptool20 { padding-left:22px; height:22px; background:url("../image/cybozu/triptool20.gif") no-repeat; }
.unsentbox20 { padding-left:22px; height:22px; background:url("../image/cybozu/unsentbox20.gif") no-repeat; }
.user20 { padding-left:22px; height:22px; background:url("../image/cybozu/user20.gif") no-repeat; }
.useradmin32 { padding-left:34px; height:34px; background:url("../image/cybozu/useradmin32.gif") no-repeat; }
.userlist32 { padding-left:34px; height:34px; background:url("../image/cybozu/userlist32.gif") no-repeat; }
.view20 { padding-left:22px; height:22px; background:url("../image/cybozu/view20.gif") no-repeat; }

/* */
.w_100 { padding-left:22px; height:16px; background:url("../image/cybozu/w_100.gif") no-repeat; }
.w_102 { padding-left:22px; height:16px; background:url("../image/cybozu/w_102.gif") no-repeat; }
.w_103 { padding-left:22px; height:16px; background:url("../image/cybozu/w_103.gif") no-repeat; }
.w_104 { padding-left:22px; height:16px; background:url("../image/cybozu/w_104.gif") no-repeat; }
.w_200 { padding-left:22px; height:16px; background:url("../image/cybozu/w_200.gif") no-repeat; }
.w_201 { padding-left:22px; height:16px; background:url("../image/cybozu/w_201.gif") no-repeat; }
.w_203 { padding-left:22px; height:16px; background:url("../image/cybozu/w_203.gif") no-repeat; }
.w_204 { padding-left:22px; height:16px; background:url("../image/cybozu/w_204.gif") no-repeat; }
.w_300 { padding-left:22px; height:16px; background:url("../image/cybozu/w_300.gif") no-repeat; }
.w_301 { padding-left:22px; height:16px; background:url("../image/cybozu/w_301.gif") no-repeat; }
.w_302 { padding-left:22px; height:16px; background:url("../image/cybozu/w_302.gif") no-repeat; }
.w_303 { padding-left:22px; height:16px; background:url("../image/cybozu/w_303.gif") no-repeat; }
.w_304 { padding-left:22px; height:16px; background:url("../image/cybozu/w_304.gif") no-repeat; }
.w_400 { padding-left:22px; height:16px; background:url("../image/cybozu/w_400.gif") no-repeat; }
.w_401 { padding-left:22px; height:16px; background:url("../image/cybozu/w_401.gif") no-repeat; }
.w_402 { padding-left:22px; height:16px; background:url("../image/cybozu/w_402.gif") no-repeat; }
.w_403 { padding-left:22px; height:16px; background:url("../image/cybozu/w_403.gif") no-repeat; }
.w_404 { padding-left:22px; height:16px; background:url("../image/cybozu/w_404.gif") no-repeat; }
.w_cloud { padding-left:22px; height:16px; background:url("../image/cybozu/w_cloud.gif") no-repeat; }
.w_ichiji { padding-left:22px; height:16px; background:url("../image/cybozu/w_ichiji.gif") no-repeat; }
.w_moon { padding-left:22px; height:16px; background:url("../image/cybozu/w_moon.gif") no-repeat; }
.w_nochi { padding-left:22px; height:16px; background:url("../image/cybozu/w_nochi.gif") no-repeat; }
.w_rain { padding-left:22px; height:16px; background:url("../image/cybozu/w_rain.gif") no-repeat; }
.w_rainhard { padding-left:22px; height:16px; background:url("../image/cybozu/w_rainhard.gif") no-repeat; }
.w_snow { padding-left:22px; height:16px; background:url("../image/cybozu/w_snow.gif") no-repeat; }
.w_snowhard { padding-left:22px; height:16px; background:url("../image/cybozu/w_snowhard.gif") no-repeat; }
.w_sun { padding-left:22px; height:16px; background:url("../image/cybozu/w_sun.gif") no-repeat; }
.w_thunder { padding-left:22px; height:16px; background:url("../image/cybozu/w_thunder.gif") no-repeat; }
.w_tokidoki { padding-left:22px; height:16px; background:url("../image/cybozu/w_tokidoki.gif") no-repeat; }
/* */

.waitbox20 { padding-left:22px; height:22px; background:url("../image/cybozu/waitbox20.gif") no-repeat; }

.warn100x60 { background:url("../image/cybozu/warn100x60.gif") no-repeat; }
.weblink20 { padding-left:22px; height:22px; background:url("../image/cybozu/weblink20.gif") no-repeat; }
.where20 { padding-left:22px; height:22px; background:url("../image/cybozu/where20.gif") no-repeat; }
.where32 { padding-left:34px; height:34px; background:url("../image/cybozu/where32.gif") no-repeat; }
.wheremenu32 { padding-left:34px; height:34px; background:url("../image/cybozu/wheremenu32.gif") no-repeat; }
.wheresync32 { padding-left:34px; height:34px; background:url("../image/cybozu/wheresync32.gif") no-repeat; }
.workflow_confirm20 { padding-left:22px; height:22px; background:url("../image/cybozu/workflow_confirm20.gif") no-repeat; }
.workflow_form20_h { background:url("../image/cybozu/workflow_form20_h.gif") no-repeat; }
.workflow_form20 { padding-left:22px; height:22px; background:url("../image/cybozu/workflow_form20.gif") no-repeat; }
.workflow20 { padding-left:22px; height:22px; background:url("../image/cybozu/workflow20.gif") no-repeat; }
.workflow32_l { padding-left:34px; height:34px; background:url("../image/cybozu/workflow32_l.gif") no-repeat; }
.workflow32 { padding-left:34px; height:34px; background:url("../image/cybozu/workflow32.gif") no-repeat; }
.write20 { padding-left:22px; height:22px; background:url("../image/cybozu/write20.gif") no-repeat; }
.zip20 { padding-left:22px; height:22px; background:url("../image/cybozu/zip20.gif") no-repeat; }

.mygroup20 { padding-left:22px; height:22px; background:url("../image/cybozu/mygroup20.gif") no-repeat; }
.scheduletomail32 { padding-left:34px; height:34px; background:url("../image/cybozu/scheduletomail32.gif") no-repeat; }

