/* app menu */
.icon-appMenu-portal {background-image: url(../image/cybozu/image-common/appicon_l/portal32.svg);}
.icon-appMenu-space {background-image: url(../image/cybozu/image-common/appicon_l/space32.svg);}
.icon-appMenu-link {background-image: url(../image/cybozu/image-common/appicon_l/link32.svg);}
.icon-appMenu-schedule {background-image: url(../image/cybozu/image-common/appicon_l/schedule32.svg);}
.icon-appMenu-facility {background-image: url(../image/cybozu/image-common/appicon_l/facility32.svg);}
.icon-appMenu-message {background-image: url(../image/cybozu/image-common/appicon_l/msg32.svg);}
.icon-appMenu-bulletin {background-image: url(../image/cybozu/image-common/appicon_l/bulletin32.svg);}
.icon-appMenu-cabinet {background-image: url(../image/cybozu/image-common/appicon_l/file32.svg);}
.icon-appMenu-memo {background-image: url(../image/cybozu/image-common/appicon_l/memo32.svg);}
.icon-appMenu-phonemessage {background-image: url(../image/cybozu/image-common/appicon_l/telmemo32.svg);}
.icon-appMenu-timecard {background-image: url(../image/cybozu/image-common/appicon_l/timecard32.svg);}
.icon-appMenu-todo {background-image: url(../image/cybozu/image-common/appicon_l/todolist32.svg);}
.icon-appMenu-address {background-image: url(../image/cybozu/image-common/appicon_l/address32.svg);}
.icon-appMenu-mail {background-image: url(../image/cybozu/image-common/appicon_l/mail32.svg);}
.icon-appMenu-workflow {background-image: url(../image/cybozu/image-common/appicon_l/workflow32.svg);}
.icon-appMenu-report {background-image: url(../image/cybozu/image-common/appicon_l/report32.svg);}
.icon-appMenu-rss {background-image: url(../image/cybozu/image-common/appicon_l/rss32.svg);}
.icon-appMenu-star {background-image: url(../image/cybozu/image-common/appicon_l/star32.svg);}
.icon-appMenu-notification {background-image: url(../image/cybozu/image-common/appicon_l/notify32.svg);}
.icon-appMenu-defaultmenu {background-image: url(../image/cybozu/image-common/appicon_l/defaultmenu32.svg);}
.icon-appMenu-cbsearch {background-image: url(../image/cybozu/image-common/appicon_l/cbsearch32.svg);}

.icon-appMenu-portal ,
.icon-appMenu-space ,
.icon-appMenu-link ,
.icon-appMenu-schedule ,
.icon-appMenu-facility ,
.icon-appMenu-message ,
.icon-appMenu-bulletin ,
.icon-appMenu-cabinet ,
.icon-appMenu-memo ,
.icon-appMenu-phonemessage ,
.icon-appMenu-timecard ,
.icon-appMenu-todo ,
.icon-appMenu-address ,
.icon-appMenu-mail ,
.icon-appMenu-workflow ,
.icon-appMenu-report ,
.icon-appMenu-rss ,
.icon-appMenu-star ,
.icon-appMenu-notification ,
.icon-appMenu-defaultmenu {
    display:inline-block;
    background-repeat:no-repeat;
    background-size:32px 32px;
    height:32px;
    width:32px;
    box-sizing:border-box;
}
/* app menu end */

/* common */
.icon_space_discussion_grn {background:url(../image/cybozu/spaceDiscussion16.png) no-repeat left center;}
.icon_space_todo_grn {background:url(../image/cybozu/spaceTodo16.png) no-repeat left center;}
.icon_message_grn {background:url(../image/cybozu/msg16.png) no-repeat left center;}
.icon_message_b_grn{background:url(../image/cybozu/image-common/message_b16.png) no-repeat left center;}
.icon_bulletin_grn {background:url(../image/cybozu/bulletin16.png) no-repeat left center;}
.icon_mail_b_grn{background:url(../image/cybozu/image-common/mail_b16.png) no-repeat left center;}
.icon-add-grn{background:url(../image/cybozu/image-common/add16.png) no-repeat left center;}
.icon_add_grn{background:url(../image/cybozu/image-common/add_b16.png) no-repeat left center;}
.icon-pale-add-grn{background:url(../image/cybozu/image-common/pale-add16.png) no-repeat left center;}
.icon-edit-grn{background:url(../image/cybozu/image-common/edit16.png) no-repeat left center;}
.icon_edit_grn{background:url(../image/cybozu/image-common/edit16.png) no-repeat left center;}
.icon-delete-grn{background:url(../image/cybozu/image-common/delete16.png) no-repeat left center;}
.icon_delete_grn{background:url(../image/cybozu/image-common/delete_b16.png) no-repeat left center;}
.icon_trash_grn{background:url(../image/cybozu/image-common/trash16.png) no-repeat left center;}
.icon-follow-grn{background:url(../image/cybozu/detail20.gif) no-repeat left center;}
.icon-reply-grn{background:url(../image/cybozu/image-common/reply_sub16.png) no-repeat left center;}
.icon_reply_grn{background:url(../image/cybozu/image-common/reply16.png) no-repeat left center;}
.icon_reply_all_grn{background:url(../image/cybozu/image-common/reply_all16.png) no-repeat left center;}
.icon_reply_all_sub_grn{background:url(../image/cybozu/image-common/reply_all_sub16.png) no-repeat left center;}
.icon_forward_grn{background:url(../image/cybozu/image-common/forward16.png) no-repeat left center;}
.icon-urlTip-grn{background:url(../image/cybozu/image-common/link_sub16.png) no-repeat left center;}
.icon-attachedFile-grn{background:url(../image/cybozu/image-common/fileB16.png) no-repeat left center;}
.icon_attachment_grn{background:url(../image/cybozu/image-common/attachment16.png) no-repeat left center;}
.icon_document_grn{background:url(../image/cybozu/image-common/document16.png) no-repeat left center;}
.icon_folder_b_grn{background:url(../image/cybozu/image-common/folder_b16.png) no-repeat left center;}
.icon-reuse-grn{background:url(../image/cybozu/image-common/reuse20.gif) no-repeat left center;}
.icon-edit-sub-grn{background:url(../image/cybozu/image-common/edit_sub16.png) no-repeat left center;}
.icon_refresh_grn{background:url(../image/cybozu/image-common/refresh16.png) no-repeat left center;}
.icon_reuse_grn{background:url(../image/cybozu/image-common/reuse16.png) no-repeat left center;}
.icon-close-sub-grn{background:url(../image/cybozu/image-common/close_sub16.png) no-repeat left center;}
.icon-blank-grn{background:url(../image/cybozu/image-common/blank16.png) no-repeat left center;}
.icon-blankB-grn{background:url(../image/cybozu/image-common/blankB16.png) no-repeat left center;}
.icon-setting-grn{background:url(../image/cybozu/image-common/setting16.png) no-repeat left center;}
.icon_setting_grn{background:url(../image/cybozu/image-common/setting_b16.png) no-repeat left center;}
.icon-advance-grn{background:url(../image/cybozu/image-common/advance16.png) no-repeat left center;}
.icon_back_grn{background:url(../image/cybozu/image-common/backlink16.png) no-repeat left center;}
.icon-buttonArrowLeft-grn{background:url(../image/cybozu/image-common/buttonArrowLeft16.png) no-repeat left center;}
.icon-buttonArrowRight-grn,.icon-buttonArrowRightBehind-grn{background:url(../image/cybozu/image-common/buttonArrowRight16.png) no-repeat left center;}
.icon_arrow_right_b_grn{background:url(../image/cybozu/image-common/arrow_right_b16.png) no-repeat left center;}
.icon_read_mail_grn{background:url(../image/cybozu/image-common/read_mail16.png) no-repeat left center;}
.icon_move_grn{background:url(../image/cybozu/image-common/move16.png) no-repeat left center;}
.icon_order_grn{background:url(../image/cybozu/image-common/order16.png) no-repeat left center;}
.icon_label_grn{background:url(../image/cybozu/image-common/label16.png) no-repeat left center;}
.icon_menu_grn{background:url(../image/cybozu/image-common/menu16.png) no-repeat left center;}
.icon_folder_grn{background:url(../image/cybozu/image-common/folder16.png) no-repeat left center;}
.icon_detail_grn{background:url(../image/cybozu/image-common/detail16.png) no-repeat left center;}
.icon_receive_b_grn{background:url(../image/cybozu/image-common/receiveB16.png) no-repeat left center;}
.icon_receive_all_grn{background:url(../image/cybozu/image-common/receive_all16.png) no-repeat left center;}
.icon_spinner_grn{background:url(../image/cybozu/spinner.gif) no-repeat left center;}
.icon_person_sub_grn{background:url(../image/cybozu/image-common/person_sub16.png) no-repeat left center;}
.icon_print_grn{background:url(../image/cybozu/image-common/print16.png) no-repeat left center;}
.icon_distribute_grn{background:url(../image/cybozu/image-common/distribute16.png) no-repeat left center;}
.icon_2pane_grn{background:url(../image/cybozu/image-common/2pane16.png) no-repeat left center;}
.icon_reaction_sub_grn{background:url(../image/cybozu/image-common/reaction_sub16.png) no-repeat left center;}
.icon_access_grn{background:url(../image/cybozu/image-common/access_b16.png) no-repeat left center;}
.icon_information_sub16_grn{background:url(../image/cybozu/image-common/information_sub16.png) no-repeat left center;}
.icon_information_c_grn{background:url(../image/cybozu/image-common/information_c16.png) no-repeat left center;}
.icon_unread_mark_grn{background:url(../image/cybozu/image-common/unread_mark16.png) no-repeat left center;}
.icon_list_style_grn{background:url(../image/cybozu/image-common/list_style16.png) no-repeat left center;}
.icon_search_b_grn{background:url(../image/cybozu/image-common/search_b16.png) no-repeat left center;}
.icon_organization_b_grn{background:url(../image/cybozu/image-common/organization_b16.png) no-repeat left center;}
.icon_show_element_b_grn{background:url(../image/cybozu/image-common/show_element_b16.png) no-repeat left center;}
.icon_hide_element_b_grn{background:url(../image/cybozu/image-common/hide_element_b16.png) no-repeat left center;}
.icon_arrow_open_grn{background:url(../image/cybozu/image-common/arrow_open16.png) no-repeat left center;}
.icon_arrow_close_grn{background:url(../image/cybozu/image-common/arrow_close16.png) no-repeat left center;}

.icon_inline_grn,
.icon_message_b_grn,
.icon-add-grn,
.icon_add_grn,
.icon-pale-add-grn,
.icon-edit-grn,
.icon_edit_grn,
.icon_reuse_grn,
.icon-delete-grn,
.icon_delete_grn,
.icon_trash_grn,
.icon-follow-grn,
.icon-reply-grn,
.icon_reply_grn,
.icon_reply_all_grn,
.icon_forward_grn,
.icon-urlTip-grn,
.icon-attachedFile-grn,
.icon_attachment_grn,
.icon_document_grn,
.icon-reuse-grn,
.icon-edit-sub-grn,
.icon-close-sub-grn,
.icon-blank-grn,
.icon-blankB-grn,
.icon-setting-grn,
.icon-advance-grn,
.icon-buttonArrowLeft-grn,
.icon-buttonArrowRight-grn,
.icon_read_mail_grn,
.icon_move_grn,
.icon_order_grn,
.icon_label_grn,
.icon_menu_grn,
.icon_folder_grn,
.icon_detail_grn,
.icon_receive_b_grn,
.icon_receive_all_grn,
.icon_spinner_grn,
.icon_person_sub_grn,
.icon_print_grn,
.icon_distribute_grn,
.icon_2pane_grn,
.icon_reaction_sub_grn,
.icon_organization_b_grn
{
    white-space:nowrap; 
    display:inline-block; 
    height:16px; 
    padding-left:18px; 
    line-height:1.25;
}

.icon_only_grn {
    padding-left:16px; 
}

.icon_inline_base_grn {
    white-space:nowrap;
}

.icon_inline_mm_grn {
    display:inline-block;
    width:20px;
    height:20px;
    margin-right:3px;
    vertical-align:middle;
    background-size:20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing:border-box;
}

.icon_inline_s_mm_grn {
    display:inline-block;
    width:16px;
    height:16px;
    margin-right:3px;
    vertical-align:middle;
    background-size:16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing:border-box;
}

.icon_only_mm_grn {
    margin-right:0;
}

.icon_inline_mm_text_grn {
    display:inline-block;
    height:20px;
    line-height:22px;
    vertical-align:middle;
}

.icon_information_mm1_grn {background-image:url(../image/cybozu/image-common/information_1.svg);}
.icon_close_mm1_grn {background-image:url(../image/cybozu/image-common/close_1.svg);}

.icon-buttonArrowRightBehind-grn {
    white-space:nowrap; 
    display:inline-block; 
    height:16px; 
    padding-left:16px;
    margin-left:2px;
}

.icon-fileUpload-block-grn {
    background:url(../image/cybozu/image-common/uploadbutton_sub20.png) no-repeat left center;
    display:inline-block;
    width:20px;
    height:20px;
}

.icon-category-grn {
    background: url(../image/cybozu/category20.gif) no-repeat left center;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
}

.icon-toggleMemo-show-grn {
    background:url(../image/cybozu/image-common/show16.png) no-repeat right center;
}
.icon-toggleMemo-hide-grn {
    background:url(../image/cybozu/image-common/hide16.png) no-repeat right center;
}
.icon-showMenu-grn {
    background:url(../image/cybozu/image-common/showdown16x10.gif) no-repeat 15px 0px;
}
.icon-hideMenu-grn {
    background:url(../image/cybozu/image-common/showup16x10.gif) no-repeat 15px 0px;
}

.icon-toggleMemo-show-grn ,
.icon-toggleMemo-hide-grn {
    display:inline-block;
    height:16px;
    padding-right:18px;
}
.icon-showMenu-grn ,
.icon-hideMenu-grn {
    padding-right:10px;
}

.space-manageMenu-grn .icon-showMenu-grn ,
.space-manageMenu-grn .icon-hideMenu-grn {
    float:left;
}

.icon-space-private-grn ,
.icon-space-pale-private-grn,.icon-private-grn {
    display:inline-block;
    width:16px;
    height:16px;
}

.icon-space-private-grn ,
.icon-space-pale-private-grn,.icon-private-grn {
    background:url(../image/cybozu/image-common/privateMark.png) no-repeat left center;
}

.icon-informationSub-grn {
    display:inline-block;
    height:12px;
    width:12px;
    vertical-align:middle;
}

.icon-informationSub-grn {
    background: url("../image/cybozu/image-common/information_sub12.png") no-repeat scroll left center;
}

.pulldown_icon_grn {
    display:inline-block; 
    height:20px; 
    width:18px; 
    padding-left:2px;
    vertical-align:middle;
}

.icon_advance_list_grn {
    background:url(../image/cybozu/image-common/advance_list20.png) no-repeat left center;
    display:inline-block;
    width:20px;
    height:20px;
}
/* common end */

/* space */
.icon-space20-grn{background:url(../image/cybozu/image-common/project16.png) no-repeat left center;}
.icon-spaceDiscussion16-grn{background:url(../image/cybozu/image-app-space/spaceDiscussion16.png) no-repeat left center;}

.icon-space20-grn ,
.icon-spaceDiscussion16-grn {
    display:inline-block;
    height:16px;
    padding-left:18px;
} 
 
.icon-space-todoStatus-grn {
  background:url(../image/cybozu/image-app-space/spaceTodo16.png) no-repeat left center;
  display:inline-block;
  height:16px;
  padding-left:18px;
}

.icon-toggle-show-grn {
  background:url(../image/cybozu/image-common/show16.png) no-repeat left center;
  display:inline-block;
  height:16px;
  padding-left:18px;
}

.icon-space-todoStatusLate-grn {
  background:url(../image/cybozu/todoStatusBarLate16.png) no-repeat left center;
  display:inline-block;
  height:16px;
  padding-left:18px;
  white-space:nowrap;
}

.icon-space-todoStatusToday-grn {
  background:url(../image/cybozu/todoStatusBarToday16.png) no-repeat left center;
  display:inline-block;
  height:16px;
  padding-left:18px;
  white-space:nowrap;
}

.icon-space-todoStatusInTerm-grn {
  background:url(../image/cybozu/todoStatusBarInTerm16.png) no-repeat left center;
  display:inline-block;
  height:16px;
  padding-left:18px;
  white-space:nowrap;
}

.icon-space-todoStatusNoTerm-grn {
  background:url(../image/cybozu/todoStatusBarNoTerm16.png) no-repeat left center;
  display:inline-block;
  height:16px;
  padding-left:18px;
  white-space:nowrap;
}
/* space end */
