/***** scroll_bar *****/
html,Body{
    scrollbar-face-color: #dddddd;
    scrollbar-highlight-color: #dddddd;
    scrollbar-shadow-color: #dddddd;
    scrollbar-3dlight-color: #dddddd;
    scrollbar-track-color: #F6F6F6;
    scrollbar-darkshadow-color: #dddddd;
    scrollbar-base-color: #dddddd;
    scrollbar-arrow-color:gray;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 10px;
}
::-webkit-scrollbar:horizontal {
    height: 10px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    background-clip: padding-box;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:hover {
    background-color:#767676
}
::-webkit-scrollbar-thumb:active {
    background-color:#767676
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background-color: #EBEBEB;
    background-clip: padding-box;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/***** scroll_bar end *****/

/***** mail_3pane *****/

/* mail_3paine common */
body{overflow-y:hidden;overflow-x:auto;}
img{border:0px;}

#footer{
border-top:0 none;
border-bottom:0 none;
border-right:0 none;
border-left:0 none;
margin:0;
padding:0;
height:0;
line-height:0;
font-size:0;
background-color:transparent;
background-image:none;
}

.credit{
margin-bottom: 0;
padding:0 7px;
line-height:1;
}

.change_mobile_grn {
display: none;
}

.bold_grn{font-weight: bold;}

.mail_navi_3paine_grn {
    border-collapse:collapse;
    min-height:40px;
}

.navi_tite_grn{
padding:1px 8px;
}

.select_account_grn .mail-listButton-grn a:link{
font-weight: normal;
}

.select_account_grn .mail-listButton-grn {
    position:relative;
}

.select_account_grn {
    display:inline-block;
    font-size:14px;
    font-weight:400;
}

.select_account_grn span {
    vertical-align:middle;
}
.mainarea_full_grn{
margin: 0px;
}

.mainarea_full_grn .mainarea-mail #menu_part {
    margin:0;
    padding:8px;
    border-top:1px solid #d3d3d3;
    overflow:visible;
}

.mainarea_full_grn .mainarea-mail #menu_part #smart_main_menu_part{
padding:1px 0 3px 0;
}

.mainarea_full_grn .maincontents_list_td{
padding-top:0px;
}

.listtable_scroll_base_grn{
border: 0px none;
border-collapse:collapse;
width:100%;
}

.listtable_scroll_base_grn #view_part{
padding-left:0;
border-left:0;
}

.mainarea_scroll_grn{
overflow: scroll;
padding-left:7px;
}

.listtable_scroll_base_grn #tree_part{
padding:0;
width: 190px;
}

.tree_view_scroll_grn{
overflow-x: hidden;
overflow-y: auto;
width: 190px;
height:446px;
font-size:95%;
}

.tree_view_scroll_grn #folder_tree{
padding:0px;
}

.tree_view_scroll_grn .border-partition-common-grn{
margin:5px 0 5px 0;
}

.float_left_grn{
float:left;
}

.display_inline_block_grn{
display:inline-block; 
}

.arrow_down_small_icon_grn,.arrow_up_small_icon_grn{
display:inline-block;
width:10px;
height:10px;
}

.arrow_down_small_icon_grn{
background: url('../image/cybozu/image-common/arrow_down10.png') no-repeat 0px 0px;
}

.arrow_up_small_icon_grn{
background: url('../image/cybozu/image-common/arrow_up10.png') no-repeat 0px 0px;
}

.list_container_grn .aButtonStandard-grn{
margin:1px 0 0 6px;
}

.sortdown_icon_grn,.sortup_icon_grn{
display:inline-block;
width:16px;
height:16px;
}

.sortdown_icon_grn{
background: url('../image/cybozu/image-common/sort_down16.png') no-repeat 0px 0px;
}

.sortup_icon_grn{
background: url('../image/cybozu/image-common/sort_up16.png') no-repeat 0px 0px;
}

.filter_small_icon_grn{
display:inline-block;
width:16px;
height:16px;
background-image: url(../image/cybozu/image-common/filter16.png);
background-repeat: no-repeat;
}

.star_on_grn{
display:inline-block;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/star_on16.png') no-repeat;
cursor: pointer;
}

.star_off_grn{
display:inline-block;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/star_off16.png') no-repeat;
cursor: pointer;
}

.list_left_grn .star_on_grn,.list_left_grn .star_off_grn{
position: relative;
top:1px;
}

.list_mark_grn{
display:inline-block;
width:16px;
height:16px;
vertical-align:middle;
}

.mark_reply_grn{
display:inline-block;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/mark_reply16.png') no-repeat 0px 0px;
vertical-align:middle;
}

.mark_reply_all_grn{
display:inline-block;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/mark_reply_all16.png') no-repeat 0px 0px;
vertical-align:middle;
}

.mark_forward_grn{
display:inline-block;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/mark_forward16.png') no-repeat 0px 0px;
vertical-align:middle;
}

.expand_left_button_grn,.expand_right_button_grn{
display:inline-block;
width:16px;
height:16px;
background-repeat: no-repeat;
}

.expand_left_button_grn{
background-image: url(../image/cybozu/image-common/expand_left16.png);
}

.expand_right_button_grn{
background-image: url(../image/cybozu/image-common/expand_right16.png);
}

.mailhistory_grn{
display:inline-block;
text-align:right;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/mailhistory16.png') no-repeat;
}

.icon_address_grn{
display:inline-block;
text-align:right;
width:16px;
height:16px;
background: url('../image/cybozu/image-common/address_b16.png') no-repeat;
}

.mail_content_info_grn .mailhistory_grn,.mail_content_info_grn .icon_address_grn{
vertical-align: -3px;
}

.mail_content_info_grn .mail_view_detail{
padding-top:0;
}

.attachment_small_grn{
display:inline-block;
width:14px;
height:14px;
vertical-align:middle;
background: url('../image/cybozu/image-common/attachment14.png') no-repeat;
}

.bg_shadow_grn{
background-image:url(../image/cybozu/image-common/paine_shadow.png);
background-repeat:repeat-y;
}

.link_bg_shadow_button_grn:active, .link_bg_shadow_button_grn:link, .link_bg_shadow_button_grn:visited{
display:inline-block;
padding:5px 6px;
}

.link_bg_shadow_button_grn:hover {
background:url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
padding:5px 6px;
cursor: pointer;
}

.link_buttonArrow_button_grn:active, .link_buttonArrow_button_grn:link, .link_buttonArrow_button_grn:visited{
display:inline-block;
width:20px;
height:20px;
}

.link_buttonArrow_button_grn:hover {
background-color:#CCE4F1;
width:20px;
height:20px;
}

.tree_view_scroll_grn .action_text_grn,.tree_view_scroll_grn .action_text_grn a:link,.tree_view_scroll_grn .action_text_grn a:visited,.tree_view_scroll_grn .action_text_grn a:hover,.tree_view_scroll_grn .action_text_grn a:active{
color:#222222;
}

.menu_item_grn a,.menu_item_grn:link,.menu_item_grn:visited,.menu_item_disable_grn{
padding:2px 4px 4px;
}

.list_property_grn .mail-statusUnCheck-grn,.list_property_grn .mail-statusCheck-grn,.list_property_grn .mail-statusNeedSend-grn,.list_property_grn .mail-statusHold-grn,.list_property_grn .mail-statusWaitSend-grn{
line-height: 1.1;
}

.mainarea_full_grn .mainarea-mail .notes{
background-color:#FFFFFF;
border:1px dotted #999999;
padding:10px;
}

.mainarea_full_grn .mainarea-mail #menu_part .notes{
margin:10px 3px 3px 5px;
}

.mainarea_full_grn .mainarea-mail #menu_part .notes p{
margin:0 0 5px 0;
}

.mainarea_full_grn .mainarea-mail #menu_part .notes ul{
margin: 3px 0;
padding: 0 25px;
}

.mainarea_full_grn .mainarea-mail .mail_content_grn .notes{
line-height:1.4;
margin-top:3px;
}

.no_set_info_grn{
padding:10px 20px 20px 20px;
}

/* mail_3pane tree */
#tree_part .tree_container_grn {
    padding:12px 5px 14px 10px;
    border-collapse:collapse;
    border-bottom:1px #e3e3e3 solid;
    max-height:33px;
}

.trigger_area_grn{
display:block;
position:absolute;
width:7px;
}

.trigger_area_grn:hover{
background-color:#D6D6D6;
background-image: url(../image/cybozu/image-common/trigger_area.png);
background-repeat: no-repeat;
background-position: center center;
cursor:col-resize;
}

.folder_menu_grn{
margin-left: 18px;
}

.folder_menu_grn span{
line-height:1.15;
vertical-align:middle;
}

.tree_style1_grn .ygtvitem .icon_trash_small_grn {
    width:16px;
    height:16px;
    background: url('../image/cybozu/image-common/trash16.png') 0 3px no-repeat;
}

.mainarea-mail .ygtvhtml a:link , .mainarea-mail .ygtvhtml a:visited , .mainarea-mail .ygtvhtml a:active {
    color: #222222;
    text-decoration: none;
}
.mainarea-mail .ygtvhtml a:hover {
    color: #222222;
}


/* mail_3pane list */
.list_action_grn:active, .list_action_grn:link, .list_action_grn:visited{
display:inline-block;
color: #666666;
font-size:95%;
text-decoration:none;
}

.listtable_scroll_base_grn .list_part_grn{
padding:0px;
margin:0px;
}

.list_part_grn .list_container_grn{
width:100%;
padding:0px;
margin:0px;
border: 0px none;
border-collapse:collapse;
border-bottom:1px #e3e3e3 solid;
}

.list_container_grn td {
    margin:0;
    padding:5px 6px;
    border:0px none;
    vertical-align:middle;
    line-height:1;
}

.list_container_grn .list_item_button_left_grn{
width:28px;
text-align:center;
vertical-align: middle;
}

.list_item_button_left_grn span{
display:inline-block;
text-align:center;
vertical-align: middle;
}

.list_container_grn .list_item_text_grn{
text-align:right;
font-size: 95%;
vertical-align: middle;
}
.list_item_button_left_grn .check_small_button_grn{
margin: 1px 2px;
}

.list_item_text_grn span{
vertical-align:middle;
}

.list_item_text_grn .arrow_down_small_icon_grn, .list_item_button_right_grn .arrow_down_small_icon_grn, .list_item_text_grn .arrow_up_small_icon_grn{
width:10px;
height:10px;
margin:1px 0px;
vertical-align:middle;
}

.list_item_button_right_grn .filter_small_icon_grn{
margin: 1px 0px;
vertical-align:middle;
}

.list_container_grn .list_item_button_right_grn{
text-align:center;
vertical-align:middle;
}

.list_action_separator_grn{
font-size: 0px;
display: inline-block;
height: 18px;
width:0px;
border-left: 1px solid #e3e3e3;
border-right: 1px solid #ffffff;
position: relative;
top:2px;
margin:0 2px 0 5px;
}

.list_area_scroll_grn{
font-size: 95%;
overflow-x: hidden;
overflow-y:auto;
outline: none;
}

.title_list_area_grn{
padding: 0px;
overflow: hidden;
}

.title_list_area_grn ul{
list-style-type:none;
margin:0px auto;
width: 100%;
padding: 0px;
}

.title_list_area_grn li{
text-align:left;
list-style-type:none;
padding:2px 2px 2px 5px;
cursor: pointer;
width:100%;
}

.title_list_area_grn .read_grn, .read_grn:link, .read_grn:visited{
border-bottom:1px #e3e3e3 solid;
background: #fff url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.read_grn:hover{
background: #f0f0f0 url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .unread_grn{
border-bottom:1px #e8c47c solid;
background: #fcf4de url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.title_list_area_grn .unread_grn:hover{
background-color:#fff0d0;
}

.unread_grn .list_right_grn{
font-weight:bold;
color:#555555;
}

.title_list_area_grn .list_select_grn {
    color:#ffffff;
    background: #0E74DD url('../image/cybozu/image-common/paine_shadow.png') repeat-y;
}

.list_select_grn .list_right_grn{
color:#ffffff;
}

.title_list_area_grn .list_select_grn:hover {
    background-color:#0b5fb4;
}

.list_select_grn .list_box_grn{
padding:0; 
background: url('../image/cybozu/image-common/list_trigger.png') repeat-y;
background-position:2px 0px;
}

.list_box_grn{
padding: 0px;
overflow: hidden;
}

.list_box_grn ul{
list-style-type:none;
margin:0px auto;
width: 100%;
padding: 0px;
}

.list_box_grn li{
text-align:left;
list-style-type:none;
padding: 0px 0px 0px 4px;
cursor: pointer;
width:100%;
vertical-align:middle;
line-height:1.1;
}

.list_box_grn .list_left_grn{
display:inline-block; 
text-align:center;
vertical-align:middle;
width:20px;
height:18px;
padding:0px;
margin:0px;
}

.list_left_grn input{
vertical-align:middle;
}

.list_box_grn .list_right_grn{
display:inline-block; 
text-align:left;
overflow:hidden;
white-space:nowrap;
padding-left:5px;
margin:0px;
vertical-align:middle;
}

.list_box_grn .list_text_overflow_grn{
display:inline-block; 
overflow:hidden;
text-overflow:ellipsis;
word-break:keep-all;
white-space:nowrap;
font-size: 90%;
padding:0 0 0;
margin:1px 0 0 0;
vertical-align:middle;
}

.list_box_grn .name_grn{
font-size:100%;
}

.list_property_grn{
margin-left:3px;
vertical-align:middle;
overflow:hidden;
}

.list_property_grn span{
display:inline-block;
vertical-align:middle;
}

.list_property_grn .date_grn,.list_property_grn .size_grn{
margin:0 7px 0 5px;
color:#666666;
font-size:90%;
}

.list_select_grn .list_property_grn span{
color:#FFFFFF;
}

.list_property_grn .align_right_grn{
float:right;
padding-right:17px;
}

.list_property_grn .date_grn{
display:inline-block; 
overflow:hidden;
text-overflow:ellipsis;
word-break:keep-all;
white-space:nowrap;
vertical-align:middle;
}

.unread_grn .list_box_grn .list_right_grn .list_property_grn span,.read_grn .list_box_grn .list_right_grn .list_property_grn span{
display:inline-block; 
padding-right:5px;
color:#7d7d7d;
vertical-align:middle;
}

.list_part_grn #moving_box{
margin:5px;
line-height:1.2;
}

.list_select_grn .list_property_grn span.mail-statusUnCheck-grn,.list_select_grn .list_property_grn span.mail-statusCheck-grn,.list_select_grn .list_property_grn span.mail-statusNeedSend-grn,.list_select_grn .list_property_grn span.mail-statusHold-grn,.list_select_grn .list_property_grn span.mail-statusWaitSend-grn{
color: #666666;
}

.list_paging_grn{
padding:2px 5px 4px;
border-top:1px solid #E3E3E3;
}

/* list 2line */
.select_target_2line_grn li.read_grn , 
.select_target_2line_grn li.unread_grn {
    padding-bottom:6px;
    padding-top:8px;
}

.select_target_2line_grn .align_right_grn{
padding-right:0px;
display:inline-block;
float:right;
padding-top:1px;
}
.select_target_2line_grn .list_right_grn{
height:18px;
line-height:18px;
}
.select_target_2line_grn .select_content_2line_grn{
vertical-align:top;
}
.select_target_2line_grn .select_content_2line_grn .list_right_grn{
height:24px;
line-height:24px;
}
.select_target_2line_grn .select_content_2line_grn .list_left_grn{
height:24px;
line-height:24px;
}
.select_target_2line_grn .list_box_grn .select_content_2line_grn .list_text_overflow_grn{
padding-top:1px;
}
.select_target_2line_grn .list_box_grn .list_text_overflow_grn{
margin-top:0px;
float:left;
}
.select_target_2line_grn .display_inline_block_grn{
height:14px;
line-height:14px;
margin-left:7px;
}
.select_target_2line_grn .display_inline_block_grn .attachment_small_grn{
vertical-align:top;
}
.select_target_2line_grn .date_grn,
.select_target_2line_grn .size_grn{
color: #666666;
font-size: 90%;
}
.select_target_2line_grn .date_grn{
float:right;
margin-right:0;
margin-left:7px;
}
.select_target_2line_grn .size_grn{
margin-left:7px;
}
.select_target_2line_grn .list_select_grn .date_grn,
.select_target_2line_grn .list_select_grn .size_grn{
color:#ffffff;
}
.select_target_2line_grn .status_2line_grn{
line-height: 1.1;
display:inline-block;
}

.select_content_2line_grn .mark_reply_grn , .select_content_2line_grn .mark_reply_all_grn , .select_content_2line_grn .mark_forward_grn {
margin-right: 2px;
position: relative;
top: -2px;
}
/* list 2line end */

/* mail_3pane preview */
#view_part .view_container_grn{
width:100%;
padding:0px;
margin:0px;
border: 0px none;
border-collapse:collapse;
border-bottom:1px #e3e3e3 solid;
}

#view_part .view_container_grn td{
    margin:0;
    padding:8px 6px 7px;
    border:0px none;
    vertical-align:middle;
    line-height:1;
}

.view_button_left_grn{
width:30px;
text-align:center;
vertical-align:middle;
}
.view_button_left_grn .expand_left_button_grn, .view_button_left_grn .expand_right_button_grn{
vertical-align:middle;
}

.view_button_right_grn{
text-align:right;
}

.mail_content_scroll_grn{
overflow-x: auto;
overflow-y:auto;
width: 100%;
outline: none;
-webkit-overflow-scrolling: touch;
}

.mail_content_grn{
padding:5px 7px 20px 10px;
}

.mail_content_title_grn{
text-align:left;
width:100%;
}

.mail_content_title_left_grn{
text-align:center;
vertical-align:top;
width:10px;
margin-left:-7px;
}

.mail_content_title_right_grn {
    text-align:left;
    margin-left:26px;
    line-height:1.2;
}

.mail_content_title_right_grn h2 {
    margin-top:0;
}

.status_content_title_grn{
position:relative;
top:-2px;
}

.mail_content_info_grn{
padding:2px 2px 0 2px;
line-height: 1.2;
}

.mail_content_info_grn .mail_view_detail td {
    padding:2px;
    vertical-align:top;
    font-size:100%;
}

.mail_content_info_grn .mail-detailLabel-grn {
font-weight: normal;
}

.mail_content_info_grn .detail_separator_grn{
color:#666666;
white-space:nowrap;
}

.mail_content_info_grn ul{
list-style-type:none;
margin:0px auto;
width: 100%;
padding: 0px 0px 0px 5px;
}

.mail_content_info_grn li{
text-align:left;
list-style-type:none;
padding: 2px 0px;
line-height: 1.2;
font-size: 100%;
}

.mail_content_info_grn .info_title_grn{
float:left;
font-weight:bold;
width:50px;
color:#666666;
}

.mail_content_info_grn .info_dot_grn{
float:left;
font-weight:bold;
padding:0px 10px 0px 4px;
}

.mail_content_text_grn {
    text-align:left;
    width:99%;
    padding:0 5px 5px 7px;
    line-height:1.3;
}

.content_message_grn .mail_message_middle_icon_grn{
display:inline-block;
}

.mail_header_sub_grn{
line-height: 1.2;
}

.mail_attachment_list_grn{
display:inline-block;
margin:0 15px 3px 0;
font-size:85%;
line-height: 1.2;
}

.mail_content_grn .border-partition-common-grn {
    margin:12px 0;
}

.icon_attachment_small_grn{
background:url(../image/cybozu/image-common/attachment14.png) no-repeat left center;
white-space:nowrap; 
display:inline-block; 
height:14px; 
padding-left:16px; 
vertical-align:middle;
}

.mail_content_grn .mail_charset {
float:none;
background:#f3f3f3;
border-radius:5px;
}

.mail_content_grn .mail_charset TABLE TR TD{
background:transparent;
border-bottom-width:0px;
}

.mail_attachment_bottom_grn{
padding: 0 5px 0 7px;
}

.mail_attachment_bottom_grn ul{
margin:0;
padding:0;
}

.mail_attachment_bottom_grn ul li{
list-style-type:none;
margin:10px 0;
}

/* mail_3pane menu part */
#menu_part .menu_style1_grn a:link ,
#menu_part .menu_style1_grn a:visited ,
#menu_part .menu_style1_grn a:hover ,
#menu_part .menu_style1_grn a:active {
    color:#222222;
    text-decoration:none;
}

.menu_style1_grn .menu_item_grn span,.menu_style1_grn .menu_item_disable_grn span{
vertical-align:middle;
line-height:1.25;
}

.mainarea_full_grn .mainarea-mail #smart_rare_menu_part,.mainarea_full_grn .mainarea-mail #searchbox-keyword-cybozu, #searchbox-schedule{
float:none;
}

.mainarea_full_grn .search_normal_grn .searchboxSub-grn{
margin-left:5px;
}

.search_normal_3pane_grn .searchboxSub-grn{
top: 0px;
}

.mainarea_full_grn #smart_rare_menu_part{
padding:0;
}

/* mail_3pane receivebutton */
.mail-receiveButton1-grn {
text-align: center;
float: left;
margin-right: 10px;
display: inline-block;
text-decoration:none;
}

#menu_part .mail-receiveButton1-grn a:hover{
text-decoration: none;
}

.mail-receiveButton1-grn a, .mail-receiveButton1-grn a:link, .mail-receiveButton1-grn a:visited{
display: inline-block;
}

.mail-receiveButton1-grn a.receiving_one:hover {
cursor: pointer;
display: inline-block;
}

.mail-receiveButton1-grn a.receiving_one.only {
    border-radius:0px;
}

.mail-receiveButton1-grn a.receiving_all ,
.mail-receiveButton1-grn a.receiving_all:hover {
    border-radius:0px;
    border-left:1px solid #ffffff;
    float:left;
}

#menu_part .mail-receiveButton1-grn a,
#menu_part .mail-receiveButton1-grn a:hover,
#menu_part .mail-receiveButton1-grn a:active,
#menu_part .mail-receiveButton1-grn a:visited,
#menu_part .mail-receiveButton1-grn a:link
{
  text-decoration:none;
}

/* send */
.subwindow_grn {
    background-color:#ffffff;
    padding-top:4px;
}

.subwindow_grn .mainarea {
  margin: 0;
  padding: 0 10px 16px 14px;
  min-width: auto;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: 0;
}

.subwindow_grn .subwindow_title_grn {
    min-height:20px;
}

.subwindow_header_grn{
position:fixed;
left:0;
top:0;
width:100%;
z-index:100;
}

.subwindow_title_grn {
    padding:8px;
    background-color:#eeeeee;
    border-bottom:1px solid #C6C6C6;
    color:#666666;
    font-weight:700;
    line-height:1.2;
    min-width:800px;
    cursor:default;
}

.subwindow_title_grn span,.subwindow_title_grn img{
vertical-align:middle;
}

.subwindow_title_name_grn{
display:inline-block;
width:770px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.subwindow_menupart_grn {
    padding:9px 15px 10px 14px;
    margin-bottom:10px;
}

.subwindow_menupart_grn .button_base_grn{
white-space: nowrap;
}

.button_base_grn .aButtonStandard-grn a:link,.button_base_grn .aButtonStandard-grn a:visited,.button_base_grn .aButtonStandardDisable-grn,.button_base_grn .buttonPostMain-grn a:link,.button_base_grn .buttonPostMain-grn a:visited{
height:auto;
line-height:1.2;
padding:4px 7px;
border-radius:5px;
}

.button_base_grn .aButtonStandard-grn a:link,.button_base_grn .aButtonStandard-grn a:visited,.button_base_grn .aButtonStandardDisable-grn{
box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button_base_grn .buttonPostMain-grn a:link,.button_base_grn .buttonPostMain-grn a:visited{
font-weight:bold;
display:inline-block;
margin-right:15px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mainarea-mail .std_form td.postButtonArea-grn {
    padding-top:5px;
}

.mail_send_grn {
    margin-top:110px;
}

.mail_send_confirm_grn {
    margin-top:140px;
}

.mail_send_confirm_grn .mainarea{
margin:0 15px 15px;
}

.mail_send_confirm_grn TABLE.mail_preview{
margin:10px 0 0;
width:100%;
}

.file_input_div_mail{
position:relative;
overflow: hidden;
text-align: center;
font: 12px;
color:#0A62AD;
display: inline-block;
padding:2px 0 2px 18px;
background:url("../image/cybozu/image-common/attachment16.png") no-repeat left;
margin-bottom:5px;
cursor:pointer;
}

/* for dropdown */
.menu_item_dropdown_grn ul{
padding:0px;
margin:0px;
}

.menu_item_dropdown_grn li{
list-style-type:none;
margin:0px;
padding:0px;
text-align:left;
}

.menu_item_dropdown_grn .mail-dropdownContents{
position:absolute;
display:none;
z-index:91;
text-decoration:none;
}

.menu_item_dropdown_grn .mail-dropdownContents li a {
    text-decoration:none;
    color:#222222;
    white-space:nowrap;
    background:none;
    border:none;
    cursor:pointer;
    vertical-align:middle;
    display:block;
    border-radius:0px;
}

.menu_item_dropdown_grn .mail-dropdownContents li a,
.menu_item_dropdown_grn .mail-dropdownContents .disable_style_grn {
  margin: 0;
  padding: 8px;
  font-size: 14px;
}

.menu_item_dropdown_grn .mail-dropdownContents .disable_style_grn{
display: block;
}

.menu_item_dropdown_grn .mail-dropdownContents li a:hover{
background-color:#cce4f1;
text-decoration:none;
border: none;
color: #222222;
}

.mail-dropdownContents-open .mail-dropdownContents{
display:block;
padding-bottom:5px;
}

.mail-dropdownContents span{
vertical-align:middle;
}

#menu_part #menu_status_change-item .mail-dropdownContents a{
font-size:100%;
}

/* end dropdown */

.mail-receiveButton1-grn .no_spinner .icon-receiveBSmall-grn{
background-image: url(../image/cybozu/image-common/receive_button16.png);
}
