.mobile-li-PersonInCharge-grn .ui-btn.mobile_mail_link_grn{
padding-right:71px;
}
.mobile_icon_replys_grn{
background:url("../image/cybozu/image-mobile/reply_s.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_replyalls_grn{
background:url("../image/cybozu/image-mobile/reply_all_s.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_forwards_grn{
background:url("../image/cybozu/image-mobile/forward_s.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_mail_icon_position_grn{
display:inline-block;
position:relative;
width:16px;
height:16px;
top:4px;
padding-right:2px;
vertical-align:top;
}

/* mobile mail btn */
.mobile_mail_btn_position_grn{
padding:15px;
}
.mobile_mail_btn_grn{
display:inline-block;
}
.mobile_mail_btn_grn a.ui-link:link,
.mobile_mail_btn_grn a.ui-link:hover,
.mobile_mail_btn_grn a.ui-link:active,
.mobile_mail_btn_grn a.ui-link:visited,
.mobile_mail_btn_grn a.mobile_base_disable_grn.ui-link:hover
{
background-color:#51a1db;
display:block;
color:#fff;
line-height:1;
padding:8px 44px;
margin-left:-5px;
border-radius:4px;
}
.mobile_mail_btn_grn a.ui-link:hover{
background-color:#3084c1;
}
.mobile_base_disable_grn .mobile_mail_btn_grn:hover{
background-color:#51a1db;
}
.mobile_mail_btn_number_grn{
display:inline-block;
font-size:12px;
color:#fff;
background-color:#0F67A6;
border-radius:2px;
vertical-align:top;
padding:1px 4px 0px 4px;
margin-left:8px;
margin-top:0px;
line-height:1.4!important;
min-width:13px;
text-align:center;
}
/* mobile mail btn end */

/*mail status start*/
.mobile_mail_status_grn span{
color:#ffffff;
font-size:14px;
line-height:1;
text-shadow:none;
display:inline-block;
padding:4px 8px;
}
.mobile_status_uncheck_grn{
background-color:#F3A4B4;
}
.mobile_status_need_send_grn{
background-color:#70C70C;
}
.mobile_status_check_grn{
background-color:#999999;
}
.mobile_status_hold_grn{
background-color:#B592D8;
}
.mobile_status_wait_send_grn{
background-color:#C3A88B;
}
.mobile_mail_status_area_grn{
margin-left:-15px;
margin-right:-15px;
padding-left:10px;
}
/*mail status end*/

/*mail*/
.mobile_mailto_grn .mobile-label-grn, .mobile_mailto_grn .mobile_mailtotext_grn{
display:inline-block;
width:50%;
}
.mobile_mail_grn .mobile_mailtotext_grn{
font-size: 16px;
text-align:right;
}
.mobile_mail_grn .mobile_search_grn{
position:relative;
margin:0;
}
.mobile_mail_grn .mobile_search_grn .ui-shadow-inset{
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow:none;
}
.mobile_mail_grn .mobile_search_grn .ui-body-c{
border: 1px solid #c9c9c9;
margin:0;
padding:2px 4px;
}
.mobile_mail_grn .mobile_search_grn input{
height:30px;
padding:0!important;
color:#999999;
border:none!important;
}
.mobile-div-title-grn ul.holder {
margin-left: 4px;
overflow: auto;
padding: 4px 4px 0 4px;
}
.mobile-div-title-grn ul.mobile_address_area_normal_grn {
min-height: 36px;
max-height: 160px;
}
.mobile-div-title-grn ul.mobile_address_area_wide_grn {
min-height: 36px;
max-height: 180px;
}
.mobile-div-title-grn ul.holder li.bit-input input {
min-width: 30px !important;
height: 30px;
font-size:16px;
line-height:1.4;
}
.mobile-div-title-grn ul.holder li {
margin: 0 6px 6px 0;
}
.mobile-div-title-grn ul.holder li.bit-box {
padding: 8px 8px 8px 10px;
border-radius: 8px;
font-size: 12px;
}
.mobile-div-title-grn ul.holder li.bit-box,.mobile-div-title-grn ul.holder li.bit-box:hover,.mobile-div-title-grn ul.holder li.error, .mobile-div-title-grn ul.holder li.error:hover{
border: 0 none !important;
box-shadow: none;
}
.mobile-div-title-grn ul.holder li.bit-box,.mobile-div-title-grn ul.holder li.bit-box:hover {
background: #eeeeee;
}
.mobile-div-title-grn ul.holder li.bit-box a.closebutton,.mobile-div-title-grn ul.holder li.bit-box a.closebutton:hover{
display: inline-block;
right:4px;
margin-top:-4px;
width:22px;
height:22px;
background:url(../image/cybozu/image-mobile/form_clear_sub.png) no-repeat center center;
background-size: 22px 22px; 
vertical-align: middle;
}
.mobile-div-title-grn .dropdown-auto ul li {
line-height: 1.2;
padding: 12px 8px;
font-size: 14px;
vertical-align: middle;
}

ul.holder {
    margin:0;
    border:1px solid #c9c9c9;
    padding:4px 4px 0;
    overflow:auto;
}

ul.holder li {
    float:left;
    list-style-type:none;
    margin:0 4px 4px 0;
    white-space:nowrap;
    border:0;
    line-height:1.2;
    position:relative;
}

ul.holder li.bit-box ,
ul.holder li.bit-input input {
    font-size:12px;
}

ul.holder li.bit-box {
    border-radius:10px;
    padding:1px 5px 2px;
    background:#E6E6E6;
    border:1px solid #E6E6E6;
    height:14px;
}

ul.holder li.bit-input {
    padding:0;
    border:0;
    height:19px;
}

ul.holder li.error ,
ul.holder li.error:hover {
    background:#F3D2D0 !important;
    border:1px solid #EBB7B4 !important;
    cursor:pointer;
}

ul.holder li.bit-box-focus {
    border-color:#AFBFCF;
    background:#D2E0EE;
    color:#fff;
}

ul.holder li.bit-input input {
    width:20px;
    overflow:visible;
    margin:0;
    border:0;
    padding:0;
}

ul.holder li.bit-box:hover {
    background:#CCE4F1;
    border:1px solid #A4C8EA;
    cursor:pointer;
    box-shadow:0 0px 2px rgba(0, 0, 0, 0.2);
}

.hover {
    background-color:#CCE4F1 !important;
}

ul.holder {
    margin:0 !important;
    background:#FFF;
}

ul.holder li.bit-box {
    padding-right:5px;
    z-index:82;
    line-height:115%;
}

ul.holder li.bit-hover {
    background:#BBCEF1;
    border:1px solid #6D95E0;
}

ul.holder li.bit-box-focus {
    border-color:#598BEC;
    background:#598BEC;
    color:#fff;
}

ul.holder li.bit-box a.closebutton {
    display:inline-block;
    width:7px;
    height:7px;
    background:url('../image/cybozu/image-common/deleteSmallBlock-normal.png') no-repeat;
    background-position:bottom;
    margin-left:4px;
}

ul.holder li.bit-box a.closebutton:hover {
    background: url("../image/cybozu/image-common/deleteSmallBlock-hover.png") no-repeat;
    background-position:center;
}

.dropdown-auto {
    display:none;
    position:absolute;
    background:#eee;
    z-index:85;
    width:300px !important;
}

.dropdown-auto .default {
    padding:5px 7px;
    border:1px solid #ccc;
    border-width:0 1px 1px;
    font-family:"Lucida Grande","Verdana"; font-size:13px;
}

.dropdown-auto ul {
    width:350px !important;
    display:none;
    margin:0;
    padding:0;
    overflow:auto;
    position:absolute;
    z-index:83;
    border:1px solid #c9c9c9;
    border-width: 0 1px 1px;
}

.dropdown-auto ul li {
    padding:4px 7px;
    z-index:84;
    cursor:pointer;
    margin:0;
    list-style-type:none;
    font:10pt "arial", "Verdana";
    background-color:#f3f3f3;
}

.dropdown-auto ul li.odd {
    background:#FFF;
}

.dropdown-auto ul li em {
    font-weight:bold;
    font-style:normal;
    background:#ccc;
}

.dropdown-auto ul li.auto-focus {
    background:#5eade5;
    color:#fff;
}

.dropdown-auto ul li.auto-focus em {
    background:none;
}

ul.holder li.bit-box.deleted {
    background:#FBE5BE !important;
    border:1px solid #FBE5BE !important;
}

.hidden {
    display:none;
}

.dropdown-auto strong {
    font-weight:bold; 
    color:#000;
}

.boxshadow {
    -moz-box-shadow:0 0 7px #888;
    -webkit-box-shadow: 0 0 7px#888;
    box-shadow:0 0 7px #888;
}

.mobile_scale_grn {
-webkit-transform-origin:0 0;
overflow-x: auto;
overflow-y: hidden;
}

.mobile_scale_org_grn{
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
}

.mobile-contents-todoDetail-new-grn{
display:block;
overflow-x: hidden;
text-overflow: ellipsis;
margin-left:10px;
min-height:16px;
font-size:14px;
line-height:1;
margin-top:4px;
margin-top:2px;
text-decoration:none;
vertical-align:-2px;
}

.mobile_mail_content_text_action_grn {
display: inline-block;
margin-bottom: 8px;
}
/*mail end*/