/*.mobile_list_grn .ui-btn-inner a{
font-size:16px;
}
.mobile_list_grn .ui-li .ui-btn-text a.ui-link-inherit{
overflow:visible;
text-overflow:none;
white-space:normal;
padding-left:40px;
padding-right:10px;  
line-height:1.2;
word-wrap:break-word;
}*/
.ui-listview>.mobile_list_grn>a.ui-btn{
overflow:visible;
text-overflow:none;
white-space:normal;
padding:.9em 10px .9em 40px; 
line-height:1.2;
word-wrap:break-word;
border-bottom-color:#CCCCCC;
}
.ui-listview>.mobile_list_grn>a.ui-btn:hover{
background-color:#ffffff;
}
.ui-listview>.mobile_list_grn>a.ui-btn:active{
background-color:#ebebeb;
}
.mobile_list_grn .mobile_check_grn{
display:block;
position:absolute;
top:50%;
left:10px;
margin-top:-11px;
width:22px;
height:22px;
background:url(../image/cybozu/image-mobile/check_sub.png)  no-repeat center center;
background-size: 22px 22px;
z-index:2;
}
.mobile_select_menu_titlebar_div_grn .ui-listview>li.mobile_select_menu_last_item_grn>a.ui-btn{
border-bottom: none;
}
.mobile_select_menu_margin_grn{
height: 44px;
}

.ui-page-theme-a .mobile_list_category_grn {
    background-color:#f6f6f6;
}
.ui-listview > .mobile_list_category_grn {
    padding:8px;
}
.ui-page-theme-a .mobile_list_category_grn > span {
    overflow:visible;
    text-overflow:clip;
    white-space:normal;
    font-weight:bold;
    color:#666666;
}
