.mobile-list-outside-parties-grn{
  height:50px;
  padding-top:0!important;
  padding-bottom:0!important;
}

.mobile-list-outside-parties-text-grn{
  height:35px;
  line-height:50px;
  padding-bottom:0!important;
}

.mobile-list-outside-parties-link-grn{
  line-height:40px;
}

.mobile-list-outside-parties-grn a{
  padding-bottom:0!important;
}