.mobile_text_color_sub_grn {
    color:#666666;
}
.mobile_text_color_sub2_grn {
    color:#999999;
}

.ui-shadow {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.ui-icon-shadow {
box-shadow: none;
}

.mobile-list-normal-grn:active{
background: #f9f9f9;
}
.ui-input-text{
border-radius:4px;
}
.ui-shadow-inset {
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2) inset;
}
.mobile-threadAddComment-grn div.ui-input-text,.mobile-todoAddComment-grn div.ui-input-text{
border:1px solid #b0b0b0;
}

.ui-body-c {
background:#FFFFFF;
border-top:0;
border-right:0;
border-bottom:0;
border-left:0;
text-shadow:none;
}
.mobile-content-grn{
border-bottom:1px solid #CCCCCC;
}
.ui-bar-c {
background: transparent;
border: 0;
font-weight: bold;
text-shadow: none;
}
.mobile_comment_list_grn .ui-listview>.ui-li-static{
white-space:normal;
word-break:break-all;
}

.ui-body-c .mobile-attachmentButton-grn .ui-link,
.ui-body-c .mobile-attachmentButton-grn .ui-link:visited{
color:#333;
}

.mobile-cmt-input-grn{
    background:#ebebeb;
    border-top:1px solid #c9c9c9;
}
.mobile-commentLink-todo-grn {
background: #F3F3F3;
border: 1px solid #CCCCCC;
margin-bottom: 10px;
margin-left: 0;
padding: 10px;
}
.mobile-commentLink-todo-content-grn {
display: block;
padding-bottom: 15px;
padding-left: 0;
white-space: normal;
}
.mobile-commentLink-todo-grn:active, .mobile-commentLink-noArray-grn:active{
background: #DDDDDD;
border: 1px solid #CCCCCC;
}
.mobile-commentAndMsg-grn input,.mobile-cmt-input-grn input{
color:#777777;
}

.ui-page-theme-a .mobile-list-unread-grn.ui-body-inherit:active{
border: #d2ad7c 1px solid;
background: #f9efd7;
}
.mobile_comment_list_grn .ui-listview>.ui-li-static.ui-last-child{
border-bottom-width: 0;
}
.mobile-content-padding-grn,.mobile-content-style-grn{
border-bottom:1px solid #CCCCCC;
}