.mobile_notification_list_grn .ui-li-static{
padding:0;
line-height:1;
}
.mobile_list_withcheckbox_grn span,
.mobile_list_normal_padding_grn span,
.mobile_notification_list_grn span,
.mobile_list_withcheckbox_grn .ui-btn,
.mobile_list_normal_padding_grn .ui-btn,
.mobile_notification_list_grn .ui-btn{
line-height:1;
}
.mobile_list_withcheckbox_grn .ui-btn-inner,
.mobile_list_normal_padding_grn .ui-btn-inner,
.mobile_notification_list_grn .ui-btn-inner{
border:0;
}
.mobile_list_icon_arraylist_grn{
background:url("../image/cybozu/image-mobile/advanceList.png") no-repeat 0px 0px;
display:block;
position:absolute;
width:12px;
height:20px;
background-size: 12px 20px;
float: right;
top:50%;
margin-top:-10px;
right:10px;
}
.mobile_list_table_grn{
display:table!important;
width:100%;
table-layout:fixed;
height:65px;
}
.mobile_list_table_td_grn{
display:table-cell;
width:100%;
vertical-align:middle;
overflow:hidden;
}
.mobile_list_lines_grn{
display:block;
margin-right:70px;
}
.mobile_list_normal_padding_grn .mobile_list_lines_grn{
margin-right:38px;
}
.mobile_list_lines_grn ul{
display:inline-block;
list-style-type:none;
margin:0px auto;
width: 100%;
padding: 0px;
}
.mobile_list_lines_grn li{
text-align:left;
list-style-type:none;
padding: 0px 0px 0px 42px;
width:100%;
vertical-align:middle;
}
.mobile_list_normal_padding_grn .mobile_list_lines_grn li{
  padding-left:10px;
}
.mobile_list_users_grn{
display:inline-block;
font-size:14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:55%;
margin:4px 0 0 0;
color:#333;
}
.mobile_schedule_ul_grn .mobile_list_users_grn{
font-size:16px;
}
.mobile_list_normal_padding_grn span.mobile_list_users_grn ,
.mobile_list_withcheckbox_grn span.mobile_list_users_grn {
line-height:1.2;
}
.mobile_list_date_grn{
display:inline-block;
font-size:12px;
color:#999999;
float:right;
margin:4px 0px 0px 0px;
}
.mobile_list_withcheckbox_grn span.mobile_list_date_grn ,
.mobile_list_normal_padding_grn span.mobile_list_date_grn {
line-height: 1.2;
}
span.mobile_list_content_grn{
color:#333333;
display:inline-block;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:100%;
}
.mobile_list_normal_padding_grn span.mobile_list_content_grn,
.mobile_list_withcheckbox_grn span.mobile_list_content_grn{
line-height:1.4
}
.mobile_list_subcontent_grn{
display:block;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:100%;
color:#666666;
font-size:14px;
margin:0 0 4px 0;
}
.mobile_list_lines_grn .mobile_list_icon_attachmentssub_grn{
display:block;
position:relative;
float: right;
}
.mobile_list_lines_grn .mobile_list_icon_repeatssub_grn{
display:block;
float: right;
}
.mobile_list_lines_grn .mobile_list_icon_privatessub_grn{
display:block;
float: right;
}
.mobile_list_icon_attentions_grn,
.mobile_list_icon_unanswered_grn{
background:url("../image/cybozu/image-mobile/attention_s.png") no-repeat 0px 0px;
display:inline-block;
position:relative;
width:16px;
height:16px;
background-size: 16px 16px;
top:4px;
padding-right:2px;
vertical-align:top;
}
.mobile_list_icon_unanswered_grn{
background-image:url("../image/cybozu/image-mobile/unanswered_s.png");
}
span.mobile_list_textposition_2icon_grn{
display:inline-block;
width:86%;
position:relative;
}
span.mobile_list_textposition_1icon_grn{
display:inline-block;
width:92%;
position:relative;
}
.mobile_list_iconposition_grn{
top:-2px;
right:0px;
position:relative;
margin-top:5px;
}

/* list01 */
.mobile_list_checkbox_grn{
display:inline-block;
width:42px;
position:absolute;
text-align:center;
vertical-align:middle;
top:50%;
margin-top:-5px;
left:1px;
z-index:-1;
}
.mobile_list_checkbox_grn input[type="checkbox"] {
visibility:hidden;
}
.mobile_list_btn_checkboxon_grn{
display:inline-block;
position:absolute;
width:42px;
height:67px;
top:0;
left:0;
background:url("../image/cybozu/image-mobile/checkbox_on.png") no-repeat center center;
background-size: 22px 22px;
z-index:1;
}
.mobile_list_btn_checkboxoff_grn{
display:inline-block;
position:absolute;
width:42px;
height:67px;
top:0;
left:0;
background:url("../image/cybozu/image-mobile/checkbox_off.png") no-repeat center center;
background-size: 22px 22px;
z-index:1;
}
.mobile_list_link_checkboxon_grn{
background-color:#cce4f1;
}

/* dialog */
.mobile_select_menu_titlebar_div_grn > .ui-listview > .mobile-showMore-grn.ui-li-static {
    border-top:1px solid #cccccc;
}
/* dialog end */