BODY{
min-width:0px;
margin:10px;
}

#header-wrap{
display: none;
}
.header-media{display: none!important;}
.error_content_grn{
padding-left:0;
padding-top:0px;
width:95%;
line-height:1.2;
}

.error_main_grn{
margin:0;
padding:0;
line-height:1.2;
font-size:14px;
}

.error_label_grn{
line-height:1.2;
margin:10px 0 2px 0;
padding:0;
font-size:14px;
font-weight: bold;
}

.error_backtrace_grn{
background:#EEEEFF;
border:1px solid #6666FF;
padding:5px;
line-height:1.2;
border-radius: 4px;
word-wrap:break-word;
-ms-word-break: break-all;
word-break: break-all;
word-break: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
}

.icon_attention60_grn{
background:url(../image/cybozu/image-common/attention60.png) no-repeat left center;
background-size:contain;
height:30px;
width:30px;
display: block;
}

.img_attention60_grn{
display: none;
}