/* navbar */
.ui-panel-animate.ui-panel-page-content-position-right{
-webkit-transform: translate3d(-256px,0,0);
-moz-transform: translate3d(-256px,0,0);
transform: translate3d(-256px,0,0);
}
.mobile_navbar_grn{
height:52px;
background:rgba(81,161,219,0.85);
}
.ui-page-theme-a .mobile_navbar_grn .ui-btn:hover{
border:none;
}
.mobile_icon_tool_notify_grn{
background:url(../image/cybozu/image-mobile/tool_notify.png)  no-repeat center center!important;
}
.mobile_icon_tool_menu_grn{
background:url(../image/cybozu/image-mobile/tool_menu.png)  no-repeat center center!important;
}
.mobile_icon_tool_appmenu_grn{
background:url(../image/cybozu/image-mobile/tool_appmenu.png)  no-repeat center center!important;
}
.mobile_icon_tool_add_spacetodo_grn{
background:url(../image/cybozu/image-mobile/tool_add_spacetodo.png)  no-repeat center center!important;
}
.mobile_icon_tool_comment_grn{
background:url(../image/cybozu/image-mobile/tool_comment.png)  no-repeat center center!important;
}
.mobile_icon_tool_add_grn{
background:url(../image/cybozu/image-mobile/tool_add.png)  no-repeat center center!important;
}
.mobile_icon_tool_trash_grn{
background:url(../image/cybozu/image-mobile/tool_trash.png)  no-repeat center center!important;
}
.mobile_icon_tool_reply_grn{
background:url(../image/cybozu/image-mobile/tool_reply.png)  no-repeat center center!important;
}
.mobile_icon_tool_edit_grn{
background:url(../image/cybozu/image-mobile/tool_edit.png)  no-repeat center center!important;
}
.mobile_icon_tool_workflow_grn{
background:url(../image/cybozu/image-mobile/tool_workflow.png)  no-repeat center center!important;
}
.mobile_icon_tool_reuse_grn{
background:url(../image/cybozu/image-mobile/tool_reuse.png)  no-repeat center center!important;
}
.mobile_navbar_icon_a_grn,
.mobile_navbar_icon_b_grn,
.mobile_navbar_icon_c_grn,
.mobile_navbar_icon_d_grn,
.mobile_navbar_icon_e_grn{
height:30px;
width:30px;
margin:auto!important;
background-size: 30px 30px!important;
overflow:visible;
}
.mobile_navbar_grn a:link{
background-color:transparent;
height:48px;
}
.mobile_navbar_grn .mobile_notify_sum_grn {
    top:-2px;
    left:8px;
}
.mobile_navbar_grn .mobile_nitify_sum_position_grn{
display:block;
border-radius:4px;
height:14px;
width:14px;
padding:0;
margin:auto;
top:9px;
position:relative;
}
.mobile_navbar_grn .ui-btn-inner{
overflow:visible;
border:none;
}
.mobile_navbar_grn li{
position:relative;
}
.mobile_navbar_a_grn .mobile_bg_grn,
.mobile_navbar_b_grn .mobile_bg_grn,
.mobile_navbar_c_grn .mobile_bg_grn,
.mobile_navbar_d_grn .mobile_bg_grn,
.mobile_navbar_e_grn .mobile_bg_grn{
background-color:#3084c1;
height:36px;
width:36px;
margin-left:-18px;
margin-top:-18px;
position:absolute;
top:50%;
left:50%;
border-radius:4px;
display:none;
}
/* navbar end*/

/* navbar menu*/
.mobile_navbar_grn .mobile_triangle_d_grn,
.mobile_navbar_grn .mobile_triangle_e_grn{
position:relative;
top:-12px;
left:50%;
margin-left:-12px;
width:0;
height:0;
border-width:12px;
border-style:solid dashed dashed dashed;
border-color:#c9c9c9 transparent transparent transparent;
display:none;
}
.mobile_navbar_menu_grn{
background-color:#ffffff;
border:1px solid #c9c9c9;
margin:0px;
position:absolute;
bottom:64px;
right:8px;
display:none;
min-width:134px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
border-radius:4px;
padding:2px;
}
.mobile_navbar_menu_grn ul{
list-style-type: none;
text-align:center;
margin:0px;
padding:0px;
}
.mobile_navbar_menu_grn li{
height:44px;
border-bottom:1px solid #e6e6e6;
border-collapse: collapse;
white-space: nowrap;
}
.mobile_navbar_menu_grn .ui-btn{
margin:0;
text-align:left;
}
.mobile_navbar_menu_grn .ui-btn-hover-c{
border-left:none;
border-right:none;
}
.mobile_navbar_menu_grn a.ui-link,
.mobile_navbar_menu_grn a.ui-link:visited,
.mobile_navbar_menu_grn a.ui-link:hover,
.mobile_navbar_menu_grn a.ui-link:active{
display:block;
height:100%;
line-height:44px;
padding:0 15px;
text-decoration:none;
color:#212121;
font-weight:normal;
text-align:center;
}
.mobile_navbar_menu_grn .mobile_refresh_grn a.ui-link:hover{
background-color:#e6e6e6;
}
.mobile_navbar_menu_grn .mobile_scroll_area_grn{
max-height:300px;
overflow:auto;
text-align:left;
-webkit-overflow-scrolling: touch;
}
.mobile_navbar_menu_grn .mobile_refresh_grn{
border-bottom:none;
background-color:#f6f6f6;
width:100%;
height:44px;
}
.mobile_navbar_menu_grn .mobile_refresh_grn span{
display:inline-block;
margin-top:-3px;
width:30px;
height:30px;
background:url("../image/cybozu/image-mobile/refresh.png") no-repeat center center;
background-size:30px 30px;
vertical-align:middle;
}
.mobile_html_fixed{
position:fixed;
top:0;
left:0;
width:100%;
}
.mobile_navbar_landscape_grn{
width:400px;
letter-spacing:0;
}
.mobile_navbar_landscape_grn li{
float:left;
width:200px;
}
.mobile_navbar_landscape_grn a{
width:170px;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
}
.mobile_navbar_landscape_grn .mobile_refresh_grn{
width:400px;
}
.mobile_navbar_landscape_grn .mobile_refresh_grn a.ui-link,
.mobile_navbar_landscape_grn .mobile_refresh_grn a.ui-link:visited,
.mobile_navbar_landscape_grn .mobile_refresh_grn a.ui-link:hover,
.mobile_navbar_landscape_grn .mobile_refresh_grn a.ui-link:active{
width:100%;
padding:0;
}
.mobile_navbar_landscape_grn ul{
border-bottom:1px solid #e7e7e7;
}
.mobile_navbar_landscape_grn .mobile_last_li_grn{
border-bottom:none;
}
/* navbar menu end*/

/* app menu*/
.ui-panel-display-push .ui-panel-open .ui-panel-position-right{
border-left:1px solid #c9c9c9;
margin:-1px;
}
.ui-body-a, .ui-page-theme-a .ui-panel-open{
background-color:#333333;
}
.ui-panel .ui-panel-inner{
overflow:auto;
-webkit-overflow-scrolling:touch;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
padding:0;
width:100%;
} 
.mobile_app_menu_grn{
border-left:1px solid #c9c9c9;
border-right:1px solid #c9c9c9;
margin:0px;
min-width:194px;
position:fixed;
top:0;
overflow-y:auto;
background-color:#eee;
width:256px;
-webkit-overflow-scrolling: touch;
}
.mobile_app_menu_grn ul{
list-style-type: none;
text-align:center;
margin:0px;
padding:0px;
}
.ui-page-theme-a .mobile_app_menu_grn li.ui-btn,
.ui-page-theme-a .mobile_app_menu_grn li.ui-btn:visited
.ui-page-theme-a .mobile_app_menu_grn li.ui-btn:hover,
.ui-page-theme-a .mobile_app_menu_grn li.ui-btn:active{
height:44px;
border-top:none!important;
border-bottom:1px solid #555555!important;
background-color:transparent;
}
.mobile_app_menu_grn .ui-btn{
margin:0;
text-align:left;
}
.ui-page-theme-a .mobile_app_menu_grn .ui-btn{
border-left:none;
border-right:none;
}
.ui-page-theme-a .mobile_app_menu_grn a.ui-btn:hover,
.ui-page-theme-a .mobile_app_menu_grn a.ui-btn:active{
border-left:none;
border-right:none;
}
.ui-page-theme-a .mobile_app_menu_grn a.ui-btn:focus{
outline:none;
}
.mobile_app_menu_grn a.ui-link,
.mobile_app_menu_grn a.ui-link:visited,
.mobile_app_menu_grn a.ui-link:hover,
.mobile_app_menu_grn a.ui-link:active{
display:block;
height:100%;
line-height:44px;
padding:0 35px 0 15px;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
text-decoration:none;
color:#ffffff;
text-shadow:none;
font-weight:normal;
border-top:none!important;
border-bottom:none!important;
}
.mobile_app_menu_grn a.ui-link:link,
.mobile_app_menu_grn a.ui-link:visited{
background-color:#404040;
}
.mobile_app_menu_grn a.ui-link:active{
background-color:#4d4d4d;
}
.mobile_app_menu_grn .mobile_pcview_grn,
.mobile_app_menu_grn .mobile_logout_grn{
width:50%;
float:left;
z-index:1;
}
.ui-page-theme-a .mobile_app_menu_grn .ui-btn{  
border-left:1px solid #555555;  
margin-left:-1px;  
}  
.mobile_app_menu_grn .mobile_pcview_grn a.ui-link,
.mobile_app_menu_grn .mobile_pcview_grn a.ui-link:visited,
.mobile_app_menu_grn .mobile_pcview_grn a.ui-link:hover,
.mobile_app_menu_grn .mobile_pcview_grn a.ui-link:active,
.mobile_app_menu_grn .mobile_logout_grn a.ui-link,
.mobile_app_menu_grn .mobile_logout_grn a.ui-link:visited,
.mobile_app_menu_grn .mobile_logout_grn a.ui-link:hover,
.mobile_app_menu_grn .mobile_logout_grn a.ui-link:active{
padding:0;  
text-align:center;  
}
.mobile_app_menu_grn .mobile_scroll_area_grn{
max-height:300px;
overflow:auto;
text-align:left;
-webkit-overflow-scrolling: touch;
}
.mobile_app_menu_grn .mobile_notification_grn,
.mobile_app_menu_grn .mobile_space_grn,
.mobile_app_menu_grn .mobile_schedule_grn,
.mobile_app_menu_grn .mobile_message_grn,
.mobile_app_menu_grn .mobile_bulletin_grn,
.mobile_app_menu_grn .mobile_mail_grn,
.mobile_app_menu_grn .mobile_workflow_grn,
.mobile_app_menu_grn .mobile_report_grn,
.mobile_app_menu_grn .mobile_pc_view_grn,
.mobile_app_menu_grn .mobile_home_grn{
display:inline-block;
margin-top:-3px;
margin-right:6px;
width:22px;
height:22px;
vertical-align:middle;
}
.mobile_app_menu_grn .mobile_notification_grn{
background:url("../image/cybozu/image-mobile/app_notify_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_space_grn{
background:url("../image/cybozu/image-mobile/app_space_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_schedule_grn{
background:url("../image/cybozu/image-mobile/app_schedule_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_message_grn{
background:url("../image/cybozu/image-mobile/app_message_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_bulletin_grn{
background:url("../image/cybozu/image-mobile/app_bulletin_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_mail_grn{
background:url("../image/cybozu/image-mobile/app_mail_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_workflow_grn{
background:url("../image/cybozu/image-mobile/app_workflow_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_report_grn{
background:url("../image/cybozu/image-mobile/app_report_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_pc_view_grn{
background:url("../image/cybozu/image-mobile/pc_view_sub.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_home_grn{
background:url("../image/cybozu/image-mobile/home.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_app_menu_grn .mobile_notify_num_grn {
    top:50%;
    right:16px;
    margin-top:-8px;
}
/* app menu end*/

/*Gen checkbox on menu bar start*/
.mobile_list_navbar_grn{
display:block;
height:52px;
line-height:52px;
background: rgba(129, 129, 129, 0.95);
margin:0;
text-align:left;
vertical-align:middle;
}
.mobile_list_navbar_grn ul{
display:inline-block;
list-style-type:none;
text-align:left;
padding:0;
margin:0;
width:100%;
white-space:nowrap;
}
.mobile_list_navbar_grn li{
display:inline-block;
list-style-type:none;
}
.mobile_list_navbar_left_grn{
padding-left:8px;
}
.mobile_list_navbar_center_grn{
text-align:center;
}
.mobile_list_navbar_right_grn{
padding-right:8px;
}
.ui-page-theme-a  .mobile_list_navbar_grn .ui-link,
.ui-page-theme-a  .mobile_list_navbar_grn .ui-link:active,
.ui-page-theme-a  .mobile_list_navbar_grn .ui-link:visited{
display:inline-block;
color:#fff;
text-shadow:none;
font-size:14px;
text-decoration:none;
font-weight: normal;
padding:8px 4px;
line-height: 1.2;
position: relative;
top: -2px;
}
.ui-page-theme-a .mobile_list_navbar_grn .ui-link:hover{
display:inline-block;
background-color:#a6a6a6;
color:#fff;
text-shadow:none;
font-size:14px;
text-decoration:none;
font-weight: normal;
border-radius:4px;
padding:8px 4px;
}
.mobile_list_navbar_rightlink_grn{
float:right;
padding-left:10px!important;
padding-right:4px!important;
border-left:1px #c9c9c9 solid;
}
/*Gen checkbox on menu bar end*/