#my_space_list .mobile-list-text-grn{
font-weight: bold;
color:#333333;
}

/* discussion list */
.mobile_discussion_list_grn .mobile_folderlist_grn .mobile_folderlist_text_overflow_grn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile_discussion_list_grn .mobile_folderlist_grn li , .mobile_discussion_list_grn .mobile_folderlist_grn .mobile_folderlist_text_overflow_grn {
    height:50px;
    max-height:50px;
}
/* discussion list end */

/* todo detail */
.mobile_todo_detail_inline_grn {
    margin-top:10px;
    margin-left:10px;
}
.mobile_todo_detail_inline_grn .mobile-contents-todoDetail-grn {
    margin-top:4px;
    margin-left:0;
}
/* todo detail end */

.ui-popup-container .ui-datebox-container{
  margin: 0 auto;
}