.mobile_folderlist_grn >li>a.ui-btn{
border:0;
padding: 0 0 0 8px;
height:44px;
overflow:visible;
display:table;
width:100%;
table-layout:fixed;
white-space:normal;
vertical-align:middle;
}
.mobile_folderlist_grn >li>a.ui-btn:hover{
background-color:rgba(255,255,255,0);
}
.mobile_folderlist_icon_size_grn{
width:44px;
height:44px;
}
.mobile_folderlist_grn li{
border-bottom: 1px solid #CCCCCC;
max-height:44px;
}
.mobile_folderlist_grn li:active{
background-color: #f3f3f3;
}
.mobile_folderlist_grn .mobile_folderlist_list_father_grn{
padding-right:58px;
}
.mobile_folderlist_grn .mobile_folderlist_list_father_grn .mobile_notify_sum_grn{
right:-18px;
}
.mobile_folderlist_grn .mobile_folderlist_list_father_grn .mobile_ellipsis_mark_grn{
right:-14px;
}
.mobile_folderlist_grn .mobile_folderlist_list_father_grn .mobile_folderlist_icon_arraylist_grn{
right:-39px;
}
.mobile_folderlist_list_text_grn{
margin-left:44px!important;
padding-left:0!important;
}
.mobile_folderlist_nofolder_grn .mobile_folderlist_list_text_grn {
    margin-left:10px!important;
}
.mobile_folderlist_subfolder_grn{
padding-left:8px!important;
}
.mobile_folderlist_sub-subfolder_grn{
padding-left:16px!important;
}
.mobile_folderlist_sub-sub-subfolder_grn{
padding-left:24px!important;
}
.mobile_folderlist_sub-sub-sub-subfolder_grn{
padding-left:32px!important;
}
.mobile_folderlist_subfolder_grn .mobile_folderlist_icon_grn{
left:8px;
}
.mobile_folderlist_sub-subfolder_grn .mobile_folderlist_icon_grn{
left:16px;
}
.mobile_folderlist_sub-sub-subfolder_grn .mobile_folderlist_icon_grn{
left:24px;
}
.mobile_folderlist_sub-sub-sub-subfolder_grn .mobile_folderlist_icon_grn{
left:32px;
}
.mobile_folderlist_text_overflow_grn{
display:block;
display:table-cell;
width:100%;
height:44px;
white-space:normal;
overflow:hidden;
position:relative;
vertical-align:middle;
}
.mobile_folderlist_icon_grn{
display:inline-block;
position:absolute;
left:0px;
top:50%;
margin-top:-22px;
border-radius:4px;
}
.mobile_folderlist_list_text_grn .mobile_folderlist_icon_grn{
left:-44px;
}
.mobile_folderlist_icon_grn.mobile_icon_spinner_grn{
background-position:center;
}
.mobile_folderlist_icon_arrowclose_grn{
background:url("../image/cybozu/image-mobile/arrow_close_sub.png") no-repeat center;
background-size: 22px 22px;
}
.mobile_folderlist_icon_arrowopen_grn{
background:url("../image/cybozu/image-mobile/arrow_open_sub.png") no-repeat center;
background-size: 22px 22px;
}
.mobile_folderlist_icon_arraylist_grn{
background:url("../image/cybozu/image-mobile/advanceList.png") no-repeat 0px 0px;
display:block;
position:absolute;
width:12px;
height:20px;
background-size: 12px 20px;
float: right;
top:50%;
margin-top:-10px;
right:-37px;
z-index:10;
}
.mobile_folderlist_grn  .mobile_folderlist_icon_arraylist_grn{
top:22px;
}

/* mobile_folderlist01 */
.mobile-ul-top-grn .mobile_notify_sum_grn{
margin-top:-9px;
top:22px;
right:-16px;
z-index:2;
}
.mobile_folderlist_grn > li{
padding-right:92px;
overflow:hidden;
}
.mobile_folderlist_grn > li  > .ui-li{
border-top:0;
}
.mobile_folderlist_grn .ui-btn{
height:44px;
}
.mobile_folderlist_grn .mobile_ellipsis_mark_grn{
content:"...";
width:40px;
text-align:right;
padding-right:10px;
display:block;
position:absolute;
top:22px;
right:-0px;
background: -webkit-gradient(linear, left top, right top,from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
.mobile_folderlist_grn .ui-btn:hover .mobile_ellipsis_mark_grn{
background: -webkit-gradient(linear, left top, right top,from(rgba(243, 243, 243, 0)), to(rgba(243, 243, 243, 1)), color-stop(50%, whitergba(243, 243, 243, 1)));
background: -moz-linear-gradient(to right, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 1));
background: -o-linear-gradient(to right, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 1));
background: -ms-linear-gradient(to right, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 1));
background: linear-gradient(to right, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1) 50%, rgba(243, 243, 243, 1));
}

/*add icon*/
.mobile_folderlist_icon_receives_grn{
background:url("../image/cybozu/image-mobile/receive_s.png") no-repeat center;
background-size: 22px 22px;
}
.mobile_folderlist_icon_sents_grn{
background:url("../image/cybozu/image-mobile/sent_s.png") no-repeat center;
background-size: 22px 22px;
}
.mobile_folderlist_icon_drafts_grn{
background:url("../image/cybozu/image-mobile/draft_s.png") no-repeat center;
background-size: 22px 22px;
}
.mobile_folderlist_icon_trashs_grn{
background:url("../image/cybozu/image-mobile/trash_s.png") no-repeat center;
background-size: 22px 22px;
}
/*add icon end*/