body {
    min-width:100px;
}

.login_base #header-wrap {
    position:static;
}

#header-wrap ,
.cloudHeader-grn {
    position:static;
}

.login_base .cloudHeader-grn {
    min-width:100px;
    border-bottom:0;
}

#one_parts #action {
    width:100%;
}

.center_block {
    margin:15px 12px 10px;
}

.center_list {
    width:auto;
    padding:5px 15px 10px;
    background-color:#ffffff;
    box-shadow:none;
}

.company {
    margin-bottom:4px;
    font-size:17px;
    padding-bottom:12px;
    border-bottom:0;
    text-shadow:none;
}

.login_message_grn {
    margin:6px 0 0 0;
    font-size:14px;
}

.center_block .login_info_area_grn {
    padding:0;
}

.login_up_line_grn {
    margin-right:-12px;
}

.center_block .login_label_grn {
    display:block;
    text-align:left;
    margin-top:10px;
    margin-bottom:4px;
    font-size:14px;
    color:#999999;
    font-weight:700;
}

.pw_label_sub_grn {
    display:inline;
}

.login_up_line_grn input {
    -webkit-appearance:none;
    border:1px solid #b0b0b0;
    border-radius:4px;
}

.login_info_area_grn input[type="text"] ,
.login_info_area_grn input[type="password"] {
    height:38px;
}

.center_block .logintextfield {
    width:100%;
    box-shadow:none;
    background-color: #ffffff;
    font-size:16px;
}

.center_block .login_input_up_grn,.center_block .login_input_down_grn {
    position:relative;
    margin:0 12px;
    display:block;
    text-align:left;
}

.center_block .login_input_down_grn .login_button_grn {
    margin:25px -12px 10px;
}

.center_block .login_name_grn ,
.center_block .login_password_grn ,
.center_block .login_checkbox_grn {
    margin-left:-12px;
}

.center_block .login_checkbox_grn {
    margin-top:16px;
    margin-bottom:0;
}

.center_list #checkbox1_label {
    font-size:14px;
}

small {
    display:block;
    margin:0 !important;
}

.center_list .login_margin {
    width:100%;
    background:url(../image/cybozu/bg_transparent.png) #51a1db;
    border:1px solid #51a1db;
    border-radius:4px;
    padding:10px;
    color:#ffffff;
    font-size:16px;
    box-shadow:none;
}

.center_list .login_margin:hover ,
.center_list .login_margin:active {
    background:url(../image/cybozu/bg_transparent.png) #3084c1;
    border:1px solid #3084c1;
}

.center_list .login_margin {
    padding:10px 16px;
}