/* datepicker_page */
.mobile_datepicker_page_grn {
margin-left:4px;
margin-right:4px;
box-shadow: 0px 0px 5px 0px #888888;
}
.mobile_datepicker_icon_search_grn{
background:url("../image/cybozu/image-mobile/search.png") no-repeat center;
background-size: 30px 30px;
display:inline-block;
position:absolute;
width:30px;
height:30px;
float: right;
top:10px;
right:10px;
}
/* datepicker_page end */

/* datepicker_bar */
.mobile_datepicker_bar_grn{
margin:0;
padding:0;
}
.mobile_datepicker_bar_grn ul{
display:inline-block;
list-style-type:none;
background-color:#ebebeb;
margin:0;
padding:0;
width:100%;
height:40px;
vertical-align:top;
}
.mobile_datepicker_bar_grn li{
display:inline-block;
list-style-type:none;
text-align:center;
vertical-align:middle;
line-height:40px;
}
.mobile_datepicker_bar_grn .mobile_width_a_grn{
width:15%;
}
.mobile_datepicker_bar_grn .mobile_width_b_grn{
width:30%;
height:40px;
}
.mobile_datepicker_bar_grn .mobile_width_c_grn{
width:24%;
height:40px;
}
.mobile_datepicker_bar_grn .mobile_width_d_grn{
width:16%;
}
.mobile_datepicker_bar_grn .mobile_width_e_grn{
width:15%;
}
.mobile_datepicker_bar_grn .mobile_width_d_grn a{
text-decoration:none;
display:inline-block;
line-height:40px;
}
.mobile_datepicker_icon_backsub_grn a{
display:inline-block;
background:url("../image/cybozu/image-mobile/back_sub.png") no-repeat center center;
background-size: 22px 22px;
position:relative;
width:22px;
height:22px;
float: left;
left:5px;
}
.mobile_datepicker_icon_advancesub_grn a{
display:inline-block;
background:url("../image/cybozu/image-mobile/advance_sub.png") no-repeat center center;
background-size: 22px 22px;
position:relative;
width:22px;
height:22px;
float: right;
right:5px;
}
.mobile_datepicker_icon_backsub_grn a:hover,
.mobile_datepicker_icon_advancesub_grn a:hover{
border-radius: 4px;
background-color: #f6f6f6;
}
.mobile_datepicker_icon_backsub_grn a,
.mobile_datepicker_icon_backsub_grn a{
padding: 1px;
}
.mobile_datepicker_bar_grn li .mobile_select_grn {
margin: 0;
padding: 0;
border: none;
height: 30px;
line-height: 30px;
margin-top:4px !important;
text-align:center;
display:inline-block;
}
.mobile_datepicker_bar_grn li .mobile_select_grn .ui-btn-inner {
padding: 0px 24px 0px 5px;
border: none;
}
.mobile_datepicker_bar_grn li .mobile_select_grn .ui-btn-text{
padding-right:0px;
}
.mobile_datepicker_bar_grn li .mobile_select_grn .ui-select .ui-btn-icon-right .ui-icon {
right: 4px;
}
.mobile_width_b_grn .mobile_select_grn .ui-select {
width:78px;
display:inline-block;
line-height:30px;
}
.mobile_width_c_grn .mobile_select_grn .ui-select {
width:62px;
display:inline-block;
line-height:30px;
}
.mobile_datepicker_icon_backsub_grn .ui-link,
.mobile_datepicker_icon_backsub_grn .ui-link:active,
.mobile_datepicker_icon_backsub_grn .ui-link:visited,
.mobile_datepicker_icon_advancesub_grn .ui-link,
.mobile_datepicker_icon_advancesub_grn .ui-link:active,
.mobile_datepicker_icon_advancesub_grn .ui-link:visited {
cursor: pointer;
}
.mobile_datepicker_icon_backsub_grn .ui-link:hover,
.mobile_datepicker_icon_advancesub_grn .ui-link:hover {
cursor: pointer;
display: block;
height: 22px;
}
.mobile_datepicker_bar_title_grn{
display:inline-block;
text-align:center;
font-size:16px;
color:#666;
width:auto;
}
/* datepicker_bar end */

/* datepicker */
#dialog_datepicker-popup .ui-body-c {
background: transparent;
}
.mobile_datepicker_grn{
margin:0;
padding:0;
}
.mobile_datepicker_list_grn a{
color:#333;
height:39px;
line-height:39px;
font-size:18px;
}
.mobile_datepicker_list_grn{
font-size:20px;
font-weight:normal;
color:#333;
background: #FFFFFF;
padding-left: 2px;
padding-right: 2px;
}
.mobile_datepicker_sun_grn,
.mobile_datepicker_workdays_grn,
.mobile_datepicker_weekdays_grn,
.mobile_datepicker_sat_grn{
display:inline-block;
width:14%;
height:39px;
line-height:39px;
text-align:center;
vertical-align:middle;
}
.mobile_datepicker_sat_grn, .mobile_datepicker_sun_grn{
width:15%;
}
 .mobile_datepicker_sun_grn{
color:#FF807D;
}
.mobile_datepicker_sun_grn .ui-link,
.mobile_datepicker_sun_grn .ui-link:active,
.mobile_datepicker_sun_grn .ui-link:visited {
display:block;
cursor:pointer;
color:#FF807D;
text-decoration:none;
}
.mobile_datepicker_sun_grn .ui-link:hover{
display:block;
cursor:pointer;
background-color:#f3f3f3;
text-decoration:none
}
.mobile_datepicker_sat_grn{
color:#5EADE5;
}
.mobile_datepicker_sat_grn .ui-link,
.mobile_datepicker_sat_grn .ui-link:active,
.mobile_datepicker_sat_grn .ui-link:visited {
display:block;
cursor:pointer;
color:#5EADE5;
text-decoration:none;
}
.mobile_datepicker_sat_grn .ui-link:hover{
display:block;
cursor:pointer;
background-color:#f3f3f3;
text-decoration:none;
color:#5EADE5;
}
.mobile_datepicker_today_grn{
display:block;
border: 1px solid #EF9201;
position:relative;
top:0;
left:0;
height:37px;
line-height:37px;
}
.mobile_datepicker_list_grn .mobile_datepicker_today_grn .ui-link,
.mobile_datepicker_list_grn .mobile_datepicker_today_grn .ui-link:active,
.mobile_datepicker_list_grn .mobile_datepicker_today_grn .ui-link:visited {
height:35px;
}
.mobile_datepicker_list_grn .mobile_datepicker_today_grn .ui-link:hover{
height:35px;
}
.mobile_datepicker_select_grn{
display:block;
height:37px;
line-height:37px;
background-color:#51a1db;
border: 1px solid #51a1db;
color:#fff;
}
.mobile_datepicker_workdays_grn .ui-link,
.mobile_datepicker_workdays_grn .ui-link:active,
.mobile_datepicker_workdays_grn .ui-link:visited,
.mobile_datepicker_weekdays_grn .ui-link,
.mobile_datepicker_weekdays_grn .ui-link:active,
.mobile_datepicker_weekdays_grn .ui-link:visited {
display:block;
cursor:pointer;
color:#333;
text-decoration:none;
}
.mobile_datepicker_workdays_grn .ui-link:hover,
.mobile_datepicker_weekdays_grn .ui-link:hover {
display:block;
cursor:pointer;
height:37px;
line-height:37px;
background-color:#f3f3f3;
text-decoration:none;
border: 1px solid #f3f3f3;
color:#333;
}
.mobile_datepicker_holidays_grn .ui-link,
.mobile_datepicker_holidays_grn .ui-link:hover,
.mobile_datepicker_holidays_grn .ui-link:active,
.mobile_datepicker_holidays_grn .ui-link:visited {
color:#FF807D;
}
.mobile_datepicker_listtitle_grn{
display:inline-block;
font-size:14px;
top:12px;
height:38px;
margin-bottom:-6px;
}
.mobile_datepicker_sun_grn .mobile_datepicker_unabledate_grn.ui-link,
.mobile_datepicker_sat_grn .mobile_datepicker_unabledate_grn.ui-link,
.mobile_datepicker_workdays_grn .mobile_datepicker_unabledate_grn.ui-link,
.mobile_datepicker_unabledate_grn{
color:#a6a6a6;
font-size:18px;
}
.mobile_datepicker_regular_grn{
display:block;
background:url("../image/cybozu/image-mobile/mark_event_month.png") no-repeat center center;
background-size: 5px 5px;
position:absolute;
top:34px;
width:5px;
height:5px;
left:50%;
margin-left:-2px;
}
.mobile_datepicker_regular_select_grn{
display:block;
background:url("../image/cybozu/image-mobile/mark_event_month_select.png") no-repeat center center;
background-size: 5px 5px;
position:absolute;
top:34px;
width:5px;
height:5px;
left:50%;
margin-left:-2px;
}
.mobile_datepicker_allday_grn{
display:block;
position:absolute;
border-top: 2px solid #82C108;
width:25px;
top:30px;
left:50%;
margin-left:-11px;
}
.mobile_datepicker_allday_select_grn{
display:block;
position:absolute;
border-top: 2px solid #fff;
width:25px;
top:30px;
left:50%;
margin-left:-11px;
}
/* datepicker end */

/* datepicker_foot */
.mobile_datepicker_page_grn .mobile_cancel_grn{
width:100%;
}
.mobile_datepicker_page_grn .mobile_button_area_grn{
margin:0 15px 0 5px;
text-align:center;
}
.mobile_datepicker_page_grn .mobile_button_area_grn .ui-btn{
margin:10px 5px;
width:100%;
padding:0;
}
/* datepicker_foot end */

/*feedback*/
.mobile_datepicker_workdays_grn .ui-link:active,
.mobile_datepicker_weekdays_grn .ui-link:active,
.mobile_datepicker_sat_grn .ui-link:active,
.mobile_datepicker_sun_grn .ui-link:active,
.mobile_datepicker_holidays_grn .ui-link:active{
color:#ffffff;
background-color:#51A1DB;
}
/*feedback end*/