.reaction_member_list_grn .ui-btn-text{
line-height:1.1;
}

/* like */
.mobile_comment_reaction_base_grn {
    margin-right:8px;
    white-space:nowrap;
}

.like_grn{
    display:inline-block;
    margin-left:-1px;
    margin-right:4px;
    padding:0px;
    cursor:pointer;
    vertical-align:middle;
}

.like_btn_left_grn{
  display:inline-block;
  width:5px;
  height:16px;
  background: url('../image/cybozu/image-common/like_btn_left.png') no-repeat 0 0;
}

.like_btn_bg_grn{
  display:inline-block;
  margin:0px auto;
  padding:0px;
  height:16px;
  line-height:10px;
  line-height:14px\9;/*IE*/
  padding:0px 8px;
  background: url('../image/cybozu/image-common/like_btn_bg.png') repeat-x 0 0;
  text-align: center;
  text-decoration: none;
  vertical-align:top;
}

.like_btn_font_grn{
  display:inline-block;
  margin:0px auto;
  padding:0px;
  line-height:16px;
  vertical-align:middle;
  text-decoration: none;
  boder:1px solid #ff0000;
  font-weight: bold;
}

.like_btn_righ_grn{
  display:inline-block;
  width:2px;
  height:16px;
  background: url('../image/cybozu/image-common/like_btn_right.png') no-repeat 0 0;
}