.mobile_wf_text_area_grn .mobile_pointtext_grn{
font-weight:bold;
font-size:18px;
}
.ui-content .mobile_wf_progress_state_grn{
margin:0;
padding-bottom: 10px;
}
.mobile_wf_progress_state_grn>li.ui-li-static{
text-shadow:none;
border:none;
white-space:normal;
}
.mobile_wf_progress_state_grn .mobile_title_grn{
padding:10px 0 6px 0;
text-align: left;
font-weight:bold;
color:#666;
}
.mobile_wf_progress_state_grn .mobile_bar_grn,
.mobile_wf_progress_state_grn .mobile_step_bar_grn{
padding:3px 10px;
font-size:14px;
background-color:#dddddd;
}
.mobile_wf_progress_state_grn .mobile_step_bar_grn{
background-color:#f6c9c5;
}
.mobile_wf_progress_state_grn .mobile_under_line_grn{
border-bottom:1px dashed #c9c9c9;
}
.mobile_wf_progress_state_grn .mobile_operation_grn{
white-space:nowrap;
background-color:#f6f6f6;
padding:10px 8px;
}
.mobile_wf_progress_state_grn .mobile_user_grn{
font-size: 14px;
text-overflow: ellipsis;
white-space:nowrap;
overflow:hidden;
}
.mobile_wf_progress_state_grn .mobile_text_grn {
font-size: 14px;
line-height: 1.2;
color:#333333;
word-wrap:break-word;
white-space: pre-wrap;
}
.mobile_wf_progress_state_grn .mobile_info_grn{
display:block;
width:98%;
white-space:normal;
margin-left:12px;
}
.mobile_wf_progress_state_grn .mobile_wf_progress_mark_ok_grn{
border:2px solid #f05b4c;
color:#f05b4c;
font-weight:bold;
}
.mobile_wf_progress_state_grn .mobile_wf_progress_mark_grn{
border:1px solid #999999;
}
.mobile_wf_progress_state_grn .mobile_wf_progress_mark_ok_grn , .mobile_wf_progress_state_grn .mobile_wf_progress_mark_grn {
display:inline-block;
padding: 2px 10px;
margin: 0 0 6px;
background-color:#ffffff;
font-size:14px;
vertical-align:top;
text-align:center;
}
.mobile_wf_progress_state_grn .mobile_progress_histroy_grn,
.mobile_wf_progress_state_grn .mobile_progress_histroy_grn span{
color:#666666;
font-size:12px;
}
.mobile_wf_progress_state_grn .mobile_progress_histroy_grn{
border:1px solid #c9c9c9;
background-color:#ebebeb;
margin:4px 10px 4px 0;
padding:4px;
}
.mobile_wf_progress_state_grn .mobile_progress_histroy_grn span{
white-space:pre-wrap;
}
.mobile_wf_progress_state_grn .mobile_reject_grn{
padding:2px 0px;
border:2px solid #ef4938;
display:inline-block;
color:#ef4938;
font-size:12px;
border-radius:4px;
vertical-align:top;
text-align:center;
margin:7px 7px 0 0;
min-width:60px;
}
.mobile_wf_blank_mark_grn{
display: none;
}
.mobile_wf_progress_state_grn .mobile_date_grn{
font-size: 12px;
color:#999;
}
.mobile_wf_progress_state_grn .mobile_current_grn span{
position:absolute;
top:0px;
left:0px;
height:100%;
width:22px;
margin-left:4px;
background:url("../image/cybozu/image-mobile/wf_progress_arrow.png") no-repeat center;
background-size:22px 22px;
}
.mobile_wf_progress_state_grn .mobile_current_grn .mobile_wf_remand_grn{
background:url("../image/cybozu/image-mobile/wf_progress_remand.png") no-repeat center;
background-size:22px 22px;
}
.mobile_wf_progress_state_grn .mobile_current_grn.ui-li-static{
padding-left:30px;
}
.mobile_wf_text_area_grn .mobile_status_area_grn{
vertical-align:top;
margin-bottom:8px;
}
.mobile_wf_text_area_grn .mobile_No_text_grn{
color:#333;
font-size:14px;
margin-left:16px;
}
.mobile_wf_text_area_grn .mobile_status_alert_mark_grn{
display:inline-block;
font-size:14px;
line-height:22px;
height:22px;
color:#F44848;
font-weight:bold;
vertical-align:top;
margin-right:16px;
}
.mobile_wf_text_area_grn .mobile_status_alert_mark_grn span{
display:inline-block;
height:22px;
width:16px;
background:url("../image/cybozu/image-mobile/alert_s.png") no-repeat center;
background-size:16px 16px;
margin-right:4px;
}
.mobile_wf_text_area_grn .mobile_status_mark_grn{
display:inline-block;
font-size:14px;
line-height:14px;
padding:4px 8px;
text-shadow:none;
}
.mobile_wf_text_area_grn .mobile_inProgress_mark_grn{
background-color:#70BEEF;
color:#fff;
}
.mobile_wf_text_area_grn .mobile_approved_mark_grn{
border:1px solid #F44848;
color:#F44848;
font-weight:bold;
}
.mobile_wf_text_area_grn .mobile_complete_mark_grn{
background-color:#70C70C;
color:#fff;
}
.mobile_wf_text_area_grn .mobile_rejected_mark_grn{
background-color:#F44848;
color:#fff;
}
.mobile_wf_text_area_grn .mobile_cancel_mark_grn{
background-color:#999999;
color:#fff;
}
.mobile_wf_text_area_grn  .mobile_editable_grn{
display:inline-block;
background-color:#ebebeb;
color:#999999;
font-size:14px;
text-shadow:none;
padding:4px;
margin:4px 0;
line-height:1.2;
}

.mobile_wf_checkarea_grn {
    margin-bottom:4px;
}
.mobile_wf_checkarea_grn span {
    vertical-align:middle;
    margin-right:4px;
}

.mobile_checkicon_blank_grn {
    display:inline-block;
    height:20px;
    width:20px;
    vertical-align:0px;
    background-size:20px 20px;
}