.mobile_notification_header_grn {
    margin:0 -15px;
    padding:16px 10px;
    height:30px;
    white-space:nowrap;
}
.mobile_notification_header_grn .mobile_left_grn,
.mobile_notification_header_grn .mobile_right_grn{
width:25%;
vertical-align:top;
}
.mobile_notification_header_grn .mobile_select_control_grn{
  display:inline-block;
  padding-left:20px;
width:50%;
}
.mobile_notification_header_grn .mobile_select_control_grn .mobile_select_grn{
margin-top:0;
margin-right:4px;
vertical-align:top;
}
.mobile_notification_header_grn .mobile_select_control_grn .ui-select{
  width:100%;
}
.mobile_notification_header_grn .mobile_select_control_grn .ui-btn-inner{
  padding-left:4px;
}

/* mobile_notification01_list */
.mobile_notification_listtitle_grn{
height:28px;
line-height:28px;
background-color:#ebebeb;
font-size:14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
padding-left:8px;
}
.mobile_list_lines_grn .mobile_notification_title_grn .mobile_list_icon_attachmentssub_grn{
display:inline-block;
float:none;
margin-left:2px;
margin-right:3px;
}
.mobile_notification_list_grn .mobile_list_lines_grn{
display:block;
margin-right:36px!important;
padding: 8px 0px 8px 10px;
}
.mobile_notification_list_grn .mobile_list_table_grn{
height:auto;
}
.mobile_notification_list_grn .mobile_list_table_td_grn{
display:block;
}
.mobile_notification_list_grn .mobile_list_table_td_grn:active{
background: #EEEEEE;
}
.mobile_notification_list_grn .mobile_list_table_td_grn .mobile_list_lines_grn span {
line-height: 1;
vertical-align:middle;
}
.mobile_notification_list_grn .mobile_list_table_td_grn .mobile_list_lines_grn span.mobile_list_icon_attachmentssub_grn{
vertical-align:-1px;
}
.mobile_notification_list_grn .mobile_list_lines_grn li{
text-align:left;
list-style-type:none;
padding:0 0 1px;
width:100%;
vertical-align:middle;
line-height: 1;
margin-left:28px;
}
.mobile_notification_toptitle_grn{
margin-left:-28px;
margin-right:4px;
}
.mobile_notification_title_grn{
display:inline-block;
font-size:17px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:78%;
color: #333;
font-weight:bold;
}
.mobile_notification_list_grn .mobile_list_table_td_grn .mobile_list_lines_grn span.mobile_notification_title_grn {
line-height:1.25;
}
.mobile_notification_filelink_grn{
margin-right:25px;
display:inline-block;
line-height:1.2;
}
.mobile_notification_subtitle_grn{
display:inline-block;
font-size:14px;
color: #333;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:90%;
}
.mobile_notification_user_grn{
display:inline-block;
font-size:14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:85%;
line-height:20px!important;
}
.mobile_notification_date_grn{
display:block;
font-size:14px;
color: #999;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
padding-bottom:3px;
}
.mobile_notification_time_grn{
font-size:17px;
font-weight:bold;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
margin-left:2px;
display:inline-block;
width:78%;
}
.mobile_notification_content_grn{
display:block;
font-size:14px;
color: #333;
white-space: pre-wrap;
margin-right:20px;
}
.mobile_notification_list_grn .mobile_list_table_td_grn .mobile_list_lines_grn span.mobile_notification_content_grn{
line-height:1.2;
}
.mobile_notification_read_grn{
display:block;
font-size:16px;
color: #2489ce;
float:right;
position:absolute;
top:5px;
right:15px;
}
.mobile_notification_read_grn a{
display:block;
padding: 5px 17px 0 2px;
text-decoration:none;
}
.ui-body-c .mobile_notification_read_grn .ui-link:hover{
color:#51A1DB;
}
.ui-body-c .mobile_notification_read_grn .ui-link:active{
color:#e54b00;
}
.mobile_notification_unread_grn{
font-size:14px;
color: #2489ce;
float:right;
margin:4px 0px 0px 0px;
}
.mobile_notification_icon_title_b_grn{
display:inline-block;
width:22px;
height:22px;
vertical-align:middle;
}
.mobile_notification_icon_title_s_grn{
display:inline-block;
width:16px;
height:16px;
margin-right:4px;
vertical-align:middle;
}
.mobile_icon_appspaceb_grn{
background:url("../image/cybozu/image-mobile/app_space_b.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_appmessageb_grn{
background:url("../image/cybozu/image-mobile/app_message_b.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_space_grn{
background:url("../image/cybozu/image-mobile/space.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_appmailb_grn{
background:url("../image/cybozu/image-mobile/app_mail_b.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_user_grn{
background:url("../image/cybozu/image-mobile/user.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_userLogin_grn{
background:url("../image/cybozu/image-mobile/userLogin.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_userInvalid_grn{
background:url("../image/cybozu/image-mobile/userInvalid.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_userInvalidApp_grn{
background:url("../image/cybozu/image-mobile/userInvalidApp.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_appnotifys_grn{
background:url("../image/cybozu/image-mobile/app_notify_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appspaces_grn{
background:url("../image/cybozu/image-mobile/app_space_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appschedules_grn{
background:url("../image/cybozu/image-mobile/app_schedule_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appmessages_grn{
background:url("../image/cybozu/image-mobile/app_message_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appbulletins_grn{
background:url("../image/cybozu/image-mobile/app_bulletin_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appmails_grn{
background:url("../image/cybozu/image-mobile/app_mail_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appworkflows_grn{
background:url("../image/cybozu/image-mobile/app_workflow_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appreports_grn{
background:url("../image/cybozu/image-mobile/app_report_s.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_pcviewsub_grn{
background:url("../image/cybozu/image-mobile/pc_view_sub.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_home_grn{
background:url("../image/cybozu/image-mobile/home.png") no-repeat center center;
background-size:22px 22px;
}
.mobile_icon_appfacility_grn{
background:url("../image/cybozu/image-mobile/app_facility_s.png") no-repeat center center;
background-size:22px 22px;
}
/* icon_notify */
.mobile_icon_notifycybozus_grn{
background:url("../image/cybozu/image-mobile/notify_cybozu_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_notifydezies_grn{
background:url("../image/cybozu/image-mobile/notify_dezie_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_notifymailwises_grn{
background:url("../image/cybozu/image-mobile/notify_mailwise_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_notifydotsaless_grn{
background:url("../image/cybozu/image-mobile/notify_dotsales_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_notifycollaborexs_grn{
background:url("../image/cybozu/image-mobile/notify_collaborex_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_notifyblogs_grn{
background:url("../image/cybozu/image-mobile/notify_blog_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_notifyothers_grn{
background:url("../image/cybozu/image-mobile/notify_other_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_advancelistpc_grn{
background:url("../image/cybozu/image-mobile/advance_list_pc.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_list_icon_advancelistpc_grn{
display:block;
position:absolute;
width:16px;
height:16px;
float: right;
top:50%;
margin-top:-10px;
right:10px;
}
.mobile_notification_deletetext_grn{
display:block;
font-size:14px;
color: #F44848;
white-space: pre-wrap;
margin-right:15px;
}
.mobile_icon_alerts_grn{
background:url("../image/cybozu/image-mobile/alert_s.png") no-repeat 0px 0px;
background-size: 16px 16px;
}
.mobile_icon_appspacediscussions_grn{
background:url("../image/cybozu/image-mobile/app_spacediscussion_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_appspacetodos_grn{
background:url("../image/cybozu/image-mobile/app_spacetodo_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_appcabinets_grn{
background:url("../image/cybozu/image-mobile/app_cabinet_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}
.mobile_icon_appphonemessages_grn{
background:url("../image/cybozu/image-mobile/app_phonemessage_s.png") no-repeat 0px 0px;
background-size: 22px 22px;
}

/* icon_notify end */
.mobile_notification_time_li_grn{
margin-bottom:-2px;
}
.mobile_notification_time_li_grn + li{
margin-bottom:2px;
}
/* mobile_notification_list01 end*/

/*show more start*/
.mobile_notification_showMore_grn{
border-bottom:1px solid #CCCCCC;
padding:10px 15px;
}
.mobile_notification_showMore_grn .ui-btn{
margin:0;
}
.ui-content .mobile_notification_showMore_grn ul{
margin:0;
}
.mobile_notification_showMore_grn .mobile-showMore-grn div{
border:none;
}
.mobile_notification_showMore_grn .mobile-showMore-grn div:hover{
color:#e54b00;
background-color:#fff;
border:none;
}
.mobile_notification_showMore_grn .ui-listview>.mobile-showMore-grn.ui-li-static{
margin:0;
padding:0;
}
/*show more end*/