/*user group select*/
.mobile_user_group_grn{
position:relative;
margin:16px -10px 0 0;
padding:0 60px 0 0;
}
.mobile_user_group_grn .ui-shadow{
box-shadow:none;
}
.mobile_group_select_grn .ui-select{
width:100%;
}
.mobile_group_icon_grn{
width:30px;
height:30px;
background:url(../image/cybozu/image-mobile/organization.png)  no-repeat center center;
background-size: 30px 30px;
position:absolute;
right:10px;
top:0px;
}
/*user group select end*/

/*user label*/
.mobile_user_label_area_grn{
margin:16px 50px 8px 0px;
position:relative;
}
.mobile_user_label_area_grn a{
position:absolute;
right:0;
bottom:0;
text-decoration:none;
}
/*user label end*/

/*user select list*/
.mobile_user_list_scroll_grn{
position:relative;
margin:0 51px 0 0;
}
.mobile_user_list_scroll_grn .mobile_user_list_grn{
margin:0;
background-color:#fafafa;
}
.mobile_user_list_scroll_grn .mobile-list-last-grn{
/*background-color:#eeeeee;*/
}
.mobile_user_list_scroll_grn .mobile_icon_grn{
position:absolute;
right:-41px;
top:50%;
margin-top:-22px;
}
.mobile_user_list_scroll_grn .mobile_order_icon_grn{
position:absolute;
right:-64px;
top:50%;
margin-top:-84px;
}
.mobile_user_list_scroll_grn .mobile_order_control_grn{
height:50px;
width:50px;
}
.mobile_order_control_grn div:active{
background-color:#dddddd;
border:1px solid #a6a6a6;
}
.mobile_user_list_scroll_grn .mobile_order_top_grn{
background:url(../image/cybozu/image-mobile/order_top.png)  no-repeat center center;
margin-bottom:16px;
}
.mobile_user_list_scroll_grn .mobile_order_up_grn{
background:url(../image/cybozu/image-mobile/order_up.png)  no-repeat center center;
margin-bottom:16px;
}
.mobile_user_list_scroll_grn .mobile_order_down_grn{
background:url(../image/cybozu/image-mobile/order_down.png)  no-repeat center center;
margin-bottom:16px;
}
.mobile_user_list_scroll_grn .mobile_order_bottom_grn{
background:url(../image/cybozu/image-mobile/order_bottom.png)  no-repeat center center;
}
.mobile_user_list_scroll_grn .mobile_order_top_grn,
.mobile_user_list_scroll_grn .mobile_order_up_grn,
.mobile_user_list_scroll_grn .mobile_order_down_grn,
.mobile_user_list_scroll_grn .mobile_order_bottom_grn{
height:30px;
width:30px;
border:1px solid #b0b0b0;
border-radius:4px;
background-size: 22px 22px;
}

.mobile_user_list_grn{
border:1px solid #b0b0b0;
margin:0 10px;
height:250px;
overflow-y:auto;
-webkit-overflow-scrolling: touch;
}
.mobile-user-list-none-grn .mobile_user_list_grn{
height:auto;
min-height:54px;
}
.mobile_seletedUser_list_none_grn .mobile_user_list_grn{
background-color:#fafafa;
}
/*.mobile_user_list_grn .ui-li-static,
.mobile_user_list_grn .ui-link-inherit{
padding-top:0!important;
padding-bottom:0!important;
height:44px;
}*/
.mobile_user_list_grn .ui-btn{
height:44px;
}
.mobile_user_list_grn .mobile-list-last-grn{
padding:0 20px 0 15px;
}
.mobile_user_list_grn .mobile-user-none-grn{
line-height:1.2;
font-size:14px;
color:#666666;
border-bottom:none;
padding-right:15px;
height:auto;
margin:14px 0;
}
.ui-listview>.mobile-user-none-grn.ui-li-static{
padding-top:0;
padding-bottom:0;
border:none;
white-space:normal;
}
.mobile_user_list_grn .mobile_add_grn,
.mobile_user_list_grn .mobile_user_photo_grn,
.mobile_user_list_grn .mobile_info_grn{
display:inline-block;
}
.mobile_user_list_grn .mobile_selected_grn{
box-shadow:none;
}
.mobile_user_list_grn .mobile_user_photo_grn{
margin-left:53px;
}
.mobile_user_list_grn .mobile_selected_user_grn span{
position:absolute;
top:0;
right:8px;
width:22px;
height:44px;
background:url(../image/cybozu/image-mobile/check_sub.png)  no-repeat center center;
background-size: 22px 22px;
}
.mobile_user_list_grn .mobile_user_photo_grn{
width:35px;
height:44px;
background-position:center;
background-repeat:no-repeat;
}
.mobile_user_list_grn .mobile_add_grn{
width:53px;
height:44px;
background:url(../image/cybozu/image-mobile/add_sub.png)  no-repeat center center;
background-size: 22px 22px;
margin-right:0px;
position:absolute;
top:0;
left:0px;
}
.mobile_user_list_grn .mobile_delete_grn{
width:53px;
height:44px;
background:url(../image/cybozu/image-mobile/delete_sub.png)  no-repeat center center;
background-size: 22px 22px;
margin-right:0px;
position:absolute;
top:0;
left:0px;
z-index:10;
}
.mobile_user_list_grn .mobile_info_grn{
vertical-align:top;
height:44px;
margin-left:2px;
line-height: 1.2;
width:100%;
}
.mobile_user_list_grn .mobile_info_grn .mobile_position_center_grn{
height:44px;
display:table;
width:100%;
overflow:hidden;
table-layout:fixed;
}
.mobile_user_list_grn .mobile_info_grn .mobile_position_width_grn{
display:table-cell;
width:100%;
vertical-align:middle;
}
.ui-page-theme-a .mobile_user_list_grn li{
background-color:#fafafa;
}
.ui-page-theme-a .mobile_user_list_grn .ui-btn{
border-bottom-color:#e6e6e6;
}
.ui-page-theme-a .mobile_user_list_grn .ui-btn:hover{
border-bottom-color:#e6e6e6;
}
.mobile_user_list_grn .mobile_selected_user_grn{
background-color:#cce4f1;
}
.mobile_user_list_grn .mobile_user_grn{
color:#333333;
font-size:14px;
font-weight:normal;
width:55%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.mobile_user_list_grn .mobile_text_grn{
color:#666666;
font-size:12px;
font-weight:normal;
width:50%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.mobile_user_list_grn .mobile_selected_user_grn .mobile_user_grn,
.mobile_user_list_grn .mobile_selected_user_grn .mobile_text_grn{
width:40%;
}
.mobile_user_list_grn .mobile_mask_grn{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
margin-top:-1px;
padding-bottom:1px;
background:rgba(200,200,200,0.6);
}
/*user select list end*/