.overlay {
    background: black;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    display: block;
}

.msgbox {
    position: absolute;
    z-index: 3001;
    width: 600px;
    height: auto;
    background: #FFFFFF;
    border: 3px solid #606364;
    border-radius:0px;
}

.msgbox .title {
    font-weight:700;
    font-size:90%;
    background:#EBEBEB;
    line-height:1.2;
    padding:15px;
    color:#666666;
}

.msgbox .title img {
    margin:7px 8px 0 0;
}

.msgbox .title .categoryFormListWindow_close img {
    margin:0;
}

.msgbox .content{
    border-top: 1px solid #ffffff;
    padding:15px 15px 20px;
    word-wrap: break-word;
}

.msgbox .sub_text{
    font-weight: bold;
    font-size:90%;
    margin: 5px 0px 0px 5px;
}

.msgbox .switch_timezone{
    padding-bottom: 1em;
}

.msgbox .buttons{
    margin: 20px 5px 5px 5px;
}

.msgbox .buttons button{
    margin-right: 5px;
}

div.select_timezone{
    margin: 10px;
}

.msgbox .command{
    padding: 10px 0 20px;
    text-align: center;
}

.msgbox.center{
    top: 25%;
}

div.timezone_block{
    border: 1px solid #B0B0B0;
    margin: 5px;
}

.msgbox .btn {
    width: 100px;
    margin: 0 5px;
}

div#bundleFiles table.list_column thead {
    font-size:80%;
    font-weight: bold;
    background: #CCCCCC;
}

.bundleDownloadWindow_info {
    margin-bottom:15px;
    background-color:white;
}

/* category selector */
.overlay-categorySelector-grn {}
  .overlay-categorySelector-grn .content {
    padding:10px 20px;
  }
  .overlay-categorySelector-grn .command {
    background-color:#eeeeee;
    border-top:1px solid #cccccc;
  }
.overlay-categorySelector-tree-grn {
  padding:10px;
  height:300px;
  overflow-y:scroll;
  border:1px solid #cccccc;
  background-color:#fefefe;
}
/* category selector end */

.modal_dialog_grn{
    position: absolute;
}

.subWindowBase-grn {
    position:absolute;
    display:inline-block;
    background:#ffffff;
    box-shadow:0 2px 16px rgba(0,0,0,.6);
    border-radius:0px;
    border:0px;
}

.modal_dialog_grn .subWindowBase-grn {
    position: static;
    box-shadow: none;
    border-radius:0px;
    border: 4px solid #666666;
}

.subWindowTable-grn{
    border:0px none;
    border-collapse:collapse;
    width:500px;
    border-radius:0px;
}

.subWindowTable-grn td {
    padding: 0px;
}

.subWindowTitleLeft-grn ,
.subWindowTitleRight-grn {
    background: #ebebeb;
}

.subWindowTitleLeft-grn {
    border-radius:0px;
    cursor:move;
}

.subWindowTitleRight-grn {
    border-radius:0px;
    cursor:move;
    vertical-align:middle;
}

.msgbox_title_grn , 
.subWindowTitleText-grn {
    font-weight:700;
    font-size:14px;
    color:#666666;
    margin:12px 15px 12px 15px;
    text-shadow:none;
}

.subwindow_title_base_grn {
    float:left;
}

.subwindow_title_base_grn a {
    line-height:1.1;
}

.subwindow_title_base_grn .icon_back_grn {
    margin-top:9px;
}

.subWindowClose-grn {
    background-image:url(../image/cybozu/image-common/closeB16.png);
    background-repeat:no-repeat;
    height:30px;
    width:20px;
    cursor:pointer;
    background-position:2px center;
    background-attachment:scroll;
    float:right;
    margin:0 7px 0 0;
}

.subwindow_title_grn .subWindowClose-grn {
    margin:5px 14px 0 0;
}

.msgbox_grn .title .subWindowClose-grn {
    height:16px;
}

.subWindowContent-grn{
background: #ffffff;
padding: 10px 15px;
border-radius:0px 0px 4px 4px;
line-height: 1.2;
}

.subWindowContent-grn img{
vertical-align: -4px;
}

.subwindow_title_grn {
    border-radius:0px;
    cursor:move;
    background:#ebebeb;
    line-height:1.1;
    min-height:34px;
}

.msgbox_title_grn , 
.subwindow_title_grn .subWindowTitleText-grn {
    width:85%;
}

.msgbox_grn .title .msgbox_title_grn {
    margin:0 0 0 15px;
}

.subWindowContent-grn .buttonArea-grn {
    text-align:center;
    margin:10px -15px -10px;
    padding:15px 10px;
    border-top:1px solid #d6d6d6;
    background:#ffffff;
    border-radius:0px;
}

.sub_window_content_scroll_grn {
overflow: auto;
min-height: 240px;
max-height: 480px;
}
.sub_window_content_scroll_grn ul {
margin: 0;
padding: 0;
}
.sub_window_content_scroll_grn li {
margin: 0 0 12px 0;
list-style-type: none;
white-space: nowrap;
}
.sub_window_content_scroll_grn .table_grn {
margin-bottom:20px;
}
.sub_window_content_scroll_grn .table_grn td{
padding:7px 20px 7px 0;
white-space: nowrap;
}

.subWindowContent-grn .list_column TH {
    padding: 5px 7px;
    background-color: #ebebeb;
    border-top-style:none;
    border-bottom-style:none;
}

.subWindowContent-grn .list_column_style2_grn tr.linetwo , 
.subWindowContent-grn .list_column_li_style2_grn li.linetwo {
    background-color:#ffffff;
}

.subWindowContent-grn .list_column_style2_grn tr.lineone , 
.subWindowContent-grn .list_column_li_style2_grn li.lineone {
    background-color:#f6f6f6;
}

.subWindowContent-grn .list_column_style2_grn td {
    padding: 5px 7px;
    border-bottom: 1px solid #e3e3e3;
    word-break: break-all;
    white-space: normal;
}

.list_column_li_style2_grn ul {
    margin: 0 0 5px;
    padding: 0;
}

.list_column_li_base_style2_grn {
    border-top: 1px solid #e3e3e3;
}

.subWindowContent-grn .list_column_li_style2_grn li {
    padding:8px;
    border-bottom: 1px solid #e3e3e3;
    white-space:nowrap;
    list-style-type:none;
}

.subWindowContent-grn .sub_window_content_table_grn th {
    background: #f3f3f3;
}

/* msgbox_grn */
.msgbox_grn .title {
line-height: 1.2;
padding-left: 0;
}
.msgbox_grn .content{
padding: 10px 15px;
}
.msgbox_grn .buttonArea-grn {
padding: 15px;
text-align: center;
background-color:#f3f3f3;
}
.buttonarea_sub_base_grn {
    margin:-5px 0 13px;
    padding-bottom: 7px;
    border-bottom:1px dashed #c9c9c9;
    text-align: left;
}
.msgbox_grn .list_column th , .msgbox_grn .list_column td {
line-height: 1.2;
padding: 5px;
border: 1px solid #e3e3e3;
}
.msgbox_grn .relation_list_table_grn th , .msgbox_grn .relation_list_table_grn td {
white-space: nowrap;
vertical-align: middle;
}
.msgbox_grn .relation_list_table_grn th {
background-color: #f3f3f3;
color: #666666;
}
.msgbox_grn .relation_list_table_grn .lineone {
background-color: #f9f9f9;
}
.subWindowContent-grn .list_column td input , .msgbox_grn .relation_list_table_grn td input {
    padding: 0;
    margin: 0;
    vertical-align: -1px;
}
.msgbox_grn .list_column_base_bottomline_grn {
    border-bottom: 1px solid #e3e3e3;
}
.msgbox_grn .relation_list_table_base_grn {
overflow-x: auto;
}
.msgbox_grn .daialog_message_grn {
line-height: 1.4;
}
.icon_attention32_grn {
background-image: url(../image/cybozu/image-common/attention32.png);
background-repeat: no-repeat;
height: 32px;
width: 32px;
display: inline-block;
}
/* msgbox_grn end */

/* pop up */
.popup_body1_grn {
    min-height: 100%;
}

.popup_body1_sub_grn {
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 100%;
}

.popup_content_base_grn {
    margin:0 10px;
}

.popup_content_grn {
    height:500px;
    margin: 0 10px 100px;
}

.popup_content_search_grn {
    margin-bottom:4px;
}

.popup_button_area_grn {
    position: fixed;
    bottom: 0;
    width: 100%;
    background:#f3f3f3;
    padding: 15px 10px;
    text-align: center;
}

.popup_title_grn {
    margin:10px 0 0 10px;
}
.popup_title_grn h2 {
    margin:0;
    line-height:1.2;
    font-size:20px;
}

.popup_title_grn .subWindowClose-grn {
    margin: -4px 10px 0 0;
}
/* pop up end */
