.mainarea_portal_base_grn {
    margin:0;
    padding:10px 16px 0;
    background:transparent;
}

.porlet_liquid_grn .top_parts {
    min-width: 800px;
}

.portal_fixed_grn .portlet_main_table {
    table-layout: fixed;
}

.portlet_base_grn {
    background-color:#FFFFFF;
    border:0 none;
    border-radius:0;
    box-shadow:none;
    line-height:normal;
    padding:14px 16px;
}

.portlet_margin_grn {
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
    height:16px;
}

.portal_fixed_grn td.portal_base_left_grn ,
.portal_fixed_grn td.portal_base_center_grn ,
.portal_fixed_grn td.portal_base_right_grn ,
.top_title ,
.portal_frame {
    min-width:220px;
}

.portal_frame {
    position:relative;
}

.portal_fixed_grn .portal_frame {
    overflow-x:auto;
}

.portal_frame ,
.portal_fixed_grn .portal_frame {
    border:0px none;
}

.portal_fixed_grn .portal_base_top_grn .portal_frame {
    overflow-x: visible;
}

.portlet_title_grn{
display:inline-block;
white-space:nowrap;
}
.portal_fixed_grn .portlet_title_grn{
white-space:normal;
word-break:break-all;
}

.portlet_title_grn , 
.portlet_action_grn {
    padding-top:0;
    padding-bottom:0;
    font-weight:400;
    font-size:16px;
    line-height:1.2;
}

.portal_frame_calendar_grn {
    margin:2px 0;
}

.portal_frame_schedule_groupday_grn ,
portal_frame_schedule_groupweek_grn ,
portal_frame_schedule_week_grn ,
portal_frame_schedule_month_grn ,
portal_frame_update_grn {
    margin-bottom:2px;
}

.portal_frame .admin_list_table{
margin-bottom:0;
}

.top_parts .portal_frame_timecard_grn .admin_list_table th ,
.top_parts .portal_frame_timecard_grn .admin_list_table td {
    border:0 none;
}

.portal_frame_timecard_grn .admin_list_table th {
    background:#ffffff;
}

.top_parts .calendar {
    border-bottom:0 none;
    border-left:1px solid #c9c9c9;
}

.top_parts .portal_frame_phonemessage_grn .calendar {
    border-left:0px none;
}

.portal_frame_schedule_groupweek_grn .calendar{
border-bottom:1px solid #C9C9C9;
}

.portal_frame .personal_day_calendar_time_cell{
border-left:0 none;
}

.portal_frame_schedule_day_grn .personal_day_calendar_time_row {
    border-right:1px solid #C9C9C9;
}

.portal_frame_schedule_day_grn .personal_day_calendar_banner_cell{
border-left-style: none;
}

.portal_frame_schedule_day_grn .personal_day_calendar_banner_cell .banner_color {
    border-left:1px solid #C9C9C9;
    border-right:1px solid #C9C9C9;
}

.portal_frame_schedule_week_grn .personal_week_calendar_base_header {
    border-left:1px solid #C9C9C9;
}

.portal_frame_schedule_week_grn .personal_week_calendar_header{
margin-left:25px;
}

.portal_frame_schedule_week_grn .personal_week_calendar_base ,
.portal_frame_schedule_day_grn .personal_day_calendar_base {
    border-left:1px solid #C9C9C9;
}

.portal_frame_notices_grn,.portal_fixed_grn .portal_frame_notices_grn,
.portal_frame_application_menu_grn,.portal_fixed_grn .portal_frame_application_menu_grn,
.portal_frame_calendar_grn,.portal_fixed_grn .portal_frame_calendar_grn,
.portal_frame_php_grn,.portal_fixed_grn .portal_frame_php_grn,
.portal_frame_html_grn,.portal_fixed_grn .portal_frame_html_grn{
border:0 none;
}

.portal_frame_schedule_groupday_grn,.portal_fixed_grn .portal_frame_schedule_groupday_grn,
.portal_frame_schedule_groupweek_grn,.portal_fixed_grn .portal_frame_schedule_groupweek_grn{
border-bottom:0 none;
}

.portal_frame_schedule_week_grn{
border-right:0 none;
border-bottom:0 none;
}

.portal_fixed_grn .portal_frame.portal_frame_schedule_week_grn{
padding-bottom: 2px;
}

.portal_fixed_grn .portal_frame_schedule_week_grn {
    border-right:0;
    border-bottom:0;
}

.portal_frame_schedule_week_grn .top_day_navi {
    border-right:0px none;
}

.portal_fixed_grn .portal_frame_schedule_week_grn .top_day_navi{
border-right:0 none;
}

.portal_frame_schedule_groupweek_grn{
border-right:0 none;
}

.portal_frame .groupWeekPortletUpper-grn ,
.portal_frame .groupDayPortletUpper-grn ,
.portal_frame .personalDayPortletUpper-grn ,
.portal_frame .personalWeekPortletUpper-grn ,
.portal_frame .personalMonthPortletUpper-grn ,
.portal_frame .personalYearPortletUpper-grn {
    border-top:1px dashed #DBDBDB;
}

.groupWeekPortletUpper-grn ,
.groupDayPortletUpper-grn ,
.personalMonthUpper-grn {
    border-left:0px none;
}

.groupWeekPortletUpper-grn {
    border-right:0px none;
}

.groupDayPortletUpper-grn ,
.groupWeekPortletUpper-grn ,
.personalMonthUpper-grn {
    padding:8px 8px 8px 0;
}

.portal_fixed_grn .groupWeekPortletUpper-grn{
border-right:0 none;
}

.portlet_base_grn .groupWeekPortletUpper-grn ,
.portlet_base_grn .groupDayPortletUpper-grn ,
.portlet_base_grn .personalMonthUpper-grn ,
.portlet_base_grn .top_day_navi ,
.portlet_base_grn .top_day_navi ,
.portlet_base_grn .v_day_navi ,
.portlet_base_grn .personalMonthPortletUpper-grn ,
.top_parts .portlet_base_grn .year_table {
    background:transparent;
}

.portlet_groupweek_navi_grn ,
.portlet_groupday_navi_grn {
    background:#FFFFFF;
    border-bottom-style:none;
}

.portal_frame_schedule_month_grn{
border-right:0 none;
}

.portal_fixed_grn .portal_frame_schedule_month_grn {
    border-right:0;
}

.personalMonthPortletUpper-grn {
    border-right:0px none;
}

.portal_fixed_grn .personalMonthPortletUpper-grn{
border-right:0 none;
}

.portal_frame_schedule_year_grn ,
.portal_fixed_grn .portal_frame_schedule_year_grn {
    padding:0;
}

.portal_frame_update_grn .list_message_grn {
    text-align:left;
    margin:7px 5px 10px;
}

.portal_frame_update_grn .list_message_grn .list_message_balloon_grn {
    margin:0;
    padding:10px;
}

.portlet_base_grn .portal_frame_update_grn .list_column ,
.portlet_base_grn .portal_frame_confirmed_notification_grn .list_column {
    border-top:0;
    margin-top:0;
}

.portal_frame_update_grn ,
.portal_frame_confirmed_notification_grn {
    margin-top:-4px;
}

.portal_update_info_grn {
margin:4px 0 3px;
line-height:1.2;
}

td.portal_base_left_grn{
vertical-align:top;
}

td.portal_base_center_grn ,
td.portal_base_right_grn {
    vertical-align:top;
    padding-top:0;
    padding-bottom:0;
    padding-left:14px;
}

.portal_setting_mainarea_grn{
    display:table;
    width:100%;
    border-top:1px solid #c9c9c9;
}

.portlet_parts_area_grn{
    padding:7px;
}

.portlet_parts_list_base_grn{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:7px;
}

.portlet_parts_list_base_grn ul{
    margin:0;
    padding:0;
}

.portlet_parts_list_base_grn li{
    list-style-type:none;
}

.portlet_parts_list_grn{
width:175px;
display:block;
border:1px solid #c9c9c9;
background:#FFFFFF;
box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05);
margin:0 0 5px 0;
padding:3px 3px 5px 4px;
border-radius:3px;
word-break:break-all;
cursor:move;
line-height:1.2;
}

.portlet_parts_list_grn:hover{
    background:#e1edf9;
}

.portlet_parts_list_move_grn{
    background:transparent;
    background-image:url(../image/cybozu/image-common/event_move_bg.png);
    background-repeat:repeat;
    border:1px solid #3084c1;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.portlet_parts_trigger_grn{
background-image:url(../image/cybozu/image-common/portlet_parts_trigger.png);
background-repeat:repeat-y;
display:inline-block;
padding-left:7px;
color:#666666;
font-size:80%;
line-height:1.2;
font-weight:bold;
}

.portlet_parts_trigger_grn span{
    vertical-align: middle;
}

.portlet_parts_area_pulldown_grn{
    display:inline-block;
    width:180px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align:middle;
}

.left_area_handler_grn{
    width:10px;
    display:table-cell;
    background:#e3e3e3;
    cursor:pointer;
}

.left_area_handler_grn:hover{
    background:#d6d6d6;
}

.left_area_handler_open_grn,.left_area_handler_open_grn:hover{
    background-image:url(../image/cybozu/image-common/open_close_trigger_a.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.left_area_handler_close_grn,.left_area_handler_close_grn:hover{
    background-image:url(../image/cybozu/image-common/open_close_trigger_b.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.portal_canvas_grn{
margin:3px 0 0 3px;
border:2px dashed #bbbbbb;
border-right-style:none;
}

.portal_canvas_block_grn,.portal_canvas_block_top_grn{
list-style:none outside none;
padding:5px 10px 0 10px;
vertical-align:top;
}

.portal_canvas_block_grn{
border-right:2px dashed #bbbbbb;
}

.portal_canvas_block_top_grn{
border-right:2px dashed #bbbbbb;
border-bottom:2px dashed #bbbbbb;
}

.portal_canvas_block_name_grn{
color:#a6a6a6;
font-size:125%;
font-weight:bold;
font-family:arial;
display:inline-block;
margin-bottom:5px;
text-shadow:0 1px 0 rgba(255, 255, 255, 0.6);
}

.portlet_frame{
background-color:#ffffff;
border:1px solid #c3c3c3;
border-radius:5px 5px 5px 5px;
cursor:move;
margin-bottom:15px;
min-height:30px;
box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.portlet_frame .portlet_parts_trigger_grn{
font-size:85%;
}

.portlet_row_table_grn .portlet_frame_portlet_name_grn{
    padding-left: 5px;
    vertical-align: middle;
}

.portlet_parts_trigger_bottom_grn{
background-image:url(../image/cybozu/image-common/portlet_parts_trigger_bottom.png);
height:10px;
background-repeat:no-repeat;
background-position:center center;
margin:3px;
}

.portlet_frame_action_grn{
text-align:right;
white-space:nowrap;
vertical-align:top;
}

.setting_portlet_frame_grn{
cursor:default;
overflow-x:auto;
position:relative;
width:100%;
margin-top:1px;
}

.icon_portal_application_menu_grn{background:url(../image/cybozu/image-common/app_menu_c16.png) no-repeat left center;}
.icon_notification_whatsnew_grn{background:url(../image/cybozu/image-common/new_notify_c16.png) no-repeat left center;}
.icon_notification_history_grn{background:url(../image/cybozu/image-common/notify_c16.png) no-repeat left center;}
.icon_space_todo_undertake_grn{background:url(../image/cybozu/image-common/space_c16.png) no-repeat left center;}
.icon_space_todo_rely_grn{background:url(../image/cybozu/image-common/space_c16.png) no-repeat left center;}
.icon_schedule_group_day_grn{background:url(../image/cybozu/image-common/cal_gday_c16.png) no-repeat left center;}
.icon_schedule_user_week_grn,.icon_schedule_search_schedule_grn{background:url(../image/cybozu/image-common/cal_gweek_c16.png) no-repeat left center;}
.icon_schedule_personal_day_grn{background:url(../image/cybozu/image-common/cal_pday_c16.png) no-repeat left center;}
.icon_schedule_personal_week_grn{background:url(../image/cybozu/image-common/cal_pweek_c16.png) no-repeat left center;}
.icon_schedule_personal_month_grn{background:url(../image/cybozu/image-common/cal_pmon_c16.png) no-repeat left center;}
.icon_schedule_personal_year_grn{background:url(../image/cybozu/image-common/cal_pyear_c16.png) no-repeat left center;}
.icon_link_link_grn{background:url(../image/cybozu/image-common/link_c16.png) no-repeat left center;}
.icon_message_message_grn,.icon_message_unconfirmed_grn,.icon_message_read_status_grn{background:url(../image/cybozu/image-common/message_c16.png) no-repeat left center;}
.icon_bulletin_portlet_grn,.icon_bulletin_portlet_acknowledgement_grn{background:url(../image/cybozu/image-common/bulletin_c16.png) no-repeat left center;}
.icon_cabinet_portlet_grn{background:url(../image/cybozu/image-common/file_c16.png) no-repeat left center;}
.icon_memo_portlet_grn{background:url(../image/cybozu/image-common/memo_c16.png) no-repeat left center;}
.icon_phonemessage_view_grn{background:url(../image/cybozu/image-common/telmemo_c16.png) no-repeat left center;}
.icon_timecard_portlet_grn{background:url(../image/cybozu/image-common/timecard_c16.png) no-repeat left center;}
.icon_todo_portlet_grn{background:url(../image/cybozu/image-common/todolist_c16.png) no-repeat left center;}
.icon_address_user_list_grn{background:url(../image/cybozu/image-common/user_list_c16.png) no-repeat left center;}
.icon_address_address_search_grn{background:url(../image/cybozu/image-common/address_c16.png) no-repeat left center;}
.icon_mail_news_grn,.icon_mail_data_list_grn{background:url(../image/cybozu/image-common/mail_c16.png) no-repeat left center;}
.icon_rss_channel_list_grn,.icon_rss_item_list_grn{background:url(../image/cybozu/image-common/rss_c16.png) no-repeat left center;}
.icon_workflow_workflow_grn{background:url(../image/cybozu/image-common/workflow_c16.png) no-repeat left center;}
.icon_report_report_grn{background:url(../image/cybozu/image-common/report_c16.png) no-repeat left center;}
.icon_star_portlet_grn{background:url(../image/cybozu/image-common/star_c16.png) no-repeat left center;}
.icon_presence_attendee_grn{background:url(../image/cybozu/image-common/presence_c16.png) no-repeat left center;}
.icon_portal_send_grn{background:url(../image/cybozu/image-common/sent_link_c16.png) no-repeat left center;}
.icon_cbwebsrv_tool_research_grn{background:url(../image/cybozu/image-common/company_c16.png) no-repeat left center;}
.icon_cbwebsrv_tool_address_grn{background:url(../image/cybozu/image-common/zipcode_c16.png) no-repeat left center;}
.icon_cbwebsrv_tool_map_grn{background:url(../image/cybozu/image-common/map_c16.png) no-repeat left center;}
.icon_cbwebsrv_tool_route_grn{background:url(../image/cybozu/image-common/train_c16.png) no-repeat left center;}
.icon_cbwebsrv_weather_grn{background:url(../image/cybozu/image-common/weather_c16.png) no-repeat left center;}
.icon_portal_calendar_grn{background:url(../image/cybozu/image-common/calendar_c16.png) no-repeat left center;}
.icon_dezielink_portlet_grn{background:url(../image/cybozu/image-common/dezie16.png) no-repeat left center;}
.icon_portal_information_grn{background:url(../image/cybozu/image-common/information_c16.png) no-repeat left center;}
.icon_portal_php_grn,.icon_portal_html_grn{background:url(../image/cybozu/image-common/portlet_c16.png) no-repeat left center;}

.portal_setting_menu_grn #main_menu_part{
margin-bottom:0;
}

.portal_setting_menu_grn .menu_item{
margin-right:10px;
}

.portal_setting_menu_grn #main_menu_part .icon_inline_grn{
vertical-align:-3px;
}

.menu_item_right_grn{
float:right;
}

.portal_setting_name_base_grn{
padding:0 10px 0 7px;
}

.portal_setting_name_grn{
width:100%;
border:0 none;
border-collapse:collapse;
margin:0 0 0 0;
}

.portal_setting_name_grn td{
vertical-align:top;
padding:0;
}

.portal_setting_portal_name_grn{
vertical-align:middle;
font-size:120%;
font-weight:bold;
line-height:1.2;
margin:0 7px;
}

.bg_admin20 .portal_frame .list_column TH,.bg_admin20 .portal_frame .list_column TD{
border:0 none;
}

.portal_frame table.list_column .portal_update_partition_grn {
    padding:0;
}

.portal_frame table.list_column .portal_update_app_name_grn {
    padding:5px 4px 0;
    position:relative;
    top:4px;
}

.portlet_base_grn .list_column ,
.portal_frame .admin_list_table {
    border-top:1px dashed #DBDBDB;
    margin-top:4px;
}

.portal_notices_table_grn {
    width:100%;
    line-height:normal;
}

.portlet_information_frame_style1_grn ,
.portlet_information_frame_style2_grn ,
.portlet_information_frame_style3_grn ,
.portlet_information_frame_style4_grn ,
.portlet_information_frame_style5_grn ,
.portlet_information_frame_style6_grn {
    border:0px none;
    margin:2px 0px;
    padding:7px;
    border-radius:0px;
}

.portlet_information_frame_style1_grn{background-color:#EDF4FB; border:1px solid #B2C5E0;}
.portlet_information_frame_style2_grn{background-color:#eafbf1; border:1px solid #bad6b0;}
.portlet_information_frame_style3_grn{background-color:#FEEBED; border:1px solid #e79794;}
.portlet_information_frame_style4_grn{background-color:#faf7dc; border:1px solid #e4ce68;}
.portlet_information_frame_style5_grn{background-color:#f3f3f3; border:1px solid #c9c9c9;}
.portlet_information_frame_style6_grn{background-color:#FFFFFF; border:1px solid #c9c9c9;}

.portlet_information_frame_thumbnail_grn{
display:inline-block;
min-width:45px;
text-align:center;
margin:3px 10px 3px 0;
line-height:1;
white-space:nowrap;
}

.portlet_information_frame_grn span{
vertical-align:middle;
}

table.top_title .aButtonStandard-grn a:link ,
table.top_title .aButtonStandard-grn a:hover ,
table.top_title .aButtonStandard-grn a:visited {
    font-size:100%;
    color:#222222;
    text-decoration:none;
    font-weight:400;
}

.top_title .searchboxChangeTarget-grn{
display:inline-block;
}

.top_title .notification_filter_base_grn {
  padding: 0;
  margin: 2px 0;
}

.top_title .navi_viewchange_grn .button_viewchange_base_select_grn ,
.top_title .navi_viewchange_grn .button_viewchange_base_grn {
    padding:3px 12px;
}

.portlet_notification_check_grn {
    margin:2px 0 7px;
}

.portal_frame .check_button_base_grn .aButtonStandard-grn a:link, 
.portal_frame .check_button_base_grn .aButtonStandard-grn a:visited, 
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:link, 
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:visited {
    padding:4px 6px;
    height:28px;
    box-sizing:border-box;
}

.portal_frame table.list_column th ,
.portal_frame .admin_list_table th ,
.portal_frame .aButtonStandard-grn a:link ,
.portal_frame .aButtonStandard-grn a:visited ,
.portal_frame .button_sandard_disable_grn a:link ,
.portal_frame .button_sandard_disable_grn a:visited ,
.portlet_base_grn .aButtonStandard-grn > a ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:link ,
.portal_frame .check_button_base_grn .aButtonStandard-grn a:visited ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:link ,
.portal_frame .check_button_base_grn .button_sandard_disable_grn a:visited {
    font-size:95%;
}

.portlet_form_base_grn .element_grn,.portal_frame .element_grn,.top_title .element_grn{
vertical-align:middle;
}

.portlet_form_base_grn {
    margin-bottom:16px;
}

.portal_frame .textarea_grn{
border:1px solid #C9C9C9;
padding:5px 2px 2px 5px;
border-radius:3px;
background-color:#FFFFFF;
}

.portal_frame .border-partition-common-grn{
margin:3px 0;
}

.layout_setting_grn{
margin:3px 0 7px 3px;
white-space:nowrap;
line-height:1.1;
}

.portal_tabgroup_grn {
    float: left;
    width: 95%;
}

#spinner_filter_grn {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
}

.portal_frame #read_confirm {
    margin-right:8px;
}

.top_parts .day_table {
    border-left:1px solid #C9C9C9;
    border-right:1px solid #C9C9C9;
}

.personal_month_calendar_navi_bottom {
    border-bottom:1px solid #C9C9C9;
}

/* portal layout pulldown */
.pulldown_menu_grn .portal_layout_pulldown_area_grn span{
vertical-align:baseline;
}

.portal_layout_pulldown_area_grn{
margin:10px;
}

.portal_layout_pulldown_base_grn{
border:0 none;
border-collapse:collapse;
}

.portal_layout_pulldown_base_grn td{
vertical-align:top;
padding:0 3px;
}

.portal_layout_thumbnail1_grn,.portal_layout_thumbnail2_grn,.portal_layout_thumbnail2_disable_grn,.portal_layout_thumbnail3_grn,.portal_layout_thumbnail3_disable_grn,.portal_layout_thumbnail4_grn{
display:inline-block;
height:64px;
width:64px;
}

.portal_layout_thumbnail1_grn{background:url(../image/cybozu/image_app_portal/portal_layout1.png) no-repeat;}
.portal_layout_thumbnail2_grn{background:url(../image/cybozu/image_app_portal/portal_layout2.png) no-repeat;}
.portal_layout_thumbnail2_disable_grn{background:url(../image/cybozu/image_app_portal/portal_layout2_disable.png) no-repeat;}
.portal_layout_thumbnail3_grn{background:url(../image/cybozu/image_app_portal/portal_layout3.png) no-repeat;}
.portal_layout_thumbnail3_disable_grn{background:url(../image/cybozu/image_app_portal/portal_layout3_disable.png) no-repeat;}
.portal_layout_thumbnail4_grn{background:url(../image/cybozu/image_app_portal/portal_layout4.png) no-repeat;}


.portal_layout_item_grn{
white-space:nowrap;
display:block;
}

.portal_layout_label_grn{
font-weight:bold;
color:#666666;
}

.portal_layout_width_grn{
font-weight:bold;
color:#63a70c;
font-family:arial;
}

.pulldown_menu_grn .portal_layout_pulldown_info_grn span{
vertical-align:middle;
}

/* portal layout pulldown end */

/* portlet calendar */

.portlet_calendar_base_grn{
border-collapse:collapse;
width:100%;
padding:0;
}

.portlet_calendar_base_grn td{
padding-right:5px;
}

.portlet_calendar_grn{
border-collapse:collapse;
width:100%;
background:#FFFFFF;
}

.portlet_calendar_grn td {
    font-size:90%;
    line-height:1.2;
    padding:5px 2px 3px 2px;
    border:1px solid #c9c9c9;
    min-width:20px;
}

.portlet_calendar_grn .normalEventElement{
margin:2px 0;
}

.portlet_calendar_grn .portlet_calendar_th_grn{
background-color:#f3f3f3;
text-align:center;
vertical-align:middle;
height:28px;
padding:0;
font-weight:bold;
color:#666666;
}

.portlet_calendar_weekday_grn{
color:#666666;
}

.portlet_calendar_sunday_grn{
color:#CE4A44;
}

.portlet_calendar_saturday_grn{
color:#3084c1;
}

.portlet_calendar_weekday_grn ,
.portlet_calendar_sunday_grn ,
.portlet_calendar_saturday_grn {
    font-weight:400;
    text-align:center;
}

.portlet_calendar_weekday_grn span,.portlet_calendar_sunday_grn span,.portlet_calendar_saturday_grn span{
display:inline-block;
}

/* portlet calendar end */

/* scroll bar */
Body{
scrollbar-face-color:#dddddd;
scrollbar-highlight-color:#dddddd;
scrollbar-shadow-color:#dddddd;
scrollbar-3dlight-color:#dddddd;
scrollbar-track-color:#F6F6F6;
scrollbar-darkshadow-color:#dddddd;
scrollbar-base-color:#dddddd;
scrollbar-arrow-color:gray;
}

div.portal_frame::-webkit-scrollbar,div.setting_portlet_frame_grn::-webkit-scrollbar,div.portlet_parts_list_base_grn::-webkit-scrollbar{
height:16px;
overflow:visible;
width:10px;
}

div.portal_frame::-webkit-scrollbar:horizontal,div.setting_portlet_frame_grn::-webkit-scrollbar:horizontal,div.portlet_parts_list_base_grn::-webkit-scrollbar:horizontal{
height:10px;
overflow:visible;
width:16px;
}

div.portal_frame::-webkit-scrollbar-thumb,div.setting_portlet_frame_grn::-webkit-scrollbar-thumb,div.portlet_parts_list_base_grn::-webkit-scrollbar-thumb{
background-color:rgba(0, 0, 0, .1);
background-clip:padding-box;
min-height:28px;
padding:100px 0 0;
}

div.portal_frame::-webkit-scrollbar-thumb:hover,div.setting_portlet_frame_grn::-webkit-scrollbar-thumb:hover,div.portlet_parts_list_base_grn::-webkit-scrollbar-thumb:hover{
background-color:#767676
}

div.portal_frame::-webkit-scrollbar-thumb:active,div.setting_portlet_frame_grn::-webkit-scrollbar-thumb:active,div.portlet_parts_list_base_grn::-webkit-scrollbar-thumb:active{
background-color:#767676
}

div.portal_frame::-webkit-scrollbar-button,div.setting_portlet_frame_grn::-webkit-scrollbar-button,div.portlet_parts_list_base_grn::-webkit-scrollbar-button{
height:0;
width:0;
}

div.portal_frame::-webkit-scrollbar-track,div.setting_portlet_frame_grn::-webkit-scrollbar-track,div.portlet_parts_list_base_grn::-webkit-scrollbar-track{
background-color:#EBEBEB;
background-clip:padding-box;
}

div.portal_frame::-webkit-scrollbar-corner,div.setting_portlet_frame_grn::-webkit-scrollbar-corner,div.portlet_parts_list_base_grn::-webkit-scrollbar-corner{
background:transparent;
}
/* scroll bar end */
