#reply_dialog a.icon-delete-grn ,
#reply_dialog a.icon-urlTip-grn {
    display:none;
}
.attachment_legacy_base_grn .icon-delete-grn {
    display: inline-block;
}

/* reply form */
.replyForm-grn {
  position:absolute;
}

.replyForm-inner-grn ,
.space-thread-replyForm-inner-grn {
    width:588px;
    border:0px;
    background-color:#ffffff;
    border-radius:0px;
    box-shadow:0 2px 16px rgba(0,0,0,.6);
}

.replyForm-header-grn , 
.space-thread-replyForm-header-grn {
    background-color:#ebebeb;
    cursor:move;
    padding:15px 15px 15px;
    border-radius:0px;
}

.replyForm-headerTitle-grn {
  font-weight:bold;
  color:#666666;
}

.replyForm-close-grn {
  float:right;
  display:block;
  background:url(../image/cybozu/image-common/closeB16.png) center 5px no-repeat;
  width:20px;
  height:30px;
  margin-top:-5px;
}

.replyForm-body-grn {
    padding:16px;
}

.replyForm-textarea-grn ,
.mention_textarea_base_grn .replyForm-textarea-grn {
    display:inline-block;
    min-width:555px;
    min-height:130px;
}

.comment_std_grn .replyForm-body-grn .attachment_legacy_base_grn {
margin-bottom: 17px;
}

.replyForm-body-grn .mention_textarea_ui_base_grn {
    margin-top:3px;
}