div.cover{
	position:absolute;
	top:0px;
	left:0px;
	background-color:black;
	-moz-opacity:0.50; /*FF*/
	opacity:0.50;
	z-index:1001;
}
div#reportRelationConfirm
{
	border:3px solid #606364;
	z-index:1003;
	position:absolute;
	width:20%;
	height:auto;
	top:40%;
	left:40%;
	padding:10px;
	background-color: white;
}
div#reportRelationWindow
{
	position:absolute;
	overflow-x:auto;
	overflow-y:visible;
	width:50%;
	top:25%;
	left:25%;
	border:3px solid #606364;
	background-color: white;
	padding:0px;
}
div#categoryFormListWindow
{
	background-color: white;
	position:absolute;
    min-width:520px;
	top:25%;
	left:25%;
	border:3px solid #606364;
}

.categoryFormListWindow_close {
    float:right;
    padding-right:5px;
}
div#categoryFormListWindow_inner {
    overflow: hidden;
    min-width: 480px;
    padding: 20px 5px 0px 20px;
    background-color: #ffffff;
}

#categoryFormListWindow_inner #view_part{
border-left:0;
}

.categoryFormListWindow_table {
    border: 1px solid #B0B0B0;
    width:100%;
}

.categoryFormListWindow_tree_part {
    overflow: auto;
    background-color: #f3f3f3;
    padding: 0px;
    min-width: 220px;
}

.categoryFormListWindow_contents {
    overflow: auto;
    height: 230px;
    min-width: 220px;
}

div#address_dialog
{
	position:absolute;
	overflow-x:auto;
	overflow-y:visible;
	width:75%;
	top:12.5%;
	left:12.5%;
	border:3px solid #606364;
	background-color: white;
	padding:0px 0px 10px 0px;
}

#address_dialog #view_part{
border-left:0;
}

div#reportRelationContent
{
	width:100%;
}

.filtersContent
{
	padding-left: 1.5em;
	overflow:hidden;
	zoom:1;
}

#filter_items {
    margin-bottom:16px;
}

div.filter_item_odd {
    border:0 !important;
}

.filter_item_odd table td {
    background: transparent;
}

div#categoryListBox
{
    overflow:auto;
    height:100%;
    border:1px solid #B0B0B0;
}
	
div#categoryFormItemListWindow
{
    background-color: white;
    position:absolute;
    overflow:none;
    width:50%;
    top:25%;
    left:15%;
    border:3px solid #606364;
}

#reportRelationContent .list_column th {
    background-color:#ebebeb;
    background-image:none;
}

#background_iframe
{
    position:absolute;
    left:0px;
    top:0px;
    background-color:black;
    height:1px;
    width:1px;
    opacity:0.5;
    display:none;
    z-index:1001
}

#report_list{
margin-bottom:3px;
}
