.comfirmVacantTimeHeader-grn{
width: 100%;
}

.comfirmVacantTimeHeader-grn img{
vertical-align:-4px;
}

.comfirmVacantTimeDate-grn{
text-align:center;
vertical-align:middle;
background-color: #fafafa;
border: 1px solid #DBDBDB;
border-radius:6px;
margin:7px 15px 7px 15px;
padding: 7px 10px 7px 10px;
}

#color_tip {
font-size:80%;
margin-top:10px;
}

#color_tip .color_tip_block{
width:50px;
height:20px;
border:1px solid #B6B6B6;
float:left;
margin:0 10px;
background: #EBEBEB;
}

#color_tip .color_tip_description{
line-height:22px;
}

#schedule_confirm{
font-size:95%;
color:#333333;
}