.search-result-grn img{
  vertical-align: middle;
  border: none;
}

.search-message {
  color: #666666;
}

.search-result-grn{
  width: 100%;
  margin-top: 10px;
  padding: 0;
  border: 0 none;
  border-collapse: collapse;
}

.search-listArea-grn{
  width: auto;
  vertical-align: top;
  padding-right: 10px;
}

.search-conditionArea-grn {
    width:270px;
    border-left:1px solid #e3e3e3;
    vertical-align:top;
    padding:0 10px 0 10px;
}

.search-conditionMainlabel-grn {
    display:block;
}

.search-listTitle-grn {
    font-size:16px;
    padding-bottom:3px;
}

.search-listTitle-grn img{
  vertical-align: -2px;
}

.search-listAppIcon-grn{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.search-listSummary-grn {
  color: #666666;
  line-height: 1.4;
  font-size: 85%;
  margin-left: 26px;
  margin-bottom: 3px;
}

.search-listKeyword-grn {
  font-weight: bold;
}

.search-listSummary-grn .search-listKeyword-grn{
  color: #000000;
  padding: 0 2px;
}

.search-listSubArea-grn {
  text-align: left;
  white-space: nowrap;
  font-size: 85%;
  margin-left: 26px;
}

.search-listAppIconSub-grn{
  margin-right: 3px;
}

.search-listAppIconSub-grn .search-space-icon{
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

.search-listSubArea-grn a:link, .search-listSubArea-grn a:visited{
  color: #6a96b6;
}

.search-listSubArea-grn a:hover{
  color: #cc3300;
}

.search-listInfoSub-grn {
  margin-right: 15px;
}

.search-listUserName-grn{
  margin-right: 15px;
}

.search-listUserDate-grn {
    white-space: nowrap;
    margin-left: 7px;
}

.search-listAttachmentIcon-grn {
  margin-right: 10px;
}

.search-listAttachmentSize-grn {
  color: #999999;
  margin-left: 10px;
  font-size: 80%;
}

.search-conditionKeywordInputBase-grn{
width:270px;
}

.search-conditionKeywordInputBase-grn input[type="submit"] ,
.search-conditionKeywordInputBase-grn input[type="submit"]:hover ,
.search-conditionKeywordInputBase-grn input[type="submit"]:active ,
.search-conditionKeywordInputBase-grn input[type="submit"][disabled] ,
.search-otherCondition-grn input[type="button"] ,
.search-otherCondition-grn input[type="button"]:hover ,
.search-otherCondition-grn input[type="button"]:active ,
.search-otherCondition-grn input[type="button"][disabled] {
    background-color:transparent;
    border:0px;
}

.search-conditionArea-grn .search-conditionKeywordInputBase-grn input[type=text] {
    padding-right:30px;
}

.search-conditionKeywordInput-grn { 
  margin: 2px 0 10px 0;
}

.search-conditionKeywordInput-grn ,
.search-conditionInputText-grn {
    width:270px;
}

.search-searchButton-grn {
    float:right;
    margin-bottom:-20px;
    position:relative;
    top:-38px;
    left:-5px;
    width:23px;
    cursor:pointer;
    background: scroll transparent url(../image/cybozu/image-common/search16.png) no-repeat center center;
}

.search-conditionSort-grn {
  margin-bottom: 10px;
  padding: 0;
  white-space: nowrap;
}

.search-conditionScope-grn {
    margin-bottom: 10px;
    padding: 0;
    white-space: nowrap;
}

.search-conditionTarget-grn {
  margin-bottom: 10px;
  padding: 0;
  white-space: nowrap;
  color: #666666;
}

.search-conditionLabel-grn {
    width:auto;
    margin-bottom:2px;
    padding:0;
    display:inline-block;
}

.search-conditionMainlabel-grn ,
.search-conditionLabel-grn {
    font-size:14px;
    color:#999999;
    font-weight:700;
}

.search-conditionSortButton-grn{
    margin: 0 10px 0 2px;
}
.search-conditionScopeButton-grn{
    margin: 0 10px 0 2px;
}
.search-conditionButtonBlock-grn {
    padding: 0;
}

.search-conditionFileApp-grn {
  clear:both;
  margin-bottom: 10px;
  padding: 0;
}

.search-conditionFileAppBlock-grn {
  clear:both;
  padding: 0;
}

.search-conditionFileSelect-grn {
    padding: 0 0 0 18px;
}

.search-conditionApp-grn {
  clear:both;
  margin-bottom: 10px;
}

.search-conditionApp-grn div {
  margin: 3px 0;
}

.search-conditionNoneSign-grn {
  font-size: 85%;
  font-weight: bold;
  color: rgb(121, 121, 121);
  padding: 3px 4px;
  margin: 0 5px auto;
  background: #E6E6E6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.search-otherCondition-grn {
  clear:both;
}

.search-conditionTermBlock-grn {
    display: block;
    width:270px;
    height:28px;
}

.search-conditionTerm-grn {
    display:inline-block;
    width:100px;
}

.search-conditionInputText-grn ,
.search-conditionKeywordInput-grn ,
.search-conditionTermInput-grn {
    border-radius:0px;
    border:1px solid #999999;
    background:#fff;
    box-shadow:none;
}

.search-conditionTermSub-grn {
    display:inline-block;
    width:28px;
    line-height:28px;
    text-align:center;
    position:relative;
    top:-28px;
    left:10px;
}

.search-conditionTerm-grn input.search-conditionTermInput-grn {
    width:122px;
    padding-left:24px;
}

.search-conditionTermInputCalendar-grn {
    position:relative;
    top:-28px;
    left:3px;
    width:22px;
    cursor:pointer;
    background:scroll transparent url(../image/cybozu/image-common/calendarB16.png) no-repeat center center;
}

.search-buttonMainBlock-grn {
    padding-top:0;
    margin-top:20px;
    margin-bottom:15px;
    clear:both;
}

.search-buttonMainBlock-grn .search-buttonMain-grn,
.search-listMoreButtonBlock-grn a:link,
.search-buttonMainBlock-grn .search-buttonMain-grn:hover,
.search-listMoreButtonBlock-grn a:hover {
  -webkit-appearance: none;
  display: block;
  min-width: 150px;
  height: auto;
  line-height: 1.2;
  border-radius: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.search-buttonMainBlock-grn .search-buttonMain-grn ,
.search-listMoreButtonBlock-grn a:link {
    background-color:#0e74dd;
    border:1px solid #0e74dd;
}

.search-buttonMainBlock-grn .search-buttonMain-grn:hover ,
.search-listMoreButtonBlock-grn a:hover {
    background-color:#0b5fb4;
    border:1px solid #0b5fb4;
}

.textDisable-grn{
  color: #BBBBBB;
}

.search-conditionInputText-grn {
  padding: 0 5px;
  width:260px;
}

.search-otherConditionTable-grn{
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
}

.search-otherConditionTableLabel-grn{
  white-space: nowrap;
  width: 20%;
}

.search-otherConditionTable-grn td{
  padding-top: 5px;
}

.search-otherConditionTableRight-grn{
  text-align: right;
}

.searchDateCalendarInputRight{
  float: right;
}

.search-otherCondition-grn{
  padding: 0;
  margin-bottom: 15px;
}

.clear_both_0px{
  clear:both;
  font-size:0;
  height:0;
  line-height:0;
}

.search-listBlock-grn{
  margin: 6px 15px 20px 5px;
}

.search-result-grn input:focus, .search-result-grn textarea:focus {
border: 1px solid #67B5F0;
}

.search-listMenu-grn{
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 13px 0;
    padding: 0 0 8px 0;
}

.search-listMenu-grn img{
    vertical-align: -3px;
    margin-right:2px;
}

.search-listMenuItem-grn{
    display: inline-block;
    margin-right:10px;
}

.search-listMenu-grn .separator-grn{
    height: 16px;
    border-right:1px solid #ffffff;
    border-left:1px solid #666666;
    font-size: 0;
    line-height: 0;
    width: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right:10px;
}

.search-listAreaOption-grn .hidden {
    display: none;
}

.search-listAreaOption-grn .list_column TH {
    padding: 6px 0 4px 3px;
    white-space: nowrap;
}

.search-listAreaOption-grn .list_column td {
    padding: 11px 10px 4px 5px;
    vertical-align: middle;
}

.search-listAreaOption-grn .list_column td.td-date{
    font-size: 85%;
    padding-right: 5px;
}

.search-listAreaOption-grn .linetwo,.search-listAreaOption-grn .lineone {
    background-color: transparent;
}

.search-listAreaOption-grn .list_column td.search-listAreaOptionSummary-grn{
    padding: 3px 0 10px;
    border-bottom:1px solid #c9c9c9;
}

.search-listSummary-grn {
    margin-left: 28px;
}

.search-listAreaOption-grn .list_menu {
    margin: 5px 0 7px 0;
    vertical-align: middle;
}

.search-listAreaOption-grn .selectMove-grn{
    margin-right: 3px;
    position: relative;
    top: 1px;
    height: 19px;
}

.search-listAreaOption-grn .selectMoveBottom-grn{
    margin: 7px 3px 0 0;
    position: relative;
    top: 0;
    height: 19px;
}

.search-listAreaOption-grn .selectMoveDisable-grn{
    background-color: #f3f3f3;
    border: 1px solid #DDDDDD;
    color: #BBBBBB;
}

.search-information-grn{
    padding:8px;
    background-color:#edf4fb;
    border:1px solid #8AB1D1;
    border-radius:0px;
    margin:25px 20px 15px 20px;
}

.search-informationText-grn{
    line-height: 1.4;
    background: url(../image/cybozu/image-common/information16.png) no-repeat;
    padding-left: 20px;
    font-size:85%;
}

.td-checkbox {
    max-width: 40px;
}

.td-title {
    max-width: 1200px;
}

.td-name {
    max-width: 400px;
}

.search-conditionKeywordTarget-grn {
    clear:both;
    margin-bottom: 10px;
}

.search-inputCheckbox-grn {
    margin-right: 3px;
}

.search-conditionTitleApp-grn {
    clear:both;
    padding: 0;
}

.search-filetypeLabel-grn {
    width: auto;
    color: #999999;
    padding: 0 3px 0 0;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
}

.search-filetypeLabel-disabled-grn {
    width: auto;
    color: #BBBBBB;
    padding: 0 3px 0 0;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
}

.search-conditionsPartition-grn{
    border-top: 1px dashed #DDDDDD;
    clear:both;
    font-size:0;
    height:0;
    line-height:0;
    margin-bottom:10px;
}
