BODY {
    -webkit-text-size-adjust:100%;
}

/* .com header */
#header-wrap {
    position: absolute;
}

.cloudHeader-grn {
  position:static;
}
/* .com header end */

.space-add-userSearch-text{
width:94%;
}
