
/* .com header */
#header-wrap {
    position: absolute;
}

.cloudHeader-grn {
    position:static;
}

#cloudHeader-startApplicationmenu-grn {
    maxHeight:'9999px'
}

#popup_notification_header {
    maxHeight:'9999px'
}