body {
    min-width: 0; /* overwrite grn/html/std.css */
    font-size: 95%; /* overwrite grn/html/std.css; same as grn/html/Design-**.css:body */
    margin: 0 1px;  /* overwrite grn/html/std.css */
}
.re_content table, .re_content td {
    font-size: 100%; /* overwirte tinymce; same as grn/html/std.css:body */
}