body {
    overflow: hidden;
}

.mce-grid-border {
    margin: 0 4px 0 4px
}

.mce-colorbutton-grid {
    margin: 4px
}

.mce-grid td.mce-grid-cell div {
    border: 1px solid #d6d6d6;
    width: 15px;
    height: 15px;
    margin: 0;
    cursor: pointer
}

div#grn_selected_color {
    border: 1px solid #d6d6d6;
    width: 40px;
    height: 20px;
}

.mce-grid td.mce-grid-cell div:focus {
    border-color: #3498db
}

.mce-grid td.mce-grid-cell div[disabled] {
    cursor: not-allowed
}

.mce-grid {
    border-spacing: 2px;
    border-collapse: separate
}

.mce-grid a {
    display: block;
    border: 1px solid transparent
}

.mce-grid a:hover,
.mce-grid a:focus {
    border-color: #3498db
}

.mce-colorbtn-trans div {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    color: #707070
}