.selectmenu_base_grn ,
.selectmenu_disable_grn {
    display:inline-block;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    vertical-align:middle;
}

.selectmenu_grn dt ,
.selectmenu_grn dd {
    margin:0;
    padding:0;
}

.selectmenu_style1_grn a {
    background-color:#ffffff;
    background-repeat:repeat-x;
    background-attachment:scroll;
}

.selectmenu_grn a {
    cursor:pointer;
}

.selectmenu_grn a,
.selectmenu_disable_grn {
  display: inline-block;
  padding: 0 4px;
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  vertical-align: middle;
}

.list_column_grn .selectmenu_grn dt a {
  padding: 0 8px;
}

.selectmenu_disable_filter_grn a:link ,
.selectmenu_disable_filter_grn a:hover ,
.selectmenu_disable_filter_grn a:visited {
    background-image:none;
    background:#d3d3d3;
    text-shadow:none;
    box-shadow:none;
    border:1px solid #B6B6B6;
    color:#222222;
    text-decoration:none;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity:0.3;
    opacity:0.3;
    cursor:default;
    outline:none;
}

.pulldown_menu_grn {
    overflow-y: auto;
    overflow-x: hidden;
}

.pulldown_menu_grn {
    position:absolute;
    z-index:110;
    text-decoration:none;
    line-height:1.4;
}

.pulldown_menu_grn ul {
    padding:0;
    margin: 0 0 5px;
}

.pulldown_menu_grn li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
}

.pulldown_menu_grn a:link,
.pulldown_menu_grn a:visited,
.pulldown_menu_grn a:hover,
.pulldown_menu_grn a:active {
  font-size: 14px;
  line-height: 1.2;
}

.list_column TH .pulldown_menu_grn li {
    font-size:14px;
}

.pulldown_menu_grn span {
    vertical-align:middle;
}

.pulldown_menu_grn li a {
    text-decoration:none;
    white-space:nowrap;
    background:none;
    border:none;
    cursor:pointer;
    vertical-align:middle;
    display:block;
    border-radius:0;
}

.pulldown_menu_grn li a:hover {
    background-color:#cce4f1;
    text-decoration:none;
    border:none;
}

.pulldown_menu_grn .pulldown_menu_disable_style_grn {
    display:inline-block;
    text-decoration:none;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity:0.3;
    opacity:0.3;
}

.pulldown_menu_select_mark_grn ,
.pulldown_menu_select_mark_none_grn {
    display:inline-block;
    height:16px;
    width:10px;
    margin-right:3px;
    line-height:1.3;
}

.pulldown_menu_select_mark_grn {
    background:url(../../../image/cybozu/image-common/check10.png) no-repeat left center;
}

.pulldown_menu_2way_grn ul {
    margin-bottom:0;
}